<div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">

              <div class="col-xl-12 col-lg-12 mb-4" >
                <div class="card">
                   <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">supplier Requests</h6>
                      <!-- <a class="m-0 float-right btn btn-danger btn-sm" href="#">View More <i
                         class="fas fa-chevron-right"></i></a> -->
                   </div>
                   <div class="table-responsive">
                      <table class="table align-items-center table-flush" id="recent" >
                         <thead class="thead-light">
                            <tr>
                               <th>Request Type	</th>
                               <th>Supplier</th>
                               <th>Supplier Type</th>
                               <th>Country</th>
                               <th>Justification</th>
                               <!-- <th>Currency</th>
                               <th>Amount Paid</th> -->
                               <th>Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let item of supplierRequests">
                               <td>{{item.RequestType}}</td>
                               <td>{{item.Supplier}}</td>
                               <td>{{item.SupplierType}}</td>
                               <td>{{item.Country}}</td>
                               <td>{{item.justification}}</td>
                               <!-- <td>{{item.CURRENCY}}</td>
                               <td>{{item.AMOUNT_PAID}}</td> -->
                               <td><a href="javascript:void(0)" class="btn btn-sm btn-primary">Detail</a></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                   <div class="card-footer"></div>
                </div>
             </div>
              </div>
              </div>
              </div>
              </div>