<!-- <script>
  async function loadFile('assets/npmdown.txt') {
    let text = await file.text();
    document.getElementById('output').textContent = text;
  }
</script> -->
<!-- <div class="page_loader"></div>


<div class="login-22">

        <div class="row">
            <div class="col-lg-6 col-md-12 bg-img none-992">
                <div class="info">
                    <h1>Welcome to craftsman Automation Supplier Portal</h1>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 bg-color-13">
                <div class="form-section">
                    <div class="logo clearfix">
                        <a href="login.html">
                            <img src="assets/img/supplierLogo.jpg" alt="logo">
                        </a>
                    </div>
                    <h3>Sign into your account
                    </h3>
                    <div class="login-inner-form">

                            <div class="form-group form-box" *ngIf="user">
                                <input type="text" name="email" class="input-text" placeholder="Email"
                                [(ngModel)]="login.email">

                            </div>
                            <div class="form-group mb-0" *ngIf="user">
                                <button type="submit" id="myBtn" class="btn-md btn-theme btn-block next"
                                 (click)="getPassword()">
                                    Next</button>
                            </div>

                    </div>

                      <div class="login-inner-form" *ngIf="pass">

                        <h4><small>Welcome </small>{{login.userName}}</h4>

                            <div class="form-group form-box" *ngIf="pass">
                                <input type="password" name="password" class="input-text" placeholder="password"
                                [(ngModel)]="login.password">

                            </div>
                            <div class="form-group mb-0" *ngIf="pass">
                                <button type="submit" class="btn-md btn-theme btn-block  submit"
                                 id="submit" (click)="loginPage()">Submit</button>
                            </div>

                    </div>

   <div class="form-group form-box">
    <div class="checkbox clearfix">
        <br>
         <a [routerLink]="['/auth/activate']">Activate Account</a>
 </div>
                       <div class="checkbox clearfix">
                               <br>
                                <a [routerLink]="['/auth/forget-pass']">Forgot Password</a>
                        </div> -->
<!-- <div class="checkbox clearfix">
                               <br>
                                <a [routerLink]="['/auth/registration']">New Supplier Registration? <span>Click here</span></a>
                    </div> -->
<!-- </div>

                </div>
            </div>
        </div>

</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container> -->

<div>
  <!-- <img src="{{logo}}" alt="logo"> -->
  <div class="page_loader"></div>
  <!-- Login 22 start -->
  <div class="login-22">
    <div class="container-fluid h-100">
      <div class="row justify-content-center align-items-center h-100"  >
        <!-- <div class="col-sm-3 announcement" style="overflow: auto;">
          <span style="font-size: 22px;"> <i class="fas fa-bullhorn">&nbsp;<strong>Announcement </strong>  </i></span>
          <hr>
          <div class="m-1 p-1" style="border-bottom: solid; border-width: thin;
          text-align:justify;" *ngFor="let news of newsList">
            <h5> <i class="fas fa-flag" style="color: red;"> </i><b> {{news.HEADING}}</b> </h5>
            <p>{{news.CONVERSATION_TEXT}} </p>
          </div>
        </div> -->
        <div class="col-sm-10 ml-2" >

      <div class="row  justify-content-center align-items-center h-100 bg-1">
         <!-- <h4 class="align-items-center">Welcome to Supplier Portal of {{companyName}}...</h4> <br> -->
        <div class="col-sm-4 ">
          <div class="head-login">Announcement</div>
        </div>
        <div class="col-sm-4">
          <div class="head-login">Welcome to Supplier portal</div>
        </div>
        <div class="col-sm-4">
          <div class="head-login">Login</div>
        </div>
      </div>

      <div class="row  justify-content-center align-items-center h-100">
        <div class="col-lg-4 col-md-12 none-992 announcement">
          <!-- <span style="font-size: 22px;"> <i class="fas fa-bullhorn">&nbsp;<strong>Announcement </strong>  </i></span> -->
          <!-- <hr> -->
          <div class="marquee" width="100%" direction="up" height="100%">
            <div class="m-1 p-1" style="border-bottom: solid; border-width: thin;
            text-align:justify;" *ngFor="let news of newsList">
              <h6> <i class="fas fa-flag" style="color: red;" *ngIf="news.IMPORTANT_FLAG ==='Y'"></i>
              <b> {{news.HEADING}}</b> </h6>
              <p style="font-size: 13px;">{{news.CONVERSATION_TEXT}} </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 bg-img none-992">
          <img class="bg-img" src="{{image}}" alt="logo">
        </div>
        <div class="col-lg-4 col-md-12 bg-color-13">

          <div class="form-section" >
            <div class="logo clearfix">
              <a href="login.html">
                <img src="{{logo}}" alt="logo">
              </a>
            </div>
            <div *ngIf ="downtimeFlag">
              <p style="color: black;"> <b> {{downtimeText}}</b></p>
            </div>
            <div *ngIf ="!downtimeFlag">
            <h3>Sign into your account
            </h3>
            <div class="login-inner-form user mb-0">
              <div class="form-group form-box" *ngIf="user">
                <input type="text" placeholder="Email / Mobile" name="email" class="input-text" [(ngModel)]="login.email">
              </div>
              <div class="form-group mb-0" *ngIf="user">
                <button type="submit" id="myBtn" class="btn-md btn-theme btn-block next"
                  (click)="getPassword()">Next</button>
              </div>
            </div>
            <div class="login-inner-form pass mb-0" *ngIf="pass" >
              <h3  class="mb-0" style="padding-bottom :2px" ><small>Welcome </small><strong>{{login.userName}}</strong></h3>
              <div class="form-group form-box mb-0" style="padding-bottom:8px"*ngIf="pass">
                <input type="password" name="username" class="input-text" placeholder="password"
                  [(ngModel)]="login.password">
              </div>
              <div *ngIf="pass">
                <div >
                  <div class="mb-0" style="float:left; width: 50%;">
                   <div class="float-left">
                    <canvas #canvasView width="100" height="40" style="padding-top:8px"></canvas>
                   </div>
                   <div class="float-right">
                    <i class='fa fa-refresh' style="color: palevioletred;padding-top: 23px; padding-right: 10px;" (click)="setCanvas()" ></i>
                   </div>
                  </div>
                  <div class="form-group form-box mb-0" style="padding-top:8px; float:right; width: 50%;">
                    <input type="text" *ngIf="originalCaptcha" placeholder="Captcha" [(ngModel)]="captchaEntered"
                      name="captacha" class="form-control" id="cpatchaTextBox" />
                  </div>
                </div>
              </div>
              <div class="form-group mb-0"  *ngIf="pass">
                <button type="submit" class="btn-md btn-theme btn-block  submit" id="submit"
                  (click)="loginPage()">Submit</button>
              </div>
            </div>
            <div class="form-group form-box mb-0">
              <div class="checkbox clearfix mb-0">
                <div class="row mb-0" style="margin-top: 15px;">
                  <div class="col-lg-6 col-md-12 align-items-left">
                    <div>
                      <a [routerLink]="['/auth/activate']" *ngIf="!pass">Activate Account</a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 align-items-right">
                    <a [routerLink]="['/auth/forget-pass']">Forgot Password</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row  justify-content-center align-items-center h-100">
        <div class="col-md-12 bg-2">
          <div class="head-login"><span class="d-block text-center text-xs-left d-sm-inline-block" style="font-size: 12px;">© 2021 <a
                href="{{website}}" target="_blank"> {{copyright}}</a>All Rights Reserved.</span></div>
        </div>
      </div>
      <div class="row  justify-content-center align-items-center h-100">
        <div class="col-md-12">
        <!-- <div class="head-login d-flex pt-3" > -->
                   <div class="float-left mt-2" style="width:75%;">
                    <p style="font-size: 10px;"><strong>Disclaimer : </strong> Supplier Portal application has been built to work best in the latest
            desktop, laptop and mobile browsers, meaning older browsers might display differently styled,
            though fully functional renderings of certain components. </p>
          </div>
          <div align="end" class="float-right w-20 mt-2 mr-0" style="width:25%;">
            <a href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#myModal1'" class="btn btn-primary"
            style="font-size: 10px; background: #1e79d7"> VIEW SUPPORTED BROWSERS</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>

  </div>
</div>

<div class="modal fade" id="myModal1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SUPPORTED BROWSERS</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <!-- <div class="table table-bordered p-3"> -->
              <table class="table" id="listtest">
                <thead class="thead-light">
                  <tr>
                    <th>Browser</th>
                    <th>Desktop </th>
                    <th>Mobile Device</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> Chrome</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td> Edge</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td> FireFox</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td> Interner Explorer (IE 11+)</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td> Opera</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td> Safari</td>
                    <td> </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>

                </tbody>
              </table>
              <!-- </div> -->

            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
      </div> -->

    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    createCaptcha()
    $('.file_input_button').mouseover(function () {
      $(this).addClass('file_input_button_hover');
    });

    $('.file_input_button').mouseout(function () {
      $(this).removeClass('file_input_button_hover');
    });

    $('.file_input_hidden').change(function () {

      var fileInputVal = $(this).val();

      // fileInputVal = fileInputVal.replace("C:"\"fakepath"\"", "");

      $(this).parent().prev().val(fileInputVal);

    });
  });


  var code;
  function createCaptcha() {
    //clear the contents of captcha div first
    document.getElementById('captcha').innerHTML = "";
    var charsArray =
      "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
    var lengthOtp = 6;
    var captcha = [];
    for (var i = 0; i < lengthOtp; i++) {
      //below code will not allow Repetition of Characters
      var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
      if (captcha.indexOf(charsArray[index]) == -1)
        captcha.push(charsArray[index]);
      else i--;
    }
    var canv = document.createElement("canvas");
    canv.id = "captcha";
    canv.width = 100;
    canv.height = 50;
    var ctx = canv.getContext("2d");
    ctx.font = "25px Georgia";
    ctx.strokeText(captcha.join(""), 0, 30);
    //storing captcha so that can validate you can save it somewhere else according to your specific requirements
    code = captcha.join("");
    document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
  }
  function validateCaptcha() {
    event.preventDefault();
    debugger
    if (document.getElementById("cpatchaTextBox").value == code) {
      alert("Valid Captcha")
    } else {
      alert("Invalid Captcha. try Again");
      createCaptcha();
    }
  }

</script>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
