

<div id="wrapper" >
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div class="container-fluid" id="container-wrapper" *ngIf = "!nextPage">
                <div class="row mb-3 pl-3 pr-3" id="filter">
                    <div class=" card w-100 p-3">
                        <div class="col-sm-12">

                            <div class="row ">
                              <div class='col-md-2'>
                                 <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                       <input id="datepicker" width="276" />
                                    </div>
                                 </div>
                              </div>
                              <div class='col-sm-2'>
                                 <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                       <input id="datepicker1" width="276" />
                                    </div>
                                 </div>
                              </div>
                              <div class='col-sm-1'>
                                 <br>
                                 <a href="javascript:void(0)" class="btn   btn-primary mt-2"
                                    (click)="getGateEntries()">View</a>
                              </div>

                                <div class="col-sm-4">
                                    <br>
                                    <div class="input-group  mt-2">
                                        <input type="text" class="form-control" placeholder="Enter Your Search Text"
                                        [(ngModel)]="searchText" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <Button class="input-group-text" id="basic-addon2" type="submit"
                                            (click)="showHideTable()">Search</Button>
                                        </div>
                                    </div>

                                </div>
                                <div class='col-sm-2'>

                                    <br>
                                    <div class="float-right">
                                        <a  class=" float-right btn btn-primary btn-md mt-2" href="javascript:void(0)" (click)="onOpenModel()"
                                        data-toggle="modal" data-target="#myModal">Create Gate Entry </a>
                                      </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="showHide">
                    <div class="card w-100" id="pending-details">
                       <div class="table-responsive  p-3">
                          <table class="table align-items-center table-flush" id="Pending-table">
                             <thead class="thead-light">
                                <tr>
                                   <th>Gate Entry Number</th>
                                   <th>Date</th>
                                   <th>Notes</th>
                                   <th>View</th>
                                   <!-- <th>Freight Amount</th>
                                   <th>Invoice Amount</th>
                                   <th>Status</th> -->
                                </tr>
                             </thead>
                             <tbody>
                                <tr *ngFor="let element of showDoc">

                                   <td>{{element.GATE_ENTRY_ID}}</td>
                                   <td>{{element.CREATION_DATE}}</td>

                                   <td>{{element.NOTES}} </td>



                                   <td>
                                    <button type="button" (click)="goNextPage(element)" class="btn btn-primary mt-2">Details</button>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>


                </div>
                </div>
                </div>
                </div>

                <div class="modal  fade"  id="myModal">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">

                        <div class="modal-header">
                          <h4 class="modal-title">Gate Entry</h4>
                          <button type="button" class="close" data-dismiss="modal" >&times;</button>
                        </div>
                        <form #exampleForm1="ngForm">
                        <div class="modal-body" >




                          <div>
                            <div class="form-group">
                                <label>ASN Number</label>
                                <div class="row">
                                 <div class= "col-4">
                                <input type="text" class="form-control ud" [(ngModel)]="asnEntered" name="number" id="exampleInputFirstName" placeholder=" " required>
                                 </div>
                                 <div class="col-1"></div>
                                    <div class="col-3">
                                    <button type="button" class="btn btn-primary mt-2 text-center align-self-center"  (click)="getASNDetails()"
                                    [disabled] = "!(asnEntered.length>0)">Find</button>
                                 </div>
                                </div>

                              </div>
                          </div>
                          <div>
                            <div class="form-group" *ngIf="lotListView">
                                <label>Notes</label>
                                <input type="text" class="form-control ud" [(ngModel)]="notes" name="number12" id="exampleInputFirstName" placeholder=" " required>


                              </div>
                          </div>


                          <div id="wrapper">
                            <div id="content-wrapper" class="d-flex flex-column">
                                <div id="content">
                                   <!-- Container Fluid-->
                                   <div class="container-fluid" id="container-wrapper">
                                      <!--Row start-->









                                      <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="lotListView">
                                         <div class="col-sm-12">
                                            <div class="row">
                                               <div id="accordion" class="myaccordion w-100">
                                                   <div class="card card-2"
                                                   *ngFor="let element of asnHeader ;let i=index;">
                            <div class="card-header" id="heading{{i}}">
                            <div class="mb-0">
                             <div class="row">
                                <div class="col-sm-2">

                                   <div class="form-group c1">
                                      <div class="ctrl-label">ASN No</div>
                                      <div class="ctrl-value">{{element.ASN_ID}}
                                         <!-- <a class="text-primary" onclick=" Listview( 'B00001')"> 1</a> -->
                                        </div>
                                   </div>


                                   <div class="form-group c4">
                                      <div class="ctrl-label">Waybill Number</div>
                                      <div class="ctrl-value">{{element.WAYBILL_NUMBER}}</div>
                                   </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group c1">
                                      <div class="ctrl-label"> Order Number</div>
                                      <div class="ctrl-value">{{element.DELIVERY_ORDER_NUMBER}}
                                         <!-- <a   onclick=" Listview( 'B00001')">B00001</a> -->
                                        </div>
                                   </div>

                                   <div class="form-group c5">
                                      <div class="ctrl-label">Freight Terms</div>
                                      <div class="ctrl-value">{{element.FREIGHT_TERMS}}</div>
                                   </div>
                                </div>
                                <div class="col-sm-3">
                                   <div class="form-group c3">
                                      <div class="ctrl-label">Delivery Date</div>
                                      <div class="ctrl-value"> {{element.DELIVERY_ORDER_DATE}} </div>
                                   </div>

                                   <div class="form-group c8">
                                      <div class="ctrl-label">Shipping Method</div>
                                      <div class="ctrl-value">{{element.SHIPPING_METHOD}}</div>
                                   </div>
                                </div>
                                <div class="col-sm-2">
                                     <div class="form-group c2">
                                      <div class="ctrl-label">Expected Receipt Date</div>
                                      <div class="ctrl-value">{{element.EXPECTED_RECEIPT_DATE}}</div>
                                   </div>




                                </div>
                                <div class="col-sm-2">
                                  <div class="form-group c6">
                                      <div class="ctrl-label">Bill of Lading</div>
                                      <div class="ctrl-value">{{element.BILL_OF_LADING}}</div>
                                   </div>

                            </div>

                             </div>
                            </div>

                            <div id="collapse{{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                            data-parent="#accordion">
                            <div class="card-body{{i}}">
                               <div class="table-responsive  p-3">
                                  <table class="table align-items-center table-flush" id="test{{i}}">
                                     <thead class="thead-light">
                                        <tr>
                                           <th>PO Number</th>
                                           <th>Line No</th>
                                           <th>Shipment</th>
                                           <th>Item</th>
                                           <th>Ordered</th>
                                           <th>UOM</th>
                                           <!-- <th>Received Quantity</th>
                                           <th>Ship To</th> -->
                                           <th>Shipped Quantity</th>

                                        </tr>
                                     </thead>
                                     <tbody>
                                        <tr *ngFor="let element1 of asnHeader[i].list">

                                           <td>{{element1.PO_NUMBER}}</td>
                                           <td><a href="javascript:void(0)">{{element1.PO_LINE_NUMBER }}</a></td>
                                           <td>{{element1.PO_SHIPMENT_NUMBER}}</td>

                                           <td>
                                              <!-- <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION }}"> -->
                                                 {{element1.ITEM_DESCRIPTION}}
                                              <!-- </div> -->
                                           </td>
                                           <td>{{element1.ORDERED_QTY | number}}</td>
                                           <td>{{element1.UOM }}</td>
                                           <!-- <td>{{element1.RECEIVED_QTY}}</td>                -->

                                           <!-- <td style="text-align:right">{{element1.PRICE }}</td>
                                           <td>{{element1.NEED_BY_DATE }}</td>
                                           <td> {{element1.PROMISED_DATE }}</td> -->
                                           <!-- <td> <span *ngIf="element1.RECEIVED_QTY === '0'"> {{ element1.RECEIVED_QTY }} </span><a *ngIf="element1.RECEIVED_QTY !== '0'" href="javascript:void(0)" (click)="clickedLineId(element1.LINE_LOCATION_ID)">{{element1.RECEIVED_QTY }}</a></td> -->
                                           <!-- <td> {{element1.PO_CURRENCY }}</td> -->
                                           <td> {{element1.BALANCE_QTY | number}}</td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                            </div>
                            </div>
                            </div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>


                                      <!-- <div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!lotListView">
                                        <div class="col-sm-12 p-3"  id="goback">
                                          <div class="d-inline-flex p-2 text-center" style="margin-left: 40%;"><b><h5>Lot Details </h5></b></div>
                                           <div class="  float-right">
                                              <button class="btn btn-primary btn-sm" (click)="goBack()">GO Back</button>
                                           </div>
                                        </div>
                                        <div class="card w-100" id="list-table">
                                           <div class="table-responsive  p-3">
                                               <table class="table align-items-center table-flush" id="listtest">
                                               <thead class="thead-light">
                                               <tr>
                                                 <th >Lot Number</th>
                                                 <th  >Shipped Quantity</th>
                                                  <th  >Grade</th>
                                                     </tr>
                                                  </thead>
                                                  <tbody>
                                                   <tr  *ngFor="let element2 of lotDetails">

                                                 <td>{{element2.LOT_NUMBER}}</td>
                                                 <td>{{element2.QUANTITY | number}}</td>
                                                 <td>{{element2.GRADE}}</td>

                                                     </tr>
                                                 </tbody>
                                              </table>
                                            </div>
                                        </div>
                                    </div> -->

                                      <!--Row end-->
                                   </div>
                                   <!---Container Fluid-->
                                </div>
                                <!-- Footer -->
                                <!-- Footer -->
                             </div>
                            </div>

                        </div>
                         </form>

                         <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Accept()"
                          [disabled] = "!(asnHeader.length>0)">Accept</button> &nbsp;
                          <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal" (click)="Reject()">Reject</button>
                        </div>

                       </div>
                    </div>
                  </div>
                  <div>
                  <div class="row" *ngIf="nextPage" >
                  <div class="col-sm-12" >
                     <div class="  float-right">
                        <button class="btn btn-primary btn-md m-2" (click)="goBack()">GO Back</button>
                     </div>
                  </div>
               </div>
                  <div *ngIf="nextPage">
                     <div id="content-wrapper" class="d-flex flex-column">
                         <div id="content">
                            <!-- Container Fluid-->
                            <div class="container-fluid" id="container-wrapper">
                               <!--Row start-->


                               <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="lotListView">
                                  <div class="col-sm-12">
                                     <div class="row">
                                        <div id="accordion" class="myaccordion w-100">
                                            <div class="card card-2"
                                            *ngFor="let element of asnHeader ;let i=index;">
                     <div class="card-header" id="heading{{i}}">
                     <div class="mb-0">
                      <div class="row">
                         <div class="col-sm-2">

                            <div class="form-group c1">
                               <div class="ctrl-label">ASN No</div>
                               <div class="ctrl-value">{{element.ASN_ID}}
                                  <!-- <a class="text-primary" onclick=" Listview( 'B00001')"> 1</a> -->
                                 </div>
                            </div>


                            <div class="form-group c4">
                               <div class="ctrl-label">Waybill Number</div>
                               <div class="ctrl-value">{{element.WAYBILL_NUMBER}}</div>
                            </div>
                         </div>
                         <div class="col-sm-2">
                             <div class="form-group c1">
                               <div class="ctrl-label">Invoice Number</div>
                               <div class="ctrl-value">{{element.DELIVERY_ORDER_NUMBER}}
                                  <!-- <a   onclick=" Listview( 'B00001')">B00001</a> -->
                                 </div>
                            </div>

                            <div class="form-group c5">
                               <div class="ctrl-label">Freight Terms</div>
                               <div class="ctrl-value">{{element.FREIGHT_TERMS}}</div>
                            </div>
                         </div>
                         <div class="col-sm-3">
                            <div class="form-group c3">
                               <div class="ctrl-label">Delivery Date</div>
                               <div class="ctrl-value"> {{element.DELIVERY_ORDER_DATE}} </div>
                            </div>

                            <div class="form-group c8">
                               <div class="ctrl-label">Shipping Method</div>
                               <div class="ctrl-value">{{element.SHIPPING_METHOD}}</div>
                            </div>
                         </div>
                         <div class="col-sm-2">
                              <div class="form-group c2">
                               <div class="ctrl-label">Expected Receipt Date</div>
                               <div class="ctrl-value">{{element.EXPECTED_RECEIPT_DATE}}</div>
                            </div>




                         </div>
                         <div class="col-sm-2">
                           <div class="form-group c6">
                               <div class="ctrl-label">Bill of Lading</div>
                               <div class="ctrl-value">{{element.BILL_OF_LADING}}</div>
                            </div>

                     </div>

                      </div>
                     </div>

                     <div id="collapse{{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                     data-parent="#accordion">
                     <div class="card-body{{i}}">
                        <div class="table-responsive  p-3">
                           <table class="table align-items-center table-flush" id="test{{i}}">
                              <thead class="thead-light">
                                 <tr>
                                    <th>PO Number</th>
                                    <th>Line No</th>
                                    <th>Shipment</th>
                                    <th>Item</th>
                                    <th>Ordered</th>
                                    <th>UOM</th>
                                    <!-- <th>Received Quantity</th>
                                    <th>Ship To</th> -->
                                    <th>Shipped Quantity</th>

                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let element1 of asnHeader[i].list">

                                    <td>{{element1.PO_NUMBER}}</td>
                                    <td><a href="javascript:void(0)">{{element1.PO_LINE_NUMBER }}</a></td>
                                    <td>{{element1.PO_SHIPMENT_NUMBER}}</td>

                                    <td>
                                       <!-- <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION }}"> -->
                                          {{element1.ITEM_DESCRIPTION}}
                                       <!-- </div> -->
                                    </td>
                                    <td>{{element1.ORDERED_QTY | number}}</td>
                                    <td>{{element1.UOM }}</td>
                                    <!-- <td>{{element1.RECEIVED_QTY}}</td>                -->

                                    <!-- <td style="text-align:right">{{element1.PRICE }}</td>
                                    <td>{{element1.NEED_BY_DATE }}</td>
                                    <td> {{element1.PROMISED_DATE }}</td> -->
                                    <!-- <td> <span *ngIf="element1.RECEIVED_QTY === '0'"> {{ element1.RECEIVED_QTY }} </span><a *ngIf="element1.RECEIVED_QTY !== '0'" href="javascript:void(0)" (click)="clickedLineId(element1.LINE_LOCATION_ID)">{{element1.RECEIVED_QTY }}</a></td> -->
                                    <!-- <td> {{element1.PO_CURRENCY }}</td> -->
                                    <td> {{element1.BALANCE_QTY | number}}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     </div>
                     </div>
                     </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>



                            </div>

                         </div>

                      </div>
                     </div>
                  </div>


                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <notifier-container></notifier-container>





