<!--

   <ul class="navbar-nav sidebar sidebar-light accordion" [class.toggled]="navServices.collapseSidebar" id="accordionSidebar">
    <li *ngIf = "accountType !=='SUPPLIER' && accountType !=='SECURITY'" class="nav-item" >
       <a class="nav-link collapsed ml-2"  [routerLink]="['/craftsmanautomation/dashboard']" >
          <i class="fas fa-clipboard"></i>
       <span>Dashboard</span>
       </a>

    </li>
  <li class="nav-item" *ngIf = "accountType !=='SECURITY'">
     <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
        aria-expanded="true" aria-controls="collapseBootstrap">
     <i class="far fa-fw fa-file"></i>
     <span>Procurement</span>
     </a>
     <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pendingOrder']" routerLinkActive="router-link-active" >Pending Purchase Orders</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pastPurchaseOrders']" routerLinkActive="router-link-active">Past Purchase Orders</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pendingAgreement']" routerLinkActive="router-link-active">Pending Purchase Agreements</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pastAgreements']" routerLinkActive="router-link-active">Past Purchase Agreements</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pendingRelease']" routerLinkActive="router-link-active">Pending Purchase Release </a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pastRelease']" routerLinkActive="router-link-active">Past Purchase Release </a>
           <a *ngIf = "accountType==='SUPPLIER'" class="collapse-item" [routerLink]="['/craftsmanautomation/purchase/pendingAcceptance']" routerLinkActive="router-link-active">PO Acknowledgement</a>
           <a *ngIf = "accountType==='SUPPLIER'" class="collapse-item"  [routerLink]="['/craftsmanautomation/purchase/createquote']" routerLinkActive="router-link-active">Create Quote</a>
        </div>
     </div>
  </li>

  <li class="nav-item" *ngIf = "accountType !=='SECURITY'">
    <a *ngIf="accountType!=='SUPPLIER'" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage2"
       aria-expanded="true" aria-controls="collapsePage2">
    <i class="fas fa-sign-out-alt"></i>
    <span>Sourcing</span>
    </a>
    <div id="collapsePage2" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
       <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Approve Quote</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Quotation Analysis</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Technical Evaluation</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Award PO</a>

       </div>
    </div>
 </li>


  <li class="nav-item" *ngIf = "accountType !=='SECURITY'">
     <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
        aria-controls="collapseTable">
     <i class="fas fa-fw fa-truck"></i>
     <span>Shipment</span>
     </a>
     <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/shipment/advanceShipments']" routerLinkActive="router-link-active">Advance Shipment Notice</a>
           <a *ngIf = "accountType==='BUYER'" class="collapse-item" [routerLink]="['/craftsmanautomation/shipment/intransitAsn']" routerLinkActive="router-link-active">Intransit ASN</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/shipment/viewreceipts']" routerLinkActive="router-link-active">View Receipts</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/shipment/viewreturns']" routerLinkActive="router-link-active">View Returns</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/shipment/viewDelivery']" routerLinkActive="router-link-active">View Delivery Performance</a>
        </div>
     </div>
  </li>


  <li class="nav-item" *ngIf = "accountType !=='SECURITY'">
     <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
        aria-controls="collapsePage">
     <i class="fas fa-fw fa-coins"></i>
     <span>Finance</span>
     </a>
     <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
           <a *ngIf="accountType ==='SUPPLIER'" class="collapse-item" [routerLink]="['/craftsmanautomation/finance/createinvoice']" routerLinkActive="router-link-active">Create  Invoice</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/finance/invoiceRegister']" routerLinkActive="router-link-active">Invoice Register</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/finance/paymentRegister']" routerLinkActive="router-link-active">Payment Register</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/finance/advancePayment']" routerLinkActive="router-link-active">View Advance Payment </a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/finance/myLedger']" routerLinkActive="router-link-active">My Ledger</a>
        </div>
     </div>
  </li>
  <a class="collapse-item" [routerLink]="['/craftsmanautomation/finance/uploadinvoice']" routerLinkActive="router-link-active">Upload  Invoice</a>


  <li class="nav-item"  *ngIf = "accountType ==='BUYER' && role === 'ADMIN'">
    <a *ngIf="accountType!=='SUPPLIER'" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage3"
       aria-expanded="true" aria-controls="collapsePage3">
    <i class="fas fa-thumbs-up"></i>
    <span>Approvals</span>
    </a>
    <div id="collapsePage3" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
       <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Supplier Requests</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Location Requests</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Contact Requests</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Bank Account Requests</a>

       </div>
    </div>
 </li>

 <li class="nav-item" *ngIf = "accountType ==='BUYER' && role === 'ADMIN'">
    <a *ngIf="accountType!=='SUPPLIER'" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage4"
       aria-expanded="true" aria-controls="collapsePage4">
    <i class="fas fa-users-cog"></i>
    <span>Administration</span>
    </a>
    <div id="collapsePage4" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
       <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/administration/inviteSupplier']" routerLinkActive="router-link-active">Invite New Supplier</a>
          <a class="collapse-item" [routerLink]="" routerLinkActive="router-link-active">Authorize Supplier</a>
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/administration/communication']" routerLinkActive="router-link-active">Communication</a>
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/administration/communication']" routerLinkActive="router-link-active">Notifications</a>
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/administration/menus']" routerLinkActive="router-link-active">Define Menu</a>
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/administration/roles']" routerLinkActive="router-link-active">Define Roles</a>
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/administration/users']" routerLinkActive="router-link-active">Define Users</a>

       </div>
    </div>
 </li>

  <li class="nav-item" *ngIf = "accountType !=='SECURITY'">
     <a *ngIf = "accountType==='SUPPLIER'" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage1" aria-expanded="true"
        aria-controls="collapsePage1">
     <i class="fas fa-fw fa-address-card"></i>
     <span>  Profile Management</span>
     </a>
     <div id="collapsePage1" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/profile/generalInfo']" routerLinkActive="router-link-active">Manage General Information</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/profile/profileLocation']" routerLinkActive="router-link-active">Manage Locations</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/profile/profileContact']" routerLinkActive="router-link-active">Manage Contacts</a>
           <a class="collapse-item" [routerLink]="['/craftsmanautomation/profile/managebank']" routerLinkActive="router-link-active">Manage Bank Accounts</a>
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/profile/profileProduct']" routerLinkActive="router-link-active">Products and Services</a>
        </div>
     </div>
  </li>

  <li class="nav-item" *ngIf = "accountType==='SECURITY'">
    <a  class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage12" aria-expanded="true"
       aria-controls="collapsePage1">
    <i class="fas fa-fw fa-address-card"></i>
    <span> Gate Entry</span>
    </a>
    <div id="collapsePage12" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
       <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" [routerLink]="['/craftsmanautomation/gate']" routerLinkActive="router-link-active">Gate Entry</a>
       </div>
    </div>
 </li>

</ul>
 -->

 <ul class="navbar-nav sidebar sidebar-light accordion" [class.toggled]="navServices.collapseSidebar" id="accordionSidebar">
  <!-- <li *ngIf = "accountType !=='SUPPLIER' && accountType !=='SECURITY'" class="nav-item" >
     <a class="nav-link collapsed ml-2"  [routerLink]="['/craftsmanautomation/dashboard']" >
        <i class="fas fa-clipboard"></i>
     <span>Dashboard</span>
     </a>
  </li> -->

<li *ngIf = "accountType !=='SECURITY'">
  <div  class="nav-item" *ngFor="let menu of parentMenuList; let i = index;">
   <a class="nav-link collapsed" href="#" data-toggle="collapse" attr.data-target="#collapseBootstrap{{i}}"
      aria-expanded="true" aria-controls="collapseBootstrap">
   <i class="{{menu.IMAGE_NAME}}"></i>
     <span (click)="getsubMenu(menu.MENU_ID)">{{menu.MENU_NAME}}</span>
    </a>
     <div id="collapseBootstrap{{i}}" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar"
     *ngIf="menu.parentMenuFlagwithNoSubmenu">
      <div class="bg-white py-2 collapse-inner rounded" >
        <!-- routerLink="{{submenu.APPLICATION_PATH}}" routerLinkActive="router-link-active" -->
        <div *ngFor=" let submenu of parentMenuList[i].submenuList; let j=index"
        (click)="menuRedirectTo(submenu.APPLICATION_PATH)" routerLinkActive="router-link-active">
         <a class="collapse-item"  *ngIf="submenu.DISPLAY_FLAG ==='Y'"
         (click)="collapseSidebar()">
            {{submenu.MENU_NAME}}
         </a>
        </div>
      </div>
   </div>
</div>
</li>
</ul>
