<div class="page_loader"></div>
<!-- Login 22 start -->
<div>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-lg-5 col-md-12 none-992"> -->
      <!-- <img class = "bg-img" src="{{image}}" alt="logo"> -->
      <!-- <div class="info"> -->
      <!-- <div class="logo clearfix">
            <a href="login.html">
              <img src="{{logo}}" alt="logo">
            </a>
          </div>
          <h1>Welcome to Craftsman Supplier Portal</h1> -->

      <!-- </div> -->
      <!-- </div> -->
      <div class="col-lg-12 col-md-12  " style="max-height: 80%;overflow-y: auto;">
        <div class="shadowEff">
          <div class="row">
            <div class="col-sm-12">
              <h4> Supplier Registration</h4>
            </div>
            <div class="col-sm-4">
              <!-- <div class="logo clearfix float-right">
                <a href="login.html">
                  <img src="{{logo}}" alt="logo">
                </a>
              </div> -->
            </div>
          </div>
          <form id="registerForm" (ngSubmit)="submitterdForm()">
            <div class="row">
              <div id="wizard" #wizard>
                <!-- SECTION 1 -->
                <h4></h4>
                <section>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Supplier Name</label>
                        <input [(ngModel)]="register.HEADER.VENDOR_NAME" name="supplierName" type="text"
                          class="form-control" id="exampleInputFirstName" placeholder=" ">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Legal Name</label>
                        <input type="text" [(ngModel)]="register.HEADER.LEGAL_NAME" name="legalName"
                          class="form-control" id="exampleInputFirstName" placeholder=" ">
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Request Reason</label>
                        <select class="form-control" [(ngModel)]="register.HEADER.REQUEST_REASON" name="requestReason">
                          <option value="">Select</option>
                          <option value="new">New Supplier Request</option>
                          <option value="once">one-time Supplier Registration</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Justification</label>
                        <textarea type="text" [(ngModel)]="register.HEADER.JUSTIFICATION" name="justification" rows="3"
                          class="form-control" id="exampleInputFirstName" placeholder=" "></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <a data-toggle="modal" href="#myModalAttachFile1">Attach File</a>
                      <!-- <div class="form-group">
                      <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
                          <input type="file" name="file" class="files" (change)="onFilesAdded($event, 1)" #myFileInput
                        accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                        <p *ngIf="filenameWithoutno1.length !=0 ">{{filenameWithoutno1.length}} Files Added</p>
                        <div *ngFor="let file of filenameWithoutno1; let i=index;">
                          <span >{{file}}<i class="fa fa-close"></i>
                            <button type="button" class="close" (click)="removeFile(i)">&times;</button>
                          </span>
                      </div>
                    </div> -->
                    </div>
                  </div>
                  <div class="row" *ngIf="headerFlag">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <!-- <div class="table table-bordered p-3"> -->
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th>S.No</th>
                              <th>FileName </th>
                              <th>Description</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let files of this.filenameWithoutno1; let j = index;">
                              <td> {{j+1}}</td>
                              <td> {{files.FILE_NAME}}</td>
                              <td>{{files.DESCRIPTION}}</td>
                              <td><a href="javascript:void(0)" (click)="removeFile(j, 1)">
                                  <i class="fas fa-trash text-red"> </i></a> </td>
                            </tr>
                          </tbody>
                        </table>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </section> <!-- SECTION 2 -->
                <h4></h4>
                <section>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Company Type </label>
                        <select class="form-control" [(ngModel)]="register.HEADER.COMPANY_TYPE" name="companyType">
                          <option value=''>Select</option>
                          <option value='Private'>Private</option>
                          <option value='Publice'>Publice</option>
                          <option value='Government'>Government</option>
                          <option value='Proprietor'>Proprietor</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Supplier Type</label>
                        <select class="form-control" [(ngModel)]="register.HEADER.VENDOR_TYPE" name="supplierType">
                          <option value=''>Select</option>
                          <option value='Supply'>Supply</option>
                          <option value='Service'>Service</option>
                          <option value='Tax Authority'>Tax Authority</option>
                          <option value='Trading'>Trading</option>
                          <option value='Importer'>Importer</option>
                          <option value='Manufacturer'>Manufacturer</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Corporate Website</label>
                        <input type="text" [(ngModel)]="register.HEADER.WEBSITE" name="corporateWebsite"
                          class="form-control" id="exampleInputFirstName" placeholder=" ">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- <div class="col-sm-4">
                      <div class="form-group">
                        <label>Tax Country</label>
                        <select [(ngModel)]="register.HEADER.TAX_COUNTRY" name="taxCountry" class="form-control">
                          <option value=''>Select</option>
                          <option value='Malaysia'>Malaysia</option>
                          <option value='India'>India</option>

                        </select>
                      </div>
                    </div> -->
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Tax Country</label>
                        <select [(ngModel)]="register.HEADER.TAX_COUNTRY" name="taxCountry"
                          (ngModelChange)="getStateList(address.COUNTRY)" class="form-control">
                          <option value=''>Select</option>
                          <option *ngFor="let item of sortedCountryList" [value]="item">{{item}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label *ngIf="register.HEADER.TAX_COUNTRY !='India'">Tax Payer Id</label>
                        <label *ngIf="register.HEADER.TAX_COUNTRY ==='India'">PAN No</label>
                        <input type="text" name="taxPayerId" [(ngModel)]="register.HEADER.TAX_PAYER_ID"
                          name="taxPayerId" class="form-control" id="exampleInputFirstName" placeholder=" ">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <a data-toggle="modal" href="#myModalAttachFile2">Attach File</a>
                      <!-- <div class="form-group">
                          <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
                              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 2)" #myFileInput
                            accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                            <p *ngIf="filenameWithoutno2.length !=0 ">{{filenameWithoutno2.length}} Files Added</p>
                            <div *ngFor="let file of filenameWithoutno2; let i=index;">
                              <span >{{file}}<i class="fa fa-close"></i>
                                <button type="button" class="close" (click)="removeFile(i,2)">&times;</button>
                              </span>
                          </div>
                        </div> -->
                    </div>
                  </div>
                  <div class="row" *ngIf="headerFlag1">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <!-- <div class="table table-bordered p-3"> -->
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th>S.No</th>
                              <th>FileName </th>
                              <th>Description</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let files of this.filenameWithoutno2; let j = index;">
                              <td> {{j+1}}</td>
                              <td> {{files.FILE_NAME}}</td>
                              <td>{{files.DESCRIPTION}}</td>
                              <td><a href="javascript:void(0)" (click)="removeFile(j, 2)">
                                  <i class="fas fa-trash text-red"> </i></a> </td>
                            </tr>
                          </tbody>
                        </table>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>


                </section> <!-- SECTION 3 -->
                <h4></h4>
                <section>
                  <div class="row">
                    <div *ngFor="let addr of register.ADDRESSES.ADDRESS" class="col-sm-6 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">{{addr.ADDRESS_NAME}}</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Country</div>
                              <div class="value">{{addr.COUNTRY}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">State</div>
                              <div class="value">{{addr.STATE}}</div>
                            </div>
                          </div>

                          <div class="label">Address</div>
                          <div class="value"> {{addr.ADDRESS_LINE1}},{{addr.ADDRESS_LINE2}}</div>

                          <div class="single-row">
                            <div>
                              <div class="label">City</div>
                              <div class="value">{{addr.CITY}}</div>
                            </div>
                            <div class="text-right">

                              <div class="label">Postal code</div>
                              <div class="value">{{addr.POSTAL_CODE}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div>
                              <div class="label">Phone </div>
                              <div class="value">{{addr.PHONE}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Fax</div>
                              <div class="value">{{addr.FAX}}</div>
                            </div>
                          </div>
                          <!-- <div class="label">Email</div>
                          <div class="value">{{addr.EMAIL_ADDRESS}}</div> -->
                          <div class="single-row">
                            <div>
                              <div class="label">Email</div>
                              <div class="value">{{addr.EMAIL_ADDRESS}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label" *ngIf="addr.COUNTRY !='India'">Tax Registration Number</div>
                              <div class="label" *ngIf="addr.COUNTRY ==='India'">GST Registration Number</div>
                              <div class="value">{{addr.TAX_REGISTRATION_NUMBER}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                      <div class="add-addrees" data-toggle="modal" data-target="#myModal1">Add Address</div>
                    </div>
                  </div>
                </section> <!-- SECTION 4 -->
                <h4></h4>
                <section>
                  <div class="row">
                    <div *ngFor="let cont of register.CONTACTS.CONTACT" class="col-sm-6 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">Contacts</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Salutation</div>
                              <div class="value">{{cont.PREFIX}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">First Name</div>
                              <div class="value">{{cont.FIRST_NAME}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div>
                              <div class="label">Middle Name</div>
                              <div class="value">{{cont.MIDDLE_NAME}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Last Name</div>
                              <div class="value">{{cont.LAST_NAME}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div>
                              <div class="label">Job Title </div>
                              <div class="value">{{cont.JOB_TITLE}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Mobile</div>
                              <div class="value">{{cont.MOBILE}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label">Phone </div>
                              <div class="value">{{cont.PHONE}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Fax</div>
                              <div class="value">{{cont.FAX}}</div>
                            </div>
                          </div>




                          <div class="label">Email</div>
                          <div class="value">{{cont.EMAIL_ADDRESS}}</div>
                        </div>
                      </div>

                    </div>

                    <div class="col-sm-4 col-xs-6">
                      <div class="add-addrees" data-toggle="modal" data-target="#myModal2">Add Contact</div>
                    </div>


                  </div>
                </section>
                <h4></h4>
                <section>

                  <div class="row" *ngFor="let bankAcc of register.BANKS.BANK">

                    <div *ngIf="bankAcc" class="col-sm-6 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">Bank Account</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Country</div>
                              <div class="value">{{bankAcc.COUNTRY}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Bank </div>
                              <div class="value">{{bankAcc.BANK}}</div>
                            </div>
                          </div>


                          <div class="single-row">
                            <div>
                              <div class="label" *ngIf="bankAcc.COUNTRY !='India'">Branch Number</div>
                              <div class="label" *ngIf="bankAcc.COUNTRY ==='India'">IFSC Code</div>
                              <div class="value"> {{bankAcc.BANK_BRANCH_NUMBER}}</div>
                            </div>
                            <div class="text-right">


                              <div class="label">Branch Name</div>
                              <div class="value">{{bankAcc.BANK_BRANCH_NAME}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label">Account Name </div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_NAME}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Account Type</div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_TYPE}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div *ngIf="bankAcc.COUNTRY !='India'">
                              <div class="label">BIC</div>
                              <div class="value">{{bankAcc.BIC}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Account Number</div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_NUMBER}}</div>
                            </div>
                          </div>

                          <div class="label" *ngIf="bankAcc.COUNTRY !='India'">IBAN</div>
                          <div class="value" *ngIf="bankAcc.COUNTRY !='India'">{{bankAcc.IBAN}}</div>

                          <div class="label">Currency</div>
                          <div class="value">{{bankAcc.CURRENCY}}</div>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="bankAcc && bankAcc.intermidiate" class="col-sm-6 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">Intermidiate Bank Account</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Country</div>
                              <div class="value">{{bankAcc.INT_BANK_COUNTRY}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Bank </div>
                              <div class="value">{{bankAcc.INT_BANK}}</div>
                            </div>
                          </div>


                          <div class="single-row">
                            <div>
                              <div class="label" *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">Branch Number</div>
                              <div class="label" *ngIf="bankAcc.INT_BANK_COUNTRY ==='India'">IFSC Code</div>
                              <div class="value"> {{bankAcc.INT_BANK_BRANCH_NUMBER}}</div>
                            </div>
                            <div class="text-right">


                              <div class="label">Branch Name</div>
                              <div class="value">{{bankAcc.INT_BANK_BRANCH_NAME}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label">Account Name </div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_NAME}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Account Type</div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_TYPE}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">
                              <div class="label">BIC</div>
                              <div class="value">{{bankAcc.INT_BIC}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Account Number</div>
                              <div class="value">{{bankAcc.INT_BANK_ACCOUNT_NUMBER}}</div>
                            </div>
                          </div>

                          <div class="label" *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">IBAN</div>
                          <div class="value" *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">{{bankAcc.INT_IBAN}}</div>

                          <div class="label">Currency</div>
                          <div class="value">{{bankAcc.CURRENCY}}</div>
                        </div>
                      </div>

                    </div>




                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="add-addrees" data-toggle="modal" data-target="#myModal3">Add Bank Account</div>
                    </div>

                    <div class="col-sm-4">
                      <canvas #canvasView width="100" height="50"></canvas>
                      <!-- <div id="captcha">
</div> -->
                      <input type="text" *ngIf="originalCaptcha" placeholder="Captcha" [(ngModel)]="captchaEntered"
                        name="captacha" class="form-control" id="cpatchaTextBox" />
                    </div>
                  </div>
                </section>


                <!-- </section> -->


              </div>

            </div>
          </form>


        </div>

      </div>
    </div>
  </div>
</div>



<!-- Login 22 end -->
<!-- The Modal add address-->
<div class="modal fade" id="myModal1">
  <div class="modal-dialog ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Address</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address Name</label>
              <input type="text" [(ngModel)]="address.ADDRESS_NAME" name="addressName" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Country</label>
              <select [(ngModel)]="address.COUNTRY" name="addresscountry"
                (ngModelChange)="getStateList(address.COUNTRY)" class="form-control">
                <option value=''>Select</option>
                <option *ngFor="let item of sortedCountryList" [value]="item">{{item}}</option>


              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address Line 1</label>
              <input type="text" [(ngModel)]="address.ADDRESS_LINE1" name="addressLine1" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Address Line 2</label>
              <input type="text" [(ngModel)]="address.ADDRESS_LINE2" name='addressLine2' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>City</label>
              <input type="text" [(ngModel)]="address.CITY" name="addresscity" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>State</label>
              <select class="form-control" name="addressstate" [(ngModel)]="address.STATE">
                <option value=''>Select</option>
                <option *ngFor="let item of sortedStateList" [value]="item">{{item}}</option>


              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Postal Code</label>
              <input type="text" [(ngModel)]="address.POSTAL_CODE" name="address.postalCode" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" [(ngModel)]="address.PHONE" class="form-control" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Fax</label>
              <input type="text" [(ngModel)]="address.FAX" class="form-control" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input type="text" [(ngModel)]="address.EMAIL_ADDRESS" class="form-control" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label *ngIf="address.COUNTRY !='India'">Tax Registration Number</label>
              <label *ngIf="address.COUNTRY ==='India'">GST Registration Number</label>
              <input type="text" [(ngModel)]="address.TAX_REGISTRATION_NUMBER" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <!-- <div class="form-group">
              <label>Email</label>
              <input type="text" [(ngModel)]="address.EMAIL_ADDRESS" class="form-control" id="exampleInputFirstName"
                placeholder=" ">
            </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <a data-toggle="modal" href="#myModalAttachFile3">Attach File</a>
            <!-- <div class="form-group">
              <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 3)" #myFileInput
                accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
              <p *ngIf="filenameWithoutno3.length !=0 ">{{filenameWithoutno3.length}} Files Added</p>
              <div *ngFor="let file of filenameWithoutno3; let i=index;">
                <span>{{file}}<i class="fa fa-close"></i>
                  <button type="button" class="close" (click)="removeFile(i, 3)">&times;</button>
                </span>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row" *ngIf="addressFlag">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="form-group">
              <!-- <div class="table table-bordered p-3"> -->
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>S.No</th>
                    <th>FileName </th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let files of this.filenameWithoutno3; let j = index;">
                    <td> {{j+1}}</td>
                    <td> {{files.FILE_NAME}}</td>
                    <td>{{files.DESCRIPTION}}</td>
                    <td><a href="javascript:void(0)" (click)="removeFile(j, 3)">
                        <i class="fas fa-trash text-red"> </i></a> </td>
                  </tr>
                </tbody>
              </table>
              <!-- </div> -->
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" (click)="addAddress()" data-dismiss="modal">Add</button>
      </div>

    </div>
  </div>
</div>
<!-- External JS libraries -->

<!-- contact model -->

<div class="modal fade" id="myModal2">
  <div class="modal-dialog ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Contact</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Salutation</label>
              <select class="form-control" [(ngModel)]="contact.PREFIX">
                <option value=''>Select</option>
                <option value='Mr'>Mr</option>
                <option value='Ms'>Ms</option>
                <option value='Miss'>Miss</option>
                <option value='Mrs'>Mrs</option>
                <option value='Dr'>Dr</option>

              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" id="exampleInputFirstName" [(ngModel)]="contact.FIRST_NAME"
                placeholder=" ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Middle Name</label>
              <input type="text" class="form-control" [(ngModel)]="contact.MIDDLE_NAME" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="contact.LAST_NAME" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Job Title</label>
              <input type="text" class="form-control" id="exampleInputFirstName" [(ngModel)]="contact.JOB_TITLE"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" id="exampleInputFirstName" [(ngModel)]="contact.PHONE"
                placeholder=" ">
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Fax</label>
              <input type="text" class="form-control" [(ngModel)]="contact.FAX" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="contact.EMAIL_ADDRESS" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" (click)="addContact()" data-dismiss="modal">Add</button>
      </div>

    </div>
  </div>
</div>
<!-- Bank model -->

<div class="modal fade " id="myModal3">
  <div class="modal-dialog model-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Bank Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Country</label>
              <select [(ngModel)]="bankAccounts.COUNTRY" name="addresscountry" class="form-control"
                id="exampleInputFirstName">
                <option value=''>Select</option>
                <option *ngFor="let item of sortedCountryList" [value]="item">{{item}}</option>


              </select>
            </div>
            <!-- <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.COUNTRY" id="exampleInputFirstName"
                placeholder=" ">
            </div> -->
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Bank</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <!-- </div> -->
          <!-- <div class="row"> -->
          <div class="col-sm-6">
            <div class="form-group">
              <label *ngIf="bankAccounts.COUNTRY != 'India'">Branch Number</label>
              <label *ngIf="bankAccounts.COUNTRY === 'India'">IFSC Code</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_BRANCH_NUMBER"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Branch Name</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_BRANCH_NAME"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <!-- </div> -->

          <!-- <div class="row"> -->
          <div class="col-sm-6" *ngIf="bankAccounts.COUNTRY != 'India'">
            <div class="form-group">
              <label>BIC</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.BIC" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Account Number</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_ACCOUNT_NUMBER"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <!-- </div> -->



          <!-- <div class="row"> -->
          <div class="col-sm-6">
            <div class="form-group">
              <label>Account Name</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_ACCOUNT_NAME"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Account Type</label>
              <!-- <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_ACCOUNT_TYPE"
                id="exampleInputFirstName" placeholder=" "> -->
              <select class="form-control" [(ngModel)]="bankAccounts.BANK_ACCOUNT_TYPE">
                <option>Select</option>
                <option value='SAVINGS'>SAVINGS</option>
                <option value='CURRENT'>CURRENT</option>
                <option value='BUSINESS'>BUSINESS</option>

              </select>
            </div>
          </div>
          <!-- </div> -->

          <!-- <div class="row"> -->
          <div class="col-sm-6" *ngIf="bankAccounts.COUNTRY != 'India'">
            <div class="form-group">
              <label>IBAN</label>
              <input type="text" class="form-control" [(ngModel)]="bankAccounts.IBAN" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Currency</label>
              <select class="form-control" [(ngModel)]="bankAccounts.CURRENCY">
                <option>Select</option>
                <option *ngFor="let item of currencyList" [value]="item.CURRENCY_CODE">{{item.CURRENCY_CODE}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a data-toggle="modal" href="#myModalAttachFile4">Attach File</a>
            <!-- <div class="form-group">
              <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 4)" #myFileInput
                accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
              <p *ngIf="filenameWithoutno4.length !=0 ">{{filenameWithoutno4.length}} Files Added</p>
              <div *ngFor="let file of filenameWithoutno4; let i=index;">
                <span>{{file}}<i class="fa fa-close"></i>
                  <button type="button" class="close" (click)="removeFile(i, 4)">&times;</button>
                </span>
              </div>
            </div> -->
          </div>
        </div>
        <div class="row" *ngIf="bankFlag">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="form-group">
              <!-- <div class="table table-bordered p-3"> -->
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>S.No</th>
                    <th>FileName </th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let files of this.filenameWithoutno4; let j = index;">
                    <td> {{j+1}}</td>
                    <td> {{files.FILE_NAME}}</td>
                    <td>{{files.DESCRIPTION}}</td>
                    <td><a href="javascript:void(0)" (click)="removeFile(j, 4)">
                        <i class="fas fa-trash text-red"> </i></a> </td>
                  </tr>
                </tbody>
              </table>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Add Intermidiate Bank</label>

              <div class=" ">
                <input type="checkbox" class="form-controls" [(ngModel)]="bankAccounts.intermidiate"
                  (ngModelChange)="addIntermidiateBankAccount()" id="ibaccount">&nbsp;
                <label for="ibaccount"> Yes</label>
              </div>


            </div>
          </div>
        </div>

        <div class="Intermidiate" *ngIf="bankAccounts.intermidiate">
          <div class="row">
            <div class="col-sm-6">
              <!-- <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_BANK_COUNTRY"
                  id="exampleInputFirstName" placeholder=" ">
              </div> -->
              <div class="form-group">
                <label>Country</label>
                <select [(ngModel)]="bankAccounts.INT_BANK_COUNTRY" class="form-control" id="exampleInputFirstName">
                  <option value=''>Select</option>
                  <option *ngFor="let item of sortedCountryList" [value]="item">{{item}}</option>


                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Bank</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_BANK" id="exampleInputFirstName"
                  placeholder=" ">
              </div>
            </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
            <div class="col-sm-6">
              <div class="form-group">
                <!-- <label>Branch Number</label> -->
                <label *ngIf="bankAccounts.INT_BANK_COUNTRY != 'India'">Branch Number</label>
                <label *ngIf="bankAccounts.INT_BANK_COUNTRY === 'India'">IFSC Code</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_BANK_BRANCH_NUMBER"
                  id="exampleInputFirstName" placeholder=" ">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Branch Name</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_BANK_BRANCH_NAME"
                  id="exampleInputFirstName" placeholder=" ">
              </div>
            </div>
            <!-- </div> -->

            <!-- <div class="row"> -->
            <div class="col-sm-6" *ngIf="bankAccounts.INT_BANK_COUNTRY != 'India'">
              <div class="form-group">
                <label>BIC</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_BIC" id="exampleInputFirstName"
                  placeholder=" ">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Account Number</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_BANK_ACCOUNT_NUMBER"
                  id="exampleInputFirstName" placeholder=" ">
              </div>
            </div>
            <!-- </div> -->



            <!-- <div class="row"> -->
            <div class="col-sm-6">
              <div class="form-group">
                <label>Account Name</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_ACCOUNT_NAME"
                  id="exampleInputFirstName" placeholder=" ">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Account Type</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.BANK_ACCOUNT_TYPE"
                  id="exampleInputFirstName" placeholder=" ">
              </div>
            </div>
            <!-- </div> -->

            <!-- <div class="row"> -->
            <div class="col-sm-6" *ngIf="bankAccounts.INT_BANK_COUNTRY != 'India'">
              <div class="form-group">
                <label>IBAN</label>
                <input type="text" class="form-control" [(ngModel)]="bankAccounts.INT_IBAN" id="exampleInputFirstName"
                  placeholder=" ">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Currency</label>
                <select class="form-control" [(ngModel)]="bankAccounts.CURRENCY">
                  <option>Select</option>
                  <option value='MYR'>MYR</option>
                  <option value='USD'>USD</option>
                  <option value='EUR'>EUR</option>
                  <option value='INR'>INR</option>

                </select>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button
            type="button" class="btn btn-primary" (click)="addAccount()" data-dismiss="modal">Add</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalAttachFile1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File Attachment(s)</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <input type="text" [(ngModel)]="description" name="description" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 1)" #myFileInput
                accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
              <p *ngIf="filenameWithoutno1.length !=0 ">{{filenameWithoutno1.length}} Files Added</p>
              <div *ngFor="let file of filenameWithoutno1; let i=index;">
                <span>{{file.FILE_NAME}}
                  <button type="button" class="close" (click)="removeFile(i,1)">&times;</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="submitAttchment(1)">submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalAttachFile2">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File Attachment(s)</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <input type="text" [(ngModel)]="description" name="description" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 2)" #myFileInput
                accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
              <p *ngIf="filenameWithoutno2.length !=0 ">{{filenameWithoutno2.length}} Files Added</p>
              <div *ngFor="let file of filenameWithoutno2; let i=index;">
                <span>{{file.FILE_NAME}}<i class="fa fa-close"></i>
                  <button type="button" class="close" (click)="removeFile(i,2)">&times;</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="submitAttchment(2)">submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalAttachFile3">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File Attachment(s)</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <input type="text" [(ngModel)]="description" name="description" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 3)" #myFileInput
                accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
              <p *ngIf="filenameWithoutno3.length !=0 ">{{filenameWithoutno3.length}} Files Added</p>
              <div *ngFor="let file of filenameWithoutno3; let i=index;">
                <span>{{file.FILE_NAME}}<i class="fa fa-close"></i>
                  <button type="button" class="close" (click)="removeFile(i, 3)">&times;</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="submitAttchment(3)">submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalAttachFile4">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File Attachment(s)</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Description</label>
              <input type="text" [(ngModel)]="description" name="description" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
              <input type="file" name="file" class="files" (change)="onFilesAdded($event, 4)" #myFileInput
                accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
              <p *ngIf="filenameWithoutno4.length !=0 ">{{filenameWithoutno4.length}} Files Added</p>
              <div *ngFor="let file of filenameWithoutno4; let i=index;">
                <span>{{file.FILE_NAME}}<i class="fa fa-close"></i>
                  <button type="button" class="close" (click)="removeFile(i, 4)">&times;</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="submitAttchment(4)">submit</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Registering... </p>
</ngx-spinner>
<notifier-container></notifier-container>


<!-- <script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> -->

<!-- <script src="../../cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script> -->
<!-- Custom JS Script -->



<script type="text/javascript">
  $(document).ready(function () {
    $(".pass").hide();

    $(".Intermidiate").hide();

    $("#ibaccount").click(function () {

      if ($(this).is(':checked')) {
        $(".Intermidiate").show();
      }

      else {
        $(".Intermidiate").hide();
      }

    });

    $("#myBtn").click(function () {
      $(".pass").show();
      $(".user").hide();

      return false
    });

  });


  $(function () {
    $("#wizard").steps({
      headerTag: "h4",
      bodyTag: "section",
      transitionEffect: "fade",
      enableAllSteps: true,
      transitionEffectSpeed: 500,
      onStepChanging: function (event, currentIndex, newIndex) {
        if (newIndex === 1) {
          $('.steps ul').addClass('step-2');
        } else {
          $('.steps ul').removeClass('step-2');
        }
        if (newIndex === 2) {
          $('.steps ul').addClass('step-3');
        } else {
          $('.steps ul').removeClass('step-3');
        }

        if (newIndex === 3) {
          $('.steps ul').addClass('step-4');
        } else {
          $('.steps ul').removeClass('step-4');
        }


        if (newIndex === 4) {
          $('.steps ul').addClass('step-5');
          $('.actions ul').addClass('step-last');
        } else {
          $('.steps ul').removeClass('step-5');
          $('.actions ul').removeClass('step-last');
        }
        return true;
      },
      labels: {
        finish: "Register",
        next: "Next",
        previous: "Previous"
      }
    });
    // Custom Steps Jquery Steps
    $('.wizard > .steps li a').click(function () {
      $(this).parent().addClass('checked');
      $(this).parent().prevAll().addClass('checked');
      $(this).parent().nextAll().removeClass('checked');
    });
    // Custom Button Jquery Steps
    $('.forward').click(function () {
      $("#wizard").steps('next');
    })
    $('.backward').click(function () {
      $("#wizard").steps('previous');
    })
    // Checkbox
    $('.checkbox-circle label').click(function () {
      $('.checkbox-circle label').removeClass('active');
      $(this).addClass('active');
    })
  })
</script>

<script type="text/javascript">

  $(document).ready(function () {
    createCaptcha()
    $('.file_input_button').mouseover(function () {
      $(this).addClass('file_input_button_hover');
    });

    $('.file_input_button').mouseout(function () {
      $(this).removeClass('file_input_button_hover');
    });

    $('.file_input_hidden').change(function () {

      var fileInputVal = $(this).val();

      // fileInputVal = fileInputVal.replace("C:"\"fakepath"\"", "");

      $(this).parent().prev().val(fileInputVal);

    });
  });


  var code;
  function createCaptcha() {
    //clear the contents of captcha div first
    document.getElementById('captcha').innerHTML = "";
    var charsArray =
      "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
    var lengthOtp = 6;
    var captcha = [];
    for (var i = 0; i < lengthOtp; i++) {
      //below code will not allow Repetition of Characters
      var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
      if (captcha.indexOf(charsArray[index]) == -1)
        captcha.push(charsArray[index]);
      else i--;
    }
    var canv = document.createElement("canvas");
    canv.id = "captcha";
    canv.width = 100;
    canv.height = 50;
    var ctx = canv.getContext("2d");
    ctx.font = "25px Georgia";
    ctx.strokeText(captcha.join(""), 0, 30);
    //storing captcha so that can validate you can save it somewhere else according to your specific requirements
    code = captcha.join("");
    document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
  }
  function validateCaptcha() {
    event.preventDefault();
    debugger
    if (document.getElementById("cpatchaTextBox").value == code) {
      alert("Valid Captcha")
    } else {
      alert("Invalid Captcha. try Again");
      createCaptcha();
    }
  }

</script>
