.logo img {
    width: 150px;
}
.goog-te-gadget-icon{
    display: none;
}

.notification{
  background-color: red;
}

.badge-counter{
  margin-top: -1.25rem;
}

.sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  transform: scale(.7);
  transform-origin: top right;
  right: .25rem;
  margin-top: -1.25rem;
}
