<nav class="navbar navbar-expand navbar-light bg-navbar topbar  fixed-top static-top">
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3" (click)="collapseSidebar()">
    <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav mr-auto">
       <li>
        <!-- [routerLink]="['/craftsmanautomation/dashboard']" -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="clicklogo()" >
             <div class="logo">
              <img src="{{logo}}" alt="logo">
             </div>
          </a>
       </li>
    </ul>
    <!-- <ul class="navbar-nav ml-auto">
      <li class="btn btn-inverse-primary text-primary btn-sm mt-3">
        <i class="{{icon}} ">{{greet}}</i>
      </li>
    </ul> -->
    <ul class="navbar-nav ml-auto">
       <!-- <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
             aria-labelledby="searchDropdown">
             <form class="navbar-search">
                <div class="input-group">
                   <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                   <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                      </button>
                   </div>
                </div>
             </form>
          </div>
       </li> -->
       <li class="btn btn-inverse-primary text-primary btn-sm mt-3">
        <i class="{{icon}}" style="color:darkorange"></i>&nbsp;
          <span class="h6 font-weight-bold">{{greet}}</span>
          <!-- <h2 class="h6 font-weight-bold text-center mb-3">{{greet}}</h2> -->
      </li>

       <li class="nav-item dropdown ml-auto ">

       <strong>  <a class="btn btn-inverse-primary text-primary btn-sm mt-3"  href="" data-toggle="dropdown" aria-expanded="false">
         <span class="h6 font-weight-bold"> {{breadCrumService.partyNameSelected}}</span></a> </strong>

         <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
             aria-labelledby="partyDrop" >

             <!-- <p class="mb-0 font-weight-normal float-left dropdown-header">Change Party</p> -->

             <a class="btn btn-inverse-primary btn-sm h6 font-weight-bold" *ngFor="let item of breadCrumService.partyList" (click)="breadCrumService.onSelectParty(item.PARTY_ID)" >{{item.PARTY_NAME}}</a>
             <a class="mb-0 font-weight-normal float-left dropdown-header " *ngIf="breadCrumService.partyList.length===0"> Please Wait Loading</a>
             <!-- <select class="form-control" [(ngModel)]="breadCrumService.partySelected" (change)="onSelectParty(breadCrumService.partySelected)">
                 <option *ngFor="let item of breadCrumService.partyList" [value]="item.PARTY_ID">{{item.PARTY_NAME}}</option>
              </select> -->

         </div>

     </li>

     <li class="nav-item dropdown ml-auto ">
         <a href="javascript:void(0)"  data-toggle="modal" data-target="#myModalSupply">
          <span class="h6 font-weight-bold" > <button class="btn btn-inverse-primary text-primary h6 font-weight-bold btn-sm mt-3" *ngIf="noofParties> 1"> Change </button>  </span>
         </a>
     </li>
       <li class="nav-item dropdown no-arrow mx-1">
          <!-- <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"> -->
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <span class="h6 font-weight-bold"> <i class="fas fa-bell fa-fw"></i></span>

          <span class="badge badge-danger badge-counter" >{{count}}</span></a>

          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="alertsDropdown">

            <h6 class="text-right" (click)="markAllRead()"> <a class="small text-500" href="javascript:void(0)">Mark all as read</a> </h6>
            <div >
            <h6 *ngFor="let item of notificationList; let i = index;" >
              <!-- Alerts Center -->
              <a class="small text-500" href="javascript:void(0)"  (click)="clickedLink(item.NOTIFICATION_ID, item.NOTIFICATION_LINK, item.LINK_ID)" *ngIf="i<10">
              <span  class="dropdown-item d-flex mr-1 small" *ngIf="item.NOTIFICATION_STATUS ==='R'" > {{item.NOTIFICATION_TEXT}} </span> </a>
              <a class="small text-500" href="javascript:void(0)"  (click)="clickedLink(item.NOTIFICATION_ID, item.NOTIFICATION_LINK, item.LINK_ID)" *ngIf="i<10"> <span  class="dropdown-item d-flex mr-1 small" style= "background-position-x:5px; background-color: #e7e5e659" *ngIf="item.NOTIFICATION_STATUS ==='U'"> {{item.NOTIFICATION_TEXT}} </span> </a>
            </h6>
           <h6 class="float-right">
            <a class="small text-500" href="javascript:void(0)"  (click)="viewMore()">View More
             <!-- <button type="button" (click)="viewMore()" class="btn  btn-flat mt-2">View More</button> -->
            </a>
          </h6>
          </div>
             <!-- <a class="dropdown-item d-flex align-items-center mr-3 small text-gray-500" href="javascript:void(0)">No Pending Notifications</a> -->

             <!-- <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                   <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                   </div>
                </div>
                <div>
                   <div class="small text-gray-500">December 12, 2019</div>
                   <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
             </a>
             <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                   <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                   </div>
                </div>
                <div>
                   <div class="small text-gray-500">December 7, 2019</div>
                   $290.29 has been deposited into your account!
                </div>
             </a>
             <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                   <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                   </div>
                </div>
                <div>
                   <div class="small text-gray-500">December 2, 2019</div>
                   Spending Alert: We've noticed unusually high spending for your account.
                </div>
             </a> -->
             <!-- <a class="dropdown-item text-center small text-gray-500" href="javascript:void(0)">Show All Notifications </a> -->
          </div>
       </li>
       <li class="nav-item dropdown no-arrow mx-1">
         <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown1" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-language fa-fw"></i>
         <!-- <span class="badge badge-danger badge-counter">3+</span> -->
         </a>
         <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="alertsDropdown1">
            <h6 class="dropdown-header font-weight-bold">
              <!-- <span class="h6 font-weight-bold"> </span> Language -->
            </h6>

            <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
               <div class="mr-3">
                  <div class="icon-circle bg-primary h6 font-weight-bold">
                     <span class="h6 font-weight-bold"> <i class="fas fa-language text-white"></i> </span>
                  </div>
               </div>
               <!-- [includedLanguages]="['en','ar','ms','ur','id','zh-CN','zh-TW','hi','ta']">Loading -->

               <!-- "bn", "zh-CN or zh (BCP-47),"zh-TW (BCP-47)", "da","nl","en","fi","fr","de","el","gu",
               "hi","hu","id","ga","it","ja","kn","ko","ms","ml","mr","mn","my","ne","or","fa","pl",
               "pt","pa","ro","ru","es","sv","ta","te","th","tr","tk","uk","ur","vi" -->
               <div class="h6 font-weight-bold mr-2" style="z-index:10000;">
                  <g-translate
                  pageLanguage="en"
                  [includedLanguages]="[ 'b', 'zh-CN','zh-TW', 'da','nl','en','fi','fr','de','el','gu',
                    'hi','hu','id','ga','it','ja','kn','ko','ms','ml','mr','mn','my','ne','or','fa','pl',
                    'pt','pa','ro','ru','es','sv','ta','te','th','tr','tk','uk','ur','vi']">Loading
                </g-translate>
               </div>
            </a>
         </div>
      </li>

       <div class="topbar-divider d-none d-sm-block"></div>
       <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="assets/img/default_image.png" style="max-width: 60px">
          <span class="ml-2 d-none d-lg-inline text-primary h6 font-weight-bold">{{userName}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
             <!-- <a class="dropdown-item" href="#">
             <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
             Profile
             </a> -->
             <a class="dropdown-item"  [routerLink]="['/craftsmanautomation/settings']">
             <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
             Change Password
             </a>
             <a class="dropdown-item" href="assets/Supplier_Portal_User_Guide.pdf" target='_blank'>
             <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
             User Guide
             </a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="login.html">
             <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
             Logout
             </a>
          </div>
       </li>
    </ul>
 </nav>

 <div class="modal fade"  id="myModalSupply">
   <div class="modal-dialog ">
     <div class="modal-content">
       <!-- Modal Header -->
       <div class="modal-header">
           <h4 class="modal-title">Select Supplier</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
           <div>
               <div class="form-group">
               <label> {{breadCrumService.partyList.length===0?'Loading Please Wait':'Select Supplier'}} </label>
               <input  class="form-control js-example-basic-single" list="selectParty" (keyup)="setParty($event.target.value)" id="documentNo">
               <datalist id="selectParty" >
               <select >
<option  *ngFor="let item of breadCrumService.partyList"   [value]='item.VENDOR_NAME'>{{item.VENDOR_NAME}}</option>
               </select>
               </datalist>
             </div>
        </div>

        </div>

        <div class="modal-footer">

           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
           <button type="button"
           class="btn btn-primary" (click)="confirmParty()" data-dismiss="modal" [disabled]= "!party">Confirm Supplier</button>
       </div>

  </div>
</div>
</div>
 <!-- <div id="google_translate_element" style="position: sticky; z-index: 10000; right: 25;top:50"></div> -->
