  <div id="wrapper">
    <!-- Sidebar -->
    <!-- <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="far fa-fw fa-file"></i>
          <span>Procurement</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="pending-orders.html">Pending Purchase Orders</a>
            <a class="collapse-item" href="past-orders.html">Past Purchase Orders</a>
            <a class="collapse-item" href="pending-agreements.html">Pending Purchase Agreements</a>
            <a class="collapse-item" href="past-agreements.html">Past Purchase Agreements</a>
            <a class="collapse-item" href="pending-acceptence.html">Pending For Acceptance</a>
            <a class="collapse-item" href="Uploaddoc.html">Upload Documents</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
          aria-controls="collapseTable">
          <i class="fas fa-fw fa-truck"></i>
          <span>Shipment</span>
        </a>
        <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="advanceshipments.html">Advance Shipment Notice</a>
            <a class="collapse-item" href="viewreceipts.html">View Receipts</a>
            <a class="collapse-item" href="viewreturns.html">View Returns</a>
            <a class="collapse-item" href="viewperformance.html">View Delivery Performance</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
          aria-controls="collapsePage">
          <i class="fas fa-fw fa-coins"></i>
          <span>Finance</span>
        </a>
        <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="create-invoice.html">Create Invoice</a>
            <a class="collapse-item" href="inv-register.html">Invoice register</a>
            <a class="collapse-item" href="paayment-register.html">Payment Register</a>
            <a class="collapse-item" href="view-advance-payment.html">View Advance Payment </a>
            <a class="collapse-item" href="myledger.html">My Ledger</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage1" aria-expanded="true"
          aria-controls="collapsePage1">
          <i class="fas fa-fw fa-address-card"></i>
          <span> Profile Management</span>
        </a>
        <div id="collapsePage1" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="generalinfo.html">Manage General Information</a>
            <a class="collapse-item" href="managelocations.html">Manage Locations</a>
            <a class="collapse-item" href="managecontact.html">Manage Contacts</a>
            <a class="collapse-item" href="managebank.html">Manage Bank Accounts</a>
            <a class="collapse-item" href="productandservices.html">Products and Services</a>
          </div>
        </div>
      </li>
    </ul> -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <!-- <div class="d-sm-flex align-items-center justify-content-between mt-3 ">
            <div class="headers">
              <h1 class="h3 mb-0  page-title">Role</h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Role</li>
              </ol>
            </div>
            <h5>
              <select class="form-control">
                <option>SELANGOR</option>
              </select>
            </h5>
          </div> -->
          <div class="row mt-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12  ">
              <div class="float-right mb-2">
                <button class="btn btn-primary  " data-toggle="modal" data-target="#myModal1" type="submit"
                  value="Add Location"> <i class="fas fa-plus" ></i>Add Role</button>
              </div>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">

              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Role Items</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>S.no</th>
                        <th>Role Name</th>
                        <th>Role Description</th>
                        <th>Role Access</th>
                        <th>Status </th>
                        <th>Action</th>
                        <th>Assign Menu</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of rolesList; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.ROLE_NAME}}</td>
                        <td>{{item.ROLE_DESCRIPTION}}</td>
                        <td>{{item.ROLE_ACCESS_LEVEL}}</td>
                        <td>{{item.ACTIVE_FLAG}}</td>
                        <td>
                          <!-- <a data-toggle="modal" data-target="#myModal1" class="m-0 btn btn-primary btn-sm" href="#"> <i
                              class="fas fa-pen"></i></a> -->
                              <a class="m-0 btn btn-primary btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#myModal1"
                            data-backdrop="static" (click)="editRoles(item, i)"><i class="fas fa-pen"></i></a>
                          <a class="m-0   btn btn-danger btn-sm" href="#"> <i class="fas fa-trash"></i></a>
                        </td>
                        <td> <a data-toggle="modal" data-target="#myModal2" class="m-0  btn btn-primary btn-sm"
                            href='javascript:void(0)' (click)="AssignMenu(item)"> <i class="fas fa-plus"></i> Assign Menu</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
          </div>
          <!--Row-->
        </div>
        <!---Container Fluid-->
      </div>
    </div>
  </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- popop start -->
  <div class="modal fade" id="myModal1" style="min-width: 800px;">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="!toggleButton">Add Role Items</h4>
            <h4 class="modal-title" *ngIf="toggleButton">Update Role Items</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body reg-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Role Name</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" " name="ROLE_NAME"
                  [(ngModel)]="roles.ROLE_NAME" required="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Role Description</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                  name="ROLE_DESCRIPTION" [(ngModel)]="roles.ROLE_DESCRIPTION" required="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Role Access</label>
                <select class="form-control" name="ROLE_ACCESS_LEVEL" [(ngModel)]="roles.ROLE_ACCESS_LEVEL" required="true">
                  <option>INTERNAL</option>
                  <option>EXTERNAL</option>
                  <option>ALL</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Status</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch2" name="ACTIVE_FLAG"
                    [(ngModel)]="roles.ACTIVE_FLAG" required="true">
                  <label class="custom-control-label" for="customSwitch2"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
         <!-- <-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addRoles()">Add</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!toggleButton" (click)="addRoles();" >Add</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="toggleButton" (click)="addRoles();" >Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" style="min-width: 800px;">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Assign Menu</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body reg-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                <form>
                  <div *ngFor="let object of roleAssignMentList; let i=index;">
                     <input type="checkbox" name="ROLE_ASSIGNMENT_LIST{{i}}" [(ngModel)]="object.isChecked"
                     (change)="changeSelection()" #mycheckbox > {{object.MENU_NAME}}
                  </div>
               </form>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
          <button type="button" class="btn btn-primary" (click)="addAssignMenuToRole();" data-dismiss="modal" >Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- popup end -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.min.js"></script> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
