
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">
        <!--Row start-->
        <div class="row mb-3 pl-3 pr-3" id="filter">
          <div class=" card w-100 p-3">
            <div class="col-sm-12">
              <div class="row ">
                <div class='col-sm-12'>
                  <div class="float-right">
                    <a (click)="gobackASNShipements()" routerLinkActive="router-link-active"
                      class="btn   btn-primary mt-2"> <i class="fas  fa-arrow-left"></i> &nbsp;Go Back</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 pl-3 pr-3" id="grid-sections">
          <div class="card w-100 p-3">
            <div>
              <h4 class="w-25 text-primary float-left"> <span>ASN Header Information </span></h4>
              <h4 class="w-75 float-right"><span class="asnHeaderTitle"> One Invoice for One ASN</span></h4>
            </div>
            <form #asnForm="ngForm">
              <div class="row">
                <!-- <div class="col-sm-3">
              <div class="form-group">
              <label>ASN Number</label>
               <input type="text" name="ASN_NUMBER" [(ngModel)]="asnHeaders.ASN_NUMBER" class="form-control" id="exampleInputFirstName" placeholder=" " required="true">
            </div>
            </div> -->
                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Invoice Number</label>
                    <input type="text" name="DELIVERY_ORDER_NUMBER" class="form-control"
                      [(ngModel)]="asnHeaders.DELIVERY_ORDER_NUMBER" id="exampleInputFirstName" placeholder=" "
                      required="true">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Invoice Date</label>
                    <div class='input-group date' id='datetimepicker1'>
                      <input name="DELIVERY_ORDER_DATE" id="datepicker1" value='' readonly
                        [(ngModel)]="asnHeaders.DELIVERY_ORDER_DATE" width="276" required="true"/>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Expected Receipt Date</label>
                    <div class='input-group date' id='datetimepicker2'>
                      <input id="datepicker2" name="EXPECTED_RECEIPT_DATE" value='' readonly
                        [(ngModel)]="asnHeaders.EXPECTED_RECEIPT_DATE" width="276" required="true" />
                    </div>
                  </div>
                </div>

                <!-- <div class="col-sm-3">
                  <div class="form-group">
                    <label>Freight Terms</label>
                    <select class="form-control" name="FREIGHT_TERMS" [(ngModel)]="asnHeaders.FREIGHT_TERMS" required="true">
                      <option *ngFor="let item of frightList" [value]="item.FREIGHT_CODE">{{item.DESCRIPTION}}</option>
                    </select>
                  </div>
                </div> -->

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Shipping Method</label>
                    <select class="form-control" name="SHIPPING_METHOD" [(ngModel)]="asnHeaders.SHIPPING_METHOD"
                      required="true">
                      <option>Select</option>
                      <option value="Air">Air</option>
                      <option value='Sea'>Sea</option>
                      <option value='Road'>Road</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="control-label1">Bill of Lading [ For Exports ]</label>
                    <input type="text" class="form-control" name="BILL_OF_LADING"
                      [(ngModel)]="asnHeaders.BILL_OF_LADING" id="exampleInputFirstName" placeholder=" ">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="control-label1">Waybill Number [ For Exports ]</label>
                    <input type="text" class="form-control" name="WAYBILL_NUMBER"
                      [(ngModel)]="asnHeaders.WAYBILL_NUMBER" id="exampleInputFirstName" placeholder=" ">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">E-Invoice No.</label>
                    <input type="text" name="EINVOICE_NUMBER" class="form-control"
                      [(ngModel)]="asnHeaders.EINVOICE_NUMBER" id="exampleInputFirstName" placeholder=" "
                      required="true">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Base Amount </label>
                    <input type="number" name="BASE_AMOUNT" class="form-control" [(ngModel)]="asnHeaders.BASE_AMOUNT	"
                      id="exampleInputFirstName" placeholder=" "  required="true">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Tax Amount </label>
                    <input type="number" name="TAX_AMOUNT" class="form-control" [(ngModel)]="asnHeaders.TAX_AMOUNT	"
                      id="exampleInputFirstName" placeholder=" "  required="true">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Other Amount </label>
                    <input type="number" name="OTHER_AMOUNT" class="form-control" [(ngModel)]="asnHeaders.OTHER_AMOUNT	"
                      id="exampleInputFirstName" placeholder=" "  required="true">
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group required">
                    <label class="control-label1">Total Value </label>
                    <input type="number" name="TOTAL_VALUE" class="form-control" [(ngModel)]="asnHeaders.TOTAL_VALUE	"
                      id="exampleInputFirstName" placeholder=" "  required="true">
                  </div>
                </div>


                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Remarks</label>
                    <input type="text" name="REMARKS" class="form-control" [(ngModel)]="asnHeaders.REMARKS	"
                      id="exampleInputFirstName" placeholder=" ">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group required">
                    <label class="control-label1">File</label>&nbsp;&nbsp;&nbsp;
                        <input type="file" name="file" class="files" (change)="onFilesAdded($event)" #myFileInput
                      accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                      <p *ngIf="filenameWithoutno.length !=0 ">{{filenameWithoutno.length}} Files Added</p>
                      <div *ngFor="let file of filenameWithoutno; let i=index;">
                        <span >{{file}}<i class="fa fa-close"></i>
                          <button type="button" class="close" (click)="removeFile(i)">&times;</button>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="row mt-3 ">
              <div class="pl-3 pr-3 w-100">
                <h4 class="text-primary">ASN Line Information <button class="float-right btn btn-primary  btn-sm"
                    data-toggle="modal" data-target="#myModal1" data-backdrop="static" type="submit"
                    value="Add Location" (click)="AddLineCalled()">Add ASN Line</button>
                </h4>
              </div>
              <div class="table-responsive p-3">
                <table class="table table-bordered" id="listtest">
                  <thead class="thead-light">
                    <tr>
                      <th>Purchase Order No</th>
                      <th>Line No</th>
                      <!-- <th>Shipment</th> -->
                      <th>Item</th>
                      <!-- <th>Item Description</th> -->
                      <th > Ordered Quantity</th>
                      <th>Shipped Quantity</th>
                      <th>UOM</th>
                      <th class="text-right">Price</th>
                      <th>Promised Date</th>
                      <th>ASN Quantity</th>
                      <!-- <th>Lot Details</th> -->
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let element1 of asnLines; let j = index">
                      <tr>
                        <td >
                          <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;' *ngIf="element1.action" (click)="viewTaxButton1(element1, j)"
                          data-toggle="collapse" attr.data-target="#demo{{j}}" class="accordion-toggle" title="Hide Tax">
                          <div style="padding-top: 4px; float:left">
                            <span >[</span> &nbsp;<i class="fas fa-minus">&nbsp; <span>]</span></i>
                          </div></span>
                          <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;' *ngIf="!element1.action" (click)="viewTaxButton2(element1, j)"
                          data-toggle="collapse" attr.data-target="#demo{{j}}" class="accordion-toggle" title="Show Tax">
                          <div style="padding-top: 4px; float:left">
                            <span >[</span> &nbsp;<i class="fas fa-plus">&nbsp; <span>]</span></i>
                          </div></span>&nbsp;
                          {{element1.DOCUMENT_NO}}
                        </td>

                    <!-- <tr *ngFor="let item of asnLines"> -->
                      <!-- <td>{{element1.DOCUMENT_NO}}</td> -->
                      <td>{{element1.PO_LINE_NUMBER}} </td>
                      <!-- <td>{{item.PO_SHIPMENT_NUMBER}}</td> -->
                      <td>
                        <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION}}">
                          {{element1.PO_LINE_ITEM}}
                        </div>
                      </td>

                      <td>{{element1.ORDERED_QTY | number}}</td>
                      <td>{{element1.RECEIVED_QTY | number}}</td>
                      <td>{{element1.UOM}}</td>
                      <td>{{element1.PRICE | numberFormatting}}</td>
                      <td>{{element1.PROMISED_DATE}}</td>
                      <td>{{element1.shipmentQuantity | number}}</td>
                      <!-- <td> <img src="assets/img/track.png" class="img-print" data-toggle="tooltip" title=""
                          data-original-title="Download "></td> -->
                      <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal1"
                          data-backdrop="static" (click)="editLine(element1)"><i class="fas fa-pen  text-grey"></i></a>
                        &nbsp; &nbsp; &nbsp;<a href="javascript:void(0)" (click)="deleteLine(element1, j)"> <i
                            class="fas fa-trash   text-red"> </i> </a></td>
                    </tr>
                    <tr >
                      <td style= "padding-left:30px" class="hiddenRow" colspan="11">
                        <div class="accordian-body collapse p-3" attr.id="demo{{j}}">
                          <div class="dropTiles">
                            <div class="row">
                              <div class="col-xl-1">
                                <strong> <p class="modal-title text-primary pl-3">Tax Lines</p></strong>
                            </div>
                              <div class="col-xl-3">
                                <strong>Customer PAN No :</strong> {{element1.taxPayerId}}
                              </div>
                              <div class="col-xl-3">
                                <strong>Customer GSTIN : </strong> {{element1.taxRegNo}}
                              </div>
                              <div class="col-xl-3">
                                <strong>Supplier GSTIN :</strong> {{element1.myGst}}
                              </div>
                              <div class="col-xl-2" data-toggle="tooltip" title="{{element1.hsnsacCodeDesc}}">
                                <strong >HSN/SAC :</strong> {{element1.hsnsacCode}}
                              </div>

                            </div>
                            <!-- <button type="button" class="close " (click)="onModelClose()" title="Show Tax" data-dismiss="modal">&times;</button> -->
                          </div>
                          <div class="row">
                            <div class="table table-bordered p-3">
                              <table class="table" id="listtest">
                                <thead class="thead-light">
                                  <tr>
                                    <th>Line number </th>
                                    <th>Tax Code </th>
                                    <th>Tax Rate</th>
                                    <th>Taxable Amount</th>
                                    <th>Tax Amount</th>
                                    <th>Currency </th>
                                    <th> Self Assessed</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let element2 of element1.taxData ; let i = index"  >
                                    <td> {{element2.TAX_LINE_NUM}}</td>
                                    <td> {{element2.TAX_TYPE_NAME}}</td>
                                    <td> {{element2.TAX_RATE_PERCENTAGE}}</td>
                                    <td> {{element2.TAXABLE_AMT}} </td>
                                    <td> {{element2.TAX_AMT}}</td>
                                    <td> {{element2.TAX_CURRENCY_CODE}}</td>
                                    <td>{{element2.SELF_ASSESSED_FLAG}} </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          </div>
                      </td>
                      </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row mt-3 ">
              <div class="pl-3 pr-3 w-100">
                <h4 class="text-primary">Transporter Information<button class="float-right btn btn-primary  btn-sm"
                    data-toggle="modal" data-target="#myModal2" data-backdrop="static" type="submit"
                    value="Add Transporter">Add Transporter</button>
                </h4>
              </div>
              <div class="table-responsive p-3">
                <table class="table table-bordered" id="listtest">
                  <thead class="thead-light">
                    <tr>
                      <th>Transporter</th>
                      <th>Vehicle No</th>
                      <th> E-Way Bill No</th>
                      <th>LR No</th>
                      <th>LR Date</th>
                      <th>Driver Name</th>
                      <th>Contact No.</th>
                      <th>Remarks</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let item of asnTransporter;  let k=index">
                      <td>{{item.TRANSPORTER_NAME}}</td>
                      <td>{{item.VEHICLE_NUMBER}} </td>
                      <td>{{item.EWAY_BILL_NO}}</td>
                      <td>{{item.LR_NO}}</td>
                      <td>{{item.LR_DATE | date}}</td>
                      <td>{{item.DRIVER_NAME}}</td>
                      <td>{{item.DRIVER_CONTACT_NO }}</td>
                      <td>{{item.REMARKS}}</td>
                      <!-- <td> <img src="assets/img/track.png" class="img-print" data-toggle="tooltip" title=""
                          data-original-title="Download "></td> -->
                      <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal2"
                          data-backdrop="static" (click)="editTransporter(item, k)"><i class="fas fa-pen  text-grey"></i></a>
                        &nbsp; &nbsp; &nbsp;<a href="javascript:void(0)" (click)="deleteTransporter(k)"> <i
                            class="fas fa-trash   text-red"> </i> </a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row ">
              <div class="p-3 w-100">
                <div class="float-right">
                  <a href="javascript:void(0)" class="btn   btn-secondary mt-2" (click)="resetPage()"> &nbsp;Close</a>
                  &nbsp;
                  <button class="btn   btn-primary mt-2" (click)="submitPage()" [disabled]="!(asnForm.valid && finalSubmitButton)">
                    &nbsp;Submit</button>
                </div>
              </div>
            </div>
          </div>
          <!--Row end-->
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <!-- Footer -->
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-primary">ASN Line Details</h4>
        <button type="button" class="close" (click)="onModelClose()" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Purchase Order No</label>
              <input class="form-control js-example-basic-single" list="selectPO" [value]='selectedPO' [disabled]="edit"
                (keyup)="setPo($event.target.value)" id="documentNo" >
              <datalist id="selectPO">
                <select>
                  <option *ngFor="let item of uniquePOs" [value]='item'>{{item}}</option>
                </select>
              </datalist>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th>Select</th>
                    <th>Line No</th>
                    <!-- <th>Shipment No</th> -->
                    <th>Item</th>
                    <!-- <th>Item Description</th> -->
                    <th class="text-right">Quantity Ordered</th>
                    <th class="text-right">Shipped Quantity</th>
                    <th>UOM</th>
                    <th class="text-right">Price</th>
                    <th>Promised Date</th>
                    <th class="text-right"> ASN Quantity</th>
                    <th> </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of currPOlines;let i =index;">
                    <td>
                      <div class=" ">
                        <input type="checkbox" class="form-controls" id="ibaccount" name="selected" [(ngModel)]="item.selected"
                          (change)="checkValue(item.selected,i)">
                      </div>
                    </td>
                    <td>{{item.PO_LINE_NUMBER}} </td>
                    <!-- <td>{{item.PO_SHIPMENT_NUMBER}} </td> -->
                    <td>
                      <div data-toggle="tooltip" title="{{item.ITEM_DESCRIPTION}}">
                        {{item.PO_LINE_ITEM}} &nbsp;<p style="font-size: 10px;">{{item.ITEM_DESCRIPTION}} </p>
                      </div> </td>
                      <!-- <td>{{item.ITEM_DESCRIPTION }}</td> -->
                    <td class="text-right">{{item.ORDERED_QTY | number}} </td>
                    <td class="text-right">{{item.RECEIVED_QTY | number}} </td>
                    <td>{{item.UOM}} </td>
                    <td class="text-right">{{item.PRICE | numberFormatting}} </td>
                    <td>{{item.PROMISED_DATE}} </td>
                    <td class="text-right">
                      <div>
                        <input type="text" [appAppnumberdecimal]="item.DECIMAL_ALLOWED_FLAG" [disabled]='!item.selected'
                            name="shipmentQuantity" class="form-control"
                          [(ngModel)]="item.shipmentQuantity" (ngModelChange)="checkQuantityAndUpdate(i)"/>
                         <!-- <span style="color:red" *ngIf="(
                            asnQuantityForm.get('shipmentQuantity').hasError('pattern') &&
                            asnQuantityForm.get('shipmentQuantity').touched)">Invalid Decimals. Enter numbers with 3 decimals.</span>
                       <span style="color:red" *ngIf="item.decimalflag">Invalid Decimals.</span> -->
                            <!-- </form> -->
                      </div>

                    </td>
                    <td>
                      <button class=" white-space btn btn-primary  btn-sm" type="submit" value="Add Location"
                        [disabled]="!item.selected || item.LOT_ENABLED ==='N'" (click)="addLotClicked(i, item.PO_LINE_NUMBER)" id="test">Lot Details</button> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row mt-3 " *ngIf="showlot">
          <div class="col-sm-9 pl-3 pr-3 w-100">
            <h4 class="text-primary">ASN Lot Information for {{this.lineNo}}
            </h4>
          </div>
          <div class="col-sm-3">
            <button class="white-space btn btn-primary  btn-sm" [disabled]="addLotButton"
              (click)="addLotButtonClicked()">Add Lot</button>
          </div>
        </div>
        <div class="row" *ngIf="showlot">
          <div class="table-responsive p-3">
            <table class="table table-bordered" id="listtest">
              <thead class="thead-light">
                <tr>
                  <th>Lot No</th>
                  <th style="width: 7%;">Grade</th>
                  <th>Mfg. Date</th>
                  <th>Expiration Date</th>
                  <th> Quantity</th>
                  <th>Net Weight</th>
                  <th>Net Weight UOM</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="showHide">
                <tr *ngFor="let item of lotsEntered;let i = index;">
                  <td><input class="form-control" type="text"  [(ngModel)]="item.LOT_NUMBER" name='Lot{{i}}'> </td>
                  <td><select class="form-control" [(ngModel)]="item.GRADE" name="grade{{i}}">
                      <option value="A">A</option>
                      <option value="G">G</option>
                      <option value="N">N</option>
                    </select> </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date' >
                        <input id="mfgDate{{i}}" name="MFG_DATE" [(ngModel)]="item.MFG_DATE" width="150"  readonly/>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class='input-group date'>
                        <input id="expDate{{i}}" name="EXPIRATION_DATE" [(ngModel)]="item.EXPIRATION_DATE" width="150" readonly />
                      </div>
                    </div>
                  </td>
                  <td><input class="form-control" type="number" [(ngModel)]="item.QUANTITY" name="quaatity{{i}}"
                      (ngModelChange)="changedLotQuantity(i)" (keypress)="number($event)" ></td>
                  <td><input class="form-control" type="number" [(ngModel)]="item.NET_WEIGHT" name="netWeight{{i}}">
                  </td>
                  <td><select class="form-control" name="NET_WEIGHT_UOM" [(ngModel)]="item.NET_WEIGHT_UOM">
                      <option value="Kg">Kg</option>
                      <option value="Mt">Mt</option>
                      <option value="Kl">Kl</option>
                    </select></td>
                  <td><input class="form-control" type="text" name="remar{{i}}" [(ngModel)]="item.REMARKS"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" #closebutton1 data-dismiss="modal" (click)="onModelClose1()">Close</button>
        &nbsp; <button type="button" class="btn btn-primary"
          (click)="AddButtonClicked()" [disabled]="!lotbutton">Add</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal2">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-primary">Transporter</h4>
        <button type="button" class="close" #closebutton (click)="onModelClose1()" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body reg-form">
        <div class="row">

          <div class="col-sm-12">
            <div class="table-responsive">
              <form #asnForm1="ngForm">
              <table class="table table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th> <div class="control-label2">Transporter </div></th>
                    <th > <div class="control-label2">Vehicle No</div></th>
                    <th > <div class="control-label2">E-Way Bill No</div></th>
                    <th > <div class="control-label2">LR No</div></th>
                    <th > <div class="control-label2" style="width: 10%;">LR Date</div></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td ><div class="form-group">
                          <input [(ngModel)]="transporters.TRANSPORTER_NAME" width="200"
                          id="transportername" name="transportername" type="text" required="true" /></div>
                    </td>
                    <td><div class="form-group">
                          <input [(ngModel)]="transporters.VEHICLE_NUMBER" width="150"
                          id="vehicleno" name="vehicleno" type="text" required="true"/></div>
                    </td>
                    <td><div class="form-group">
                          <input [(ngModel)]="transporters.EWAY_BILL_NO" width="150"
                          id="ewaybillno" name="ewaybillno" type="text" required="true" /></div>
                    </td>
                    <td><div class="form-group">
                          <input [(ngModel)]="transporters.LR_NO" width="150"
                          id="lrno" name="lrno" type="text" required="true" /></div>
                    </td>
                    <td><div class="form-group">
                      <div class='input-group date' id='datetimepicker3'>
                        <input name="LR_DATE" id="datepicker3" value=''
                          [(ngModel)]="transporters.LR_DATE" width="150" required="true" readonly/>
                        </div>
                      </div>
                    </td>

                </tbody>
                <thead class="thead-light">
                  <tr>
                    <th> <div class="control-label2">Driver Name</div></th>
                    <th> <div class="control-label2">Contact No.</div></th>
                    <th> <div class="control-label2">Weight</div></th>
                    <th> <div class="control-label2">Weight UOM</div></th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div class="form-group">
                      <input [(ngModel)]="transporters.DRIVER_NAME" width="150"
                      id="drivername" name="drivername" type="text" required="true"/></div>
                </td>
                <td><div class="form-group">
                      <input [(ngModel)]="transporters.DRIVER_CONTACT_NO" width="150"
                      id="contactno" name="contactno" type="text" required="true"/></div>
                </td>
                <td><div class="form-group">
                      <input [(ngModel)]="transporters.WEIGHT" width="150"
                      id="weight" name="weight" type="number" required="true"/></div>
                </td>
                <td><div class="form-group">
                  <select class="form-control" name ="NET_WEIGHT_UOM" [(ngModel)]="transporters.NET_WEIGHT_UOM" required="true">
                    <option value="Kg">Kg</option>
                    <option value="Mt">Mt</option>
                    <option value="Kl">Kl</option>
                  </select></div>

                </td>
                <td><div class="form-group">
                  <input [(ngModel)]="transporters.REMARKS" width="150"
                  id="remarks" name="remarks" type="text" /></div>
              </td>
              </tr>
              <tr>
              <div class="col-sm-6">
                <div class="form-group required">
                  <label class="control-label1">File </label> &nbsp;&nbsp;&nbsp;
                  <input type="file" name="file" class="files" (change)="onFilesAdded1($event)" #myFileInput1
                    accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                    required ="true" />
                    <p *ngIf="filenameWithoutno1.length !=0 ">{{filenameWithoutno1.length}} Files Added</p>
                    <div *ngFor="let file of filenameWithoutno1; let j=index;">
                      <span >{{file}}<i class="fa fa-close"></i>
                        <button type="button" class="close" (click)="removeFile1(j)">&times;</button>
                      </span>
                    </div>
                  </div>
              </div>
            </tr>

            </tbody>
              </table>
              </form>
            </div>
          </div>
        </div>

       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onModelClose1()">Close</button>
        &nbsp;
        <button type="button" class="btn btn-primary" data-dismiss="modal"  [disabled]="!(asnForm1.valid &&enableAdd) "
          (click)="addMoreButtonClicked()">Add</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!asnForm1.valid" *ngIf="enableEdit"
          (click)="addMoreButtonClicked()">Edit</button>
      </div>

    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>

<script>
  var validate = function(e) {
      var t = e.value;
      e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
  }
</script>


