/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.filecloseButton{
  color: red;
  font-size: 40px;
  position: absolute;
  /* right: 25px;
  top: 10px; */
  border: 1px solid blue;
}

/* input:invalid {
  border: 3px solid red;
} */

.form-group.required .control-label1:after {
  content:"*";
  color:red;
}

.control-label2:after {
  content:"*";
  color:red;
}
.asnHeaderTitle{
  background-color: red;
  color: white;
}
/* h1 span {
  background-color: #43d9cf;
} */

.err { background: #ffe6ee; border: 1px solid #b1395f; }
.emsg { color: #c12020; font-weight: bold; }
