<!-- <div class='wrapper'>
    <div class="login-22">
        
            <div class="row">
               
                <div class="col-lg-12 col-md-12 bg-color-13">
                    <div class="form-section">
                        <div class="logo clearfix">
                            <a href="login.html">
                                <img src="assets/img/supplierLogo.jpg" alt="logo">
                            </a>
                        </div>
                        <h3 *ngIf="text">Invite New Supplier</h3>
                        <div class="login-inner-form">
                            <form action="#" method="GET" *ngIf="text">

                                <div class="form-group form-box" >
                                    <input type="email" name="email" class="input-text" placeholder="Enter Email Address"
                                    [(ngModel)]="email">
                                     
                                </div>
                                
                                <div class="row">
                                    <div class="form-group mb-0 col-sm-6">
                                        <button type="button" (click)="cancel()" class="btn-md btn-theme btn-block">Cancel</button>
                                    </div>
                                    <div class="form-group mb-0 col-sm-6">
                                        <button type="button" (click)="invite()" class="btn-md btn-theme btn-block">Invite</button>
                                    </div>
                                </div>
                               
                            </form>
                            <form *ngIf="!text">
                               
                                <h3>Your new Supplier Invitation Link has been Sent </h3>
                                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
  

</div> -->


<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
           <!-- Container Fluid-->
           <div class="container-fluid" id="container-wrapper">

            <div class="row mb-3 pl-3 pr-3" id="grid-sections">
             
                <div class="card w-50 p-3">
                      <h4 class="w-100 text-primary">Invite New Supplier</h4>
                      <br>
                      <form #Form="ngForm" *ngIf="text">
                        <div class="row">
                            
                                <div class="col-sm-6">
                                    <h5>Type of Registration</h5>
                                    <!-- <h5>Justification</h5>
                                    <h5>Email</h5>
                                    <h5>Attachment</h5> -->

                                </div>

                                <div class="col-sm-6">
                                <div class="form-group">
                                <select class="form-control" name="registration" [(ngModel)]="registrationType" required>
                                    <option>Select</option>
                                    <option value='Prospective'>Prospective</option>
                                    <option value='Spend Authorized'>Spend Authorized</option>
                                    
                                </select>
                              </div>
                              </div>
                        </div> 
                        
                        <div class="row">
                            
                            <div class="col-sm-6">
                                
                                 <h5>Justification</h5>
                                
                            </div>

                            <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="justify" class="form-control" [(ngModel)]="justification" id="exampleInputFirstName" placeholder=" ">
                          </div>
                          </div>
                        </div> 

                        <div class="row">
                            
                            <div class="col-sm-6">
                                
                                 <h5>Email</h5>
                                
                            </div>

                            <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder=""
                                    [(ngModel)]="email">
                          </div>
                          </div>
                    </div> 

                    <div class="row">
                            
                        <div class="col-sm-6">
                            
                             <h5>Attachment</h5>
                            
                        </div>

                        <div class="col-sm-6">
                        <div class="form-group">
                            <input type="file" name="file" class="files form-control" (change)="onFilesAdded($event)"
          #myFileInput accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                      </div>
                      </div>
                </div> 

                <div class="row">
                    <div class="p-3 w-100">
                    <div class="float-right">
                        <button type="button" (click)="invite()" class="btn   btn-primary mt-2">Invite</button>
                        &nbsp;
                        <button type="button" (click)="cancel()" class="btn   btn-secondary mt-2">Cancel</button>
                    </div>
                    </div>
                </div>

                      </form>

                      <form *ngIf="!text">
                               
                        <h3>Your new Supplier Invitation Link has been Sent </h3>
                                
                    </form>
                </div>        

            </div>
        </div>
    </div>
</div>    

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
