.container-fluid {
  width: 80%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

.col-lg-5, .col-md-12{
padding-left: 0%;
padding-right: 0%;
padding-bottom: 0%;
}
/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
} */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.wizard>.steps .current-info,
.wizard>.steps .number {
   display: none
}
.shadow {

  width: 100%;
  margin: 30px 0px;
  padding: 20px;
}
#wizard {

   background: #fff;

      padding: 20px 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%
}

.steps {
   margin-bottom: 20px
}

.steps ul {
   display: flex;
   position: relative
}

.steps ul li {
   width: 25%;
   margin-right: 10px
}
.wizard label  {
  margin-bottom: 0px !important;
  font-size: 14px !important;
}
.reg-form label{
  margin-bottom: 0px !important;
  font-size: 14px !important;
}

.steps ul li a {
   display: inline-block;
   width: 100%;
   height: 7px;
   background: #e6e6e6;
   border-radius: 3.5px
}

.steps ul li.first a,
.steps ul li.checked a {
   background: #0f96f9;
   transition: all 0.5s ease;
}

.steps ul:before {
   content: "Basic Information";
   font-size: 22px;
   font-family: 'Roboto', sans-serif;
   color: #0f96f9;
   top: -38px;
   position: absolute;
}

.steps ul.step-2:before {
   content: "Company Information"
}

.steps ul.step-3:before {
   content: "Address Information"
}

.steps ul.step-4:before {
   content: "Contact Information"
}
.steps ul.step-5:before {
   content: "Bank Account"
}
.steps ul.step-6:before {
   content: "Intermediate Bank Account"
}

.steps ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.actions ul {
   display: flex;
   margin-top: 30px;
   justify-content: space-between;
    padding: 0;
  margin: 0;
  list-style: none;
}

.actions ul.step-last {
   justify-content: flex-end
}

.actions ul.step-last li:first-child {
   display: none
}

.actions li a {
   padding: 0;
   border: none;
   display: inline-flex;
   height: 51px;
   width: 135px;
   align-items: center;
   background: #0f96f9;
   cursor: pointer;
   color: #fff !important;
   position: relative;
   padding-left: 41px;
   text-decoration: none;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   font-weight: 400;
}

.actions li a:before {
   position: absolute;
   top: 15px;
   right: 41px;
   color: #fff;
   font-family: "FontAwesome";
   -webkit-transform: translateZ(0);
   transform: translateZ(0)
}

.actions li a:hover {
   background: #0e87e0;
}

.actions li a:hover:before {
   -webkit-animation-name: hvr-icon-wobble-horizontal;
   animation-name: hvr-icon-wobble-horizontal;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1
}

.actions li[aria-disabled="true"] a {
   display: none
}

.actions li:first-child a {
   background: #e6e6e6;
   padding-left: 48px
}

.actions li:first-child a:before {
   left: 26px
}

.actions li:first-child a:hover {
   background: #ccc
}

.actions li:last-child a {
   padding-left: 29px;
   width: 167px;
   font-weight: 400
}

.actions li:last-child a:before {
   right: 30px
}


.add-addrees {
  background: #f5f5f5;
  padding: 20px;
  border: 2px dashed;
  text-align: center;
  cursor: pointer;
}
.addresss {
  border: 1px solid rgba(85, 51, 85, 0.19);
  border-radius: 6px;
  margin-bottom: 20px;
}

.value-header {font-weight: bold;padding: 15px;border-bottom: 1px solid rgba(85, 51, 85, 0.19);}

.address-body {
  padding: 15px;
}

.value {
  margin-bottom: 10px;
}

.label {
  color: #949494;
  font-size: 14px;
}

.value {
  color: rgb(131, 130, 130);
}
.single-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input#cpatchaTextBox {
  margin-bottom: 20px;
}

/* button#reg {

} */

button#reg {

  padding: 0;
  padding-left: 29px;
  width: 167px;
  font-weight: 400;
  border: none;
  display: inline-flex;
  height: 51px;
  align-items: center;
  background: #0f96f9;
  cursor: pointer;
  color: #fff !important;
  position: relative;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  font-weight: 400;
}

.registerbutton{
  padding: 0;
  padding-left: 29px;
  width: 167px;
  font-weight: 400;
  border: none;
  display: inline-flex;
  height: 51px;
  align-items: center;
  background: #0f96f9;
  cursor: pointer;
  color: #fff !important;
  position: relative;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  font-weight: 400;
}

.actions li a:before {
  content: "AA";
}
.actions li a:after {
  content: "BB";
}

/* .login-22 .bg-img { */
  /* background: rgba(0, 0, 0, 0.04) url(../../../../assets/img/bgImage.jpg); */
/* } */
