


<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid" id="container-wrapper">
        <div class="row mb-3 pl-3 pr-3" id="filter">
          <!-- <div class=" card w-100 p-3">
            <div class="col-sm-12">
              <div class="row ">
                <div class='col-sm-12'>
                  <div class="float-right">
                    <a class="btn   btn-primary mt-2" (click)="goBack()"> <i class="fas  fa-arrow-left"></i> &nbsp;Go Back</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

        <!-- <div class="row" *ngIf="!viewFlag">
          <div class="col-lg-12 col-md-12  " style="max-height: 80%;overflow-y: auto;">
          <div class="table table-bordered p-3">
            <table class="table" id="listtest">
              <thead class="thead-light">
                <tr>
                  <th>SUPPLIER_NAME</th>
                  <th>LEGAL_NAME</th>
                  <th>SUBMITTED_DATE</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of viewSupplierList; let i = index">
                  <td> {{element.SUPPLIER_NAME}}</td>
                  <td> {{element.LEGAL_NAME}}</td>
                  <td> {{element.CREATION_DATE}}</td>
                  <td>
                    <a
                      class="mt-2"><button class="btn btn-primary mt-2" (click)="viewData(element)" >
                        <i class="fas fa-eye"></i>
                        &nbsp; View Supplier Details
                      </button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div> -->
<!-- ------------------------- -->

<div  >
  <div class="container-fluid " >
    <div class="row">
      <div class="col-lg-12 col-md-12 " style="max-height: 80%;">

          <!-- ------------------ -->
          <div class="row" *ngIf="!viewFlag">
            <div class="col-lg-12 col-md-12  " style="max-height: 80%;overflow-y: auto;">
            <!-- <div class="table table-bordered p-3"> -->
              <table class="table " id="listtest">
                <thead class="thead-light">
                  <tr>
                    <th>SUPPLIER_NAME</th>
                    <th>LEGAL_NAME</th>
                    <th>SUBMITTED_DATE</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of viewSupplierList; let i = index">
                    <td> {{element.SUPPLIER_NAME}}</td>
                    <td> {{element.LEGAL_NAME}}</td>
                    <td> {{element.CREATION_DATE}}</td>
                    <!-- <td> <a href="javascript:void(0)" (click)="viewData(element)"></a> </td> -->
                    <td>
                      <a  class="mt-2"><button class="btn btn-primary mt-2" (click)="viewData(element)" >
                          <i class="fas fa-eye"></i>
                          &nbsp; View Supplier Details
                        </button>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          <div  class="col-lg-12 col-md-12 " style="max-height: 80%;" *ngIf="viewFlag" >
            <app-view-supplier [supplier]="headers" [viewFlag] = "viewFlag"></app-view-supplier>
          </div>

          <!-- ------- -->
      <!-- </div> -->
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Registering... </p>
</ngx-spinner>
<notifier-container></notifier-container>


<!-- <script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> -->

<!-- <script src="../../cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script> -->
<!-- Custom JS Script -->


<script type="text/javascript">
  $(document).ready(function () {
    $(".pass").hide();

    $(".Intermidiate").hide();




    $("#ibaccount").click(function () {

      if ($(this).is(':checked')) {
        $(".Intermidiate").show();
      }

      else {
        $(".Intermidiate").hide();
      }

    });

    $("#myBtn").click(function () {
      $(".pass").show();
      $(".user").hide();

      return false
    });

  });


  $(function () {
    $("#wizard").steps({
      headerTag: "h4",
      bodyTag: "section",
      transitionEffect: "fade",
      enableAllSteps: true,
      transitionEffectSpeed: 500,
      onStepChanging: function (event, currentIndex, newIndex) {
        if (newIndex === 1) {
          $('.steps ul').addClass('step-2');
        } else {
          $('.steps ul').removeClass('step-2');
        }
        if (newIndex === 2) {
          $('.steps ul').addClass('step-3');
        } else {
          $('.steps ul').removeClass('step-3');
        }

        if (newIndex === 3) {
          $('.steps ul').addClass('step-4');
        } else {
          $('.steps ul').removeClass('step-4');
        }


        if (newIndex === 4) {
          $('.steps ul').addClass('step-5');
          $('.actions ul').addClass('step-last');
        } else {
          $('.steps ul').removeClass('step-5');
          $('.actions ul').removeClass('step-last');
        }
        return true;
      },
      labels: {
        finish: "Register",
        next: "Next",
        previous: "Previous"
      }
    });
    // Custom Steps Jquery Steps
    $('.wizard > .steps li a').click(function () {
      $(this).parent().addClass('checked');
      $(this).parent().prevAll().addClass('checked');
      $(this).parent().nextAll().removeClass('checked');
    });
    // Custom Button Jquery Steps
    $('.forward').click(function () {
      $("#wizard").steps('next');
    })
    $('.backward').click(function () {
      $("#wizard").steps('previous');
    })
    // Checkbox
    $('.checkbox-circle label').click(function () {
      $('.checkbox-circle label').removeClass('active');
      $(this).addClass('active');
    })
  })
</script>

<script type="text/javascript">

  $(document).ready(function () {
    createCaptcha()
    $('.file_input_button').mouseover(function () {
      $(this).addClass('file_input_button_hover');
    });

    $('.file_input_button').mouseout(function () {
      $(this).removeClass('file_input_button_hover');
    });

    $('.file_input_hidden').change(function () {

      var fileInputVal = $(this).val();

      // fileInputVal = fileInputVal.replace("C:"\"fakepath"\"", "");

      $(this).parent().prev().val(fileInputVal);

    });
  });


  var code;
  function createCaptcha() {
    //clear the contents of captcha div first
    document.getElementById('captcha').innerHTML = "";
    var charsArray =
      "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
    var lengthOtp = 6;
    var captcha = [];
    for (var i = 0; i < lengthOtp; i++) {
      //below code will not allow Repetition of Characters
      var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
      if (captcha.indexOf(charsArray[index]) == -1)
        captcha.push(charsArray[index]);
      else i--;
    }
    var canv = document.createElement("canvas");
    canv.id = "captcha";
    canv.width = 100;
    canv.height = 50;
    var ctx = canv.getContext("2d");
    ctx.font = "25px Georgia";
    ctx.strokeText(captcha.join(""), 0, 30);
    //storing captcha so that can validate you can save it somewhere else according to your specific requirements
    code = captcha.join("");
    document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
  }
  function validateCaptcha() {
    event.preventDefault();
    debugger
    if (document.getElementById("cpatchaTextBox").value == code) {
      alert("Valid Captcha")
    } else {
      alert("Invalid Captcha. try Again");
      createCaptcha();
    }
  }

</script>
