<div id="wrapper">


  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <div class="container-fluid" id="container-wrapper">

        <!--Row start-->
        <div class="row">
          <div class="col-lg-10 col-sm-10"></div>
          <div class="col-lg-2 col-sm-2">
            <!-- <button class="btn btn-primary w-200" data-toggle="modal" data-target="#myModal" type="submit" value="Add Location" (click)="addLocation()">Add Location</button> -->
          </div>
        </div>


        <div class="row mb-3 " style="margin-top: 20px;">
          <div class="col-xl-6 col-lg-6 mb-4" *ngFor="let element of vendorSites">
            <div class="card h-100">
              <div class="card-header py-3 d-flex flex-row border-bottom align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{{element.ORGANIZATION}}</h6>
                <span [ngClass]="getColor(element.ACTIVE_FLAG)"><i
                    class="ml-3 fas fa-bullseye"></i>{{element.ACTIVE_FLAG}}</span>
                <!-- <a class="m-0 float-right btn btn-primary btn-sm " href="#" data-toggle="modal" data-target="#myModal" (click)="editLocation(element)">Edit <i class="ml-3 fas fa-chevron-right"></i></a> -->
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class=" d-flex flex-row  align-items-center justify-content-between">
                      <div class="form-group c1">
                        <div class="ctrl-label">Site</div>
                        <div class="ctrl-value">{{element.VENDOR_SITE_CODE}}</div>
                      </div>
                      <div class="form-group c1">
                        <div class="ctrl-label">Unit</div>
                        <div class="ctrl-value">{{element.UNIT}}</div>
                      </div>
                      <div class="form-group c1">
                        <div class="ctrl-label">Country</div>
                        <div class="ctrl-value">{{element.COUNTRY}}</div>
                      </div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Address</div>
                      <div class="ctrl-value">
                        {{element.ADDRESS_LINE1}}<br>
                        {{element.CITY}} <br>
                        {{element.STATE}}
                        <!-- Rawang Integrated Industrial Park,<br>
                        Rawang,<br>
                        Selangor - 480000 -->

                      </div>
                    </div>

                    <div class="form-group c1">
                      <div class="ctrl-label">Phone</div>
                      <div class="ctrl-value">{{element.PHONE}}</div>
                    </div>

                    <div class="form-group c1">
                      <div class="ctrl-label">Fax</div>
                      <div class="ctrl-value">{{element.FAX}}</div>
                    </div>


                  </div>


                </div>
              </div>

            </div>
          </div>

        </div>



      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <!-- <h4 class="modal-title" *ngIf="!location.VENDOR_ID">Add Location</h4> -->
        <!-- <h4 class="modal-title" *ngIf="location.VENDOR_ID">Edit Location</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Location Name</label>
              <input type="text" [(ngModel)]="location.NAME" name="addressName" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Country</label>
              <select [(ngModel)]="location.COUNTRY" name="addresscountry" class="form-control">
                <option value=''>Select</option>
                <option value="MY">Malaysia</option>
                <option value="India">India</option>

              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Address Line 1</label>
              <input type="text" [(ngModel)]="location.ADDRESS_LINE1" name="addressLine1" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Address Line 2</label>
              <input type="text" [(ngModel)]="location.ADDRESS_LINE2" name='addressLine2' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>City</label>
              <input type="text" [(ngModel)]="location.CITY" name="addresscity" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>State</label>
              <select class="form-control" name="addressstate" [(ngModel)]="location.STATE">
                <option value="">Select</option>
                <option value="Selangor">selangor</option>


              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Postal Code</label>
              <input type="text" [(ngModel)]="location.POSTAL_CODE" name="location.postalCode" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" [(ngModel)]="location.PHONE" class="form-control" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Fax</label>
              <input type="text" [(ngModel)]="location.FAX" class="form-control" id="exampleInputFirstName"
                placeholder=" ">
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;

        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!location.VENDOR_ID"
          (click)="saveLocation()">Add</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="location.VENDOR_ID"
          (click)="updateLocation()">Update</button>

      </div>

    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
