<div>
    <div class="page-wrapper">
        <app-header (rightSidebarEvent)="rightSidebar($event)"></app-header>
        <div class="page-body-wrapper">
          <!-- <div class="page-sidebar" [class.open]="navServices.collapseSidebar"> -->
            <div class="page-sidebar">

                <app-sidebar></app-sidebar>

            </div>
            <div class="page-body" style="margin-top: 5rem;">

                <app-breadcrumb></app-breadcrumb>
                <!-- <app-toolbar></app-toolbar> -->
                <main class="paddingNeeded" style="margin-top: -5rem;">
                    <router-outlet></router-outlet>
                </main>
                <!-- <router-outlet></router-outlet> -->
            </div>

            <footer class="footer">
                <app-footer></app-footer>
            </footer>
        </div>
    </div>
    <!-- <div class="btn-light custom-theme" [class.rtl]="layoutClass" (click)="clickRtl(layoutType)">{{layoutType}}</div> -->
</div>
