.page-sidebar ~ .page-body {
    margin-left: 0px;
    transition: 0.3s;
}
.page-sidebar.open {
    display: block;
    margin-left: calc(-255px);
}
.page-sidebar.open ~ .page-body {
    margin-left: 250px;
    transition: 0.3s;
}
.page-sidebar.open ~ footer {
    margin-left: 0;
    padding-right: 15px;
}
.page-sidebar.open ~ .footer-fix {
    width: calc(100% - 0px);
}

/* @media (min-width: ) { 

    .paddingNeeded{
        margin-top: 0px;
    }

 } */

 /* @media only screen and (min-width: 600px) {
    .paddingNeeded{
        margin-top: 0px !important ;
    }
  } */