<div id="wrapper">

    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">

            <div class="row mb-3">

                <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b1">
                    <div class="row align-items-center">
                      <div class="col mr-2">
                        <div class="text-red mb-1">  Defect Rate</div>
                        <div class="h5 mb-0 font-weight-bold text-red">{{defectCount | number}}%</div>
                        <div class="mt-2 mb-0 text-muted text-xs">
                          <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span> -->
                          <span>Since Last 6 Months</span>
                       </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-chart-bar fa-2x text-red"></i>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Earnings (Annual) Card Example -->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b2">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class=" text-success  mb-1">On-Time Supplies</div>
                        <div class="h5 mb-0 font-weight-bold text-success ">{{ontimeCount}}%</div>
                        <div class="mt-2 mb-0 text-muted text-xs">
                          <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span> -->
                          <span>Since Last 6 Months</span>
                       </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-chart-line fa-2x text-success"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- New User Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b3">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-info mb-1"> Supplier Availability</div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-info">95.3%</div>

                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-info"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- Pending Requests Card Example -->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-warning mb-1">Lead Time</div>
                        <div class="h5 mb-0 font-weight-bold text-warning">{{leadCount}}&nbsp;<small>Days</small></div>
                        <div class="mt-2 mb-0 text-muted text-xs">
                          <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span> -->
                          <span>Since Last 6 Months</span>
                       </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar-alt fa-2x text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  </div>

  <!--graph-->
  <div class="row mb-3">
    <div class="col-sm-4">
             <div class="card shadow mb-4">
                 <div class="card-header py-3">
                   <h6 class="m-0 font-weight-bold text-primary">Supplier Defect Rate</h6>
                 </div>
                 <div class="card-body">
                   <div class="chart-area">
                     <canvas id="myAreaChart"
                     baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"></canvas>
                   </div>

                 </div>
               </div>
    </div>

    <div class="col-sm-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">On-Time Supplies</h6>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myAreaChart1"
                baseChart [datasets]="barChartData2" [labels]="barChartLabels2"
          [options]="barChartOptions2" [plugins]="barChartPlugins2" [legend]="barChartLegend2"
          [chartType]="barChartType2"></canvas>
              </div>

            </div>
          </div>
</div>
<div class="col-sm-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Lead Time (in Days)</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart2"
            baseChart
        [datasets]="lineChartData2"
        [labels]="lineChartLabels2"
        [options]="lineChartOptions2"
        [colors]="lineChartColors2"
        [legend]="lineChartLegend2"
        [chartType]="lineChartType2"
        [plugins]="lineChartPlugins2"></canvas>
          </div>

        </div>
      </div>
</div>
</div>

   <!--graph-->

   <!-- <div class="row mb-3">
    <div class="col-sm-6">
 <div class="card shadow mb-4">
     <div class="card-header py-3">
       <h6 class="m-0 font-weight-bold text-primary">Supplier Defect Rate & Defect Type</h6>
     </div>
     <div class="card-body">
       <div class="chart-area">
         <canvas id="bar-chart"
         baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
       </div>

     </div>
   </div>
</div>

<div class="col-sm-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delivery Time</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="bar-chart1" baseChart [datasets]="barChartData3" [labels]="barChartLabels3"
            [options]="barChartOptions3" [plugins]="barChartPlugins3" [legend]="barChartLegend3"
            [chartType]="barChartType3"  ></canvas>
          </div>

        </div>
      </div>
</div>



</div> -->
          </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
 </ngx-spinner>
