<div id="wrapper">
  <!-- Sidebar -->

  <!-- Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper" *ngIf="!shipmentView">

        <div class="row mb-3 pl-3 pr-3" style="margin-top: 30px;">
          <div class="col-sm-12 col-xs-12">
            <div class="row float pt-2 pb-2 d-flex align-items-center">

              <div class='col-md-2'>
                <div class="form-group">
                  <label class="control-label">Invoice Date From</label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input id="datepicker" width="276" readonly/>
                  </div>
                </div>
              </div>

              <div class='col-sm-2'>
                <div class="form-group">
                  <label class="control-label">Invoice Date To</label>
                  <div class='input-group date' id='datetimepicker2'>
                    <input id="datepicker1" width="276" readonly/>
                  </div>
                </div>
              </div>

              <div class='col-sm-1'>
                <a href="javascript:void(0)" class="btn   btn-primary mt-3" (click)="getInvRegister()">View</a>
              </div>

              <div class="col-sm-4" style="padding-top: 13px;">
                <span class="searchbox-section">
                  <input type="text" class="form-control" placeholder="Enter Your Search Text" [(ngModel)]="searchText"
                    aria-describedby="basic-addon2">
                </span>
              </div>


              <div class="col-sm-1" style="padding-top: 13px;">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm">
                  <i class="fas fa-search" (click)="setFilteredData()"></i>
                </a>
              </div>

              <div class="col-sm-1" style="padding-top: 13px;">
                <a href="javascript:void(0)" class="" (click)="exportExcel()">

                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                    <g>
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z"
                        fill="#23a566" data-original="#23a566" class=""></path>
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z"
                        fill="#ffffff" data-original="#ffffff" class=""></path>
                      <path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z"
                        opacity=".19" fill="#000000" data-original="#000000"></path>
                      <path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z"
                        fill="#8ed1b1" data-original="#8ed1b1"></path>
                    </g>
                  </svg>
                </a>
              </div>


              <div class="col-sm-1 float-right" style="padding-top: 13px;">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" id="grid" (click)="gridView()"
                  [class.btn-primary]="tableView" [class.btn-light]="!tableView">
                  <i class="fas fa-th"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-light btn-sm" id="list" (click)="listView()"
                  [class.btn-primary]="!tableView" [class.btn-light]="tableView">
                  <i class="fas fa-list"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 pl-3 pr-3">
          <div class="col-sm-12 col-xs-12">
            <p style="font-size: 10px; margin-top: -30px;"> Data available from: {{selectedmenuFilter[0].MENUACCESS.DATE_RANGE_START | date :'dd-MM-yyyy'}} and Maximum range: {{(selectedmenuFilter[0].MENUACCESS.DATE_RANGE)/30}} months</p>
          </div>
        </div>
        <!--Row start-->
        <!-- <div class="row mb-3 pl-3 pr-3" id="filter">
               <div class=" card w-100 p-3">
                  <div class="col-sm-12">
                     <div class="row ">


                     </div>
                  </div>
               </div>
            </div> -->

        <div class="row mb-2" style="overflow: hidden;">

          <div class="col-md-3">
            <div class="design-card-2 dashboard1">
              <div class="icons">
                <i class="fa fa-flag fa-2x"></i>
              </div>
              <div class="data-section">
                <h3>{{this.noOfInvoiceCreated | number}}</h3>
                <p>No.of Invoices Created</p>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="design-card dashboard1">
              <div class="icons">
                <i class="fas fa-receipt fa-2x"></i>
              </div>
              <div class="data-section">
                <h3>{{this.noOfInvoiceApproved | number}}</h3>
                <p>No.of Invoices Approved</p>
                <small>
                  <!-- <a class="readmoreicon" data-toggle="modal" data-target="#myModal"
                               (click)="getSummaryDetails('orderQty')"> -->

                  <!-- <i class="fas fa-long-arrow-alt-right readmore"></i> -->
                  <!-- </a> -->
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="design-card-3 dashboard1">
              <div class="icons">
                <i class="fas fa-shipping-fast fa-2x "></i>
              </div>
              <div class="data-section">
                <h3>{{this.noOfInvoicePaid | number}}</h3>
                <p>No.of Invoices Paid</p>
                <small>
                  <!-- <a class="" data-toggle="modal" data-target="#myModal"
                       (click)="getSummaryDetails('deliverQty')"> -->

                  <!-- <i class="fas fa-long-arrow-alt-right readmore"></i> -->
                  <!-- </a> -->
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="design-card-1 dashboard1">
              <div class="icons">
                <i class="fas fa-shopping-bag fa-2x  "></i>
              </div>
              <div class="data-section">
                <h3>{{this.noOfInvoiceNotPaid | number}}</h3>
                <p>No.of Invoices Not Paid</p>
                <small>
                  <!-- <a class="" data-toggle="modal" data-target="#myModal"
                         (click)="getSummaryDetails('pendingQty')"> -->

                  <!-- <i class="fas fa-long-arrow-alt-right readmore"></i> -->
                  <!-- </a> -->
                </small>
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-3 pl-3 pr-3" *ngIf="tableView && showHide">
          <div class="col-sm-12">
            <div class="row">
              <div id="accordion" class="myaccordion w-100">
                <div class="card c1"
                  *ngFor="let element of invListHead | paginate: { itemsPerPage: viewCount, currentPage: page }; let i= index">
                  <div class="card-header" id="heading{{i}}">
                    <div class="mb-0">
                      <div class="row">


                        <div class="col-sm-3">
                          <div class="form-group c1">
                            <div class="ctrl-label">Organization</div>
                            <div class="ctrl-value">{{element.ORGANIZATION }}</div>
                          </div>
                          <div class="form-group c4">
                            <div class="ctrl-label">Invoice No</div>
                            <div class="ctrl-value"><a href="javascript:void(0)"
                                (click)="clickedLineId(element.INVOICE_ID, 'INVOICE_ID')">{{element.INVOICE_NUM}}</a>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-2">
                          <div class="form-group c3">
                            <div class="ctrl-label">Unit</div>
                            <div class="ctrl-value">{{element.UNIT}}</div>
                          </div>

                          <div class="form-group c5">
                            <div class="ctrl-label">Invoice Date</div>
                            <div class="ctrl-value">{{element.INVOICE_DATE }}</div>
                          </div>
                        </div>

                        <div class="col-sm-2">
                          <div class="form-group c2">
                            <div class="ctrl-label">Type</div>
                            <div class="ctrl-value">{{element.TYPE }}</div>
                          </div>

                          <div class="form-group c8">
                            <div class="ctrl-label">Currency</div>
                            <div class="ctrl-value">{{element.INVOICE_CURRENCY}}
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-2">
                          <div class="form-group c7">
                            <div class="ctrl-label">Voucher No</div>
                            <div class="ctrl-value">{{element.VOUCHER_NUMBER}}
                            </div>
                          </div>
                          <div class="form-group c8">
                            <div class="ctrl-label">Amount</div>
                            <div class="ctrl-value">
                              <span>{{element.INVOICE_AMOUNT | numberFormatting}} </span>

                              <a href="javascript:void(0)" class="text-primary"
                              data-toggle="modal" data-target="#amountModel" title="Click to view Payment Schedules"
                              (click)="getInvoiceAmountData(element.INVOICE_ID)"> <i class="fa fa-th-list" style="color:orange">
                              </i></a>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-2">
                          <div class="form-group c7">
                            <div class="ctrl-label">Withholding Tax</div>
                            <div class="ctrl-value">{{element.WHT_AMOUNT | numberFormatting }}
                            </div>
                          </div>
                          <div class="form-group c8" style="padding-top: 20px;">
                            <div class="ctrl-label" style="color: white;"  class="{{element.PAYMENT_STATUS}}">
                            <!-- <div class="ctrl-value" class="{{element.PAYMENT_STATUS}}">
                              <a href="javascript:void(0)"
                              (click)="clickedLineId1(element.INVOICE_ID, 'PAYMENT_STATUS')">{{element.PAYMENT_STATUS}}</a></div> -->
                              <span style="color: white;"*ngIf="element.PAYMENT_STATUS === 'Not Paid'"> {{ element.PAYMENT_STATUS}} </span>
                              <span ><a style="color: white;" *ngIf="element.PAYMENT_STATUS !== 'Not Paid'" href="javascript:void(0)"
                                (click)="clickedLineId1(element.INVOICE_ID,'INVOICE_ID')">{{element.PAYMENT_STATUS}}
                             </a> </span>
                            </div>
                          </div>
                        </div>
                          <div class="menubutton">
                            <app-file-view [headerId]="element.INVOICE_ID" [type]="'AP_INVOICE_ATTACHMENTS'"
                              [attachmentString]="element.ATTACH_DOCUMENT_STRING" [communicationString]="element.COMMUNICATION_STRING">
                            </app-file-view>
                          </div>
                      </div>
                    </div>
                    <div id="collapse {{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                      data-parent="#accordion">
                      <div class="card-body{{i}}">
                        <div class="table-responsive  p-3">
                          <table class="table align-items-center table-flush" id="test{{i+(page-1)*10}}">
                            <thead class="thead-light">
                              <tr>
                                <th>Line No</th>
                                <th>Item</th>
                                <th class="text-right">Quantity</th>
                                <th>UOM</th>
                                <th class="text-right">Unit Price</th>
                                <th class="text-right">Base Amount</th>
                                <th class="text-right">Tax Amount</th>
                                <!-- <th>Freight Amount</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let element1 of invListHead[i+(page-1)*10].filteredList; let j = index">
                              <tr>
                                <!-- <td>{{element1.LINE_NUMBER }}</td> -->
                                <!-- <td>{{element1.DESCRIPTION}} </td> -->
                                <td >
                                  <!-- <div class="mt-1" > -->
                                  <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;' *ngIf="element1.action" (click)="viewTaxButton1(element1,i,j)"
                                  data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}" class="accordion-toggle" title="Hide Tax">
                                  <div style="padding-top: 4px; float:left">
                                    <span >[</span> &nbsp;<i class="fas fa-minus">&nbsp; <span>]</span></i>
                                  </div>
                                </span>
                                  <span style='font-size:8px;  color: blue; margin-left:0; cursor:pointer;' *ngIf="!element1.action" (click)="viewTaxButton2(element1,i,j)"
                                  data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}" class="accordion-toggle" title="Show Tax">
                                  <div style="padding-top: 4px; float:left">
                                    <span >[</span> &nbsp;<i class="fas fa-plus">&nbsp; <span>]</span></i>
                                  </div>
                                  </span>&nbsp;
                                  {{element1.LINE_NUMBER}}
                                  <!-- </div> -->
                                </td>
                                <td>
                                  <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION }}">{{element1.DESCRIPTION}}</div>
                                </td>
                                <td class="text-right">{{element1.QUANTITY_INVOICED | number}}</td>
                                <td> {{element1.UOM}}</td>
                                <td class="text-right">{{element1.UNIT_PRICE | numberFormatting}}</td>
                                <td class="text-right">{{element1.BASE_AMOUNT | numberFormatting}}</td>
                                <td class="text-right">{{element1.TAX_AMOUNT | numberFormatting}}</td>
                                <!-- <td class="text-right"> {{element1.FREIGHT_AMOUNT | number}}</td> -->

                                <!-- <td> <span *ngIf="element1.RECEIVED_QTY === '0'"> {{ element1.RECEIVED_QTY }} </span><a *ngIf="element1.RECEIVED_QTY !== '0'" href="javascript:void(0)" (click)="clickedLineId(element1.LINE_LOCATION_ID)">{{element1.RECEIVED_QTY }}</a></td>

                                           <td> {{element1.BALANCE_QTY }}</td>

                                           <td class="text-danger"> {{element1.DELAYED_DAYS }}</td> -->
                              </tr>
                              <tr >
                                <td style= "padding-left:30px" class="hiddenRow" colspan="12">
                                  <div class="accordian-body collapse p-3" attr.id="demo{{i}}{{j}}">
                                    <div class="dropTiles">
                                      <div class="row">
                                        <div class="col-xl-1">
                                          <strong> <p class="modal-title text-primary pl-3">Tax Lines</p></strong>
                                      </div>
                                        <div class="col-xl-3">
                                          <strong>Customer PAN No :</strong> {{element1.taxPayerId}}
                                        </div>
                                        <div class="col-xl-3">
                                          <strong>Customer GSTIN : </strong> {{element1.taxRegNo}}
                                        </div>
                                        <div class="col-xl-3">
                                          <strong>Supplier GSTIN :</strong> {{element1.myGst}}
                                        </div>
                                        <div class="col-xl-2" data-toggle="tooltip" title="{{element1.hsnsacCodeDesc}}">
                                          <strong >HSN/SAC :</strong> {{element1.hsnsacCode}}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="table table-bordered p-3">
                                        <table class="table" id="listtest">
                                          <thead class="thead-light">
                                            <tr>
                                              <th>Line number </th>
                                              <th>Tax Rate Code </th>
                                              <th class="text-right">Tax Rate</th>
                                              <th class="text-right">Taxable Amount</th>
                                              <th class="text-right">Tax Amount</th>
                                              <th>Currency </th>
                                              <th> Self Assessed</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let element2 of element1.taxData ; let i = index"  >
                                              <td> {{element2.TAX_LINE_NUM}}</td>
                                              <td> {{element2.TAX_TYPE_NAME}}</td>
                                              <td class="text-right"> {{element2.TAX_RATE_PERCENTAGE}}</td>
                                              <td class="text-right"> {{element2.TAXABLE_AMT | numberFormatting}} </td>
                                              <td class="text-right"> {{element2.TAX_AMT | numberFormatting}}</td>
                                              <td> {{element2.TAX_CURRENCY_CODE}}</td>
                                              <td>{{element2.SELF_ASSESSED_FLAG}} </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                    </div>
                                </td>
                                </tr>
                            </ng-container>
                            </tbody>

                          </table>

                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="showHide && !tableView && !shipmentView">
          <div class="card w-100" id="pending-details">
            <div class="table-responsive  p-3">
              <table class="table align-items-center table-flush" id="Pending-table">
                <thead class="thead-light">
                  <tr>
                    <th>Invoice Type</th>
                    <th>Invoice No</th>
                    <th>Voucher No</th>
                    <th>Invoice Date</th>
                    <th>Currency</th>
                    <!-- <th>Quantity</th>
                    <th>UOM</th> -->
                    <th class="text-right">Base Amount</th>
                    <th class="text-right">Tax Amount</th>
                    <!-- <th class="text-right">Freight Amount</th> -->
                    <th class="text-right">Invoice Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of fullInvListHead">

                    <td>{{element.TYPE }}</td>

                    <td>{{element.INVOICE_NUM}} </td>

                    <td>{{element.VOUCHER_NUMBER }}</td>
                    <td>{{element.INVOICE_DATE }}</td>

                    <td>{{element.INVOICE_CURRENCY }}</td>
                    <!-- <td>{{element.QUANTITY_INVOICED | number}}</td>
                    <td> {{element.UOM}}</td> -->
                    <td class="text-right">{{element.BASE_AMOUNT | numberFormatting}}</td>

                    <td class="text-right">{{element.TAX_AMOUNT | numberFormatting}}</td>
                    <!-- <td class="text-right">{{element.FREIGHT_AMOUNT | numberFormatting}}</td> -->

                    <td class="text-right">{{element.INVOICE_AMOUNT | numberFormatting}}</td>
                    <td>
                      <div class="{{element.PAYMENT_STATUS}}">{{element.PAYMENT_STATUS }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--Row end-->
      </div>
      <div class="row mb-3 pl-3 pr-3" id="filter" *ngIf="tableView">

        <div class="col-sm-12" style="padding-bottom: 10px;">

          <div class='align-items-center justify-content-center d-flex'>
            <span> <select class="form-control" [(ngModel)]="viewCount"> {{viewCount}}
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
                <option value='50'>50</option>
              </select></span> &nbsp;&nbsp;&nbsp;

            <span style="margin-top: 10px;">
              <pagination-controls class="product-pagination" maxSize="5" (pageChange)="onPageChanged($event)">
              </pagination-controls>
            </span>

          </div>
        </div>
      </div>

      <!-- <app-common-payment-view *ngIf="shipmentView" [shipmentId]="lineId" [shipmentView]="shipmentView" (goBackShip)="goBackShip()"></app-common-payment-view> -->

      <!---Container Fluid-->
    </div>
    <!-- Footer -->
    <!-- Footer -->
  </div>
</div>

<div class="modal fade" id="amountModel">
  <div class="modal-dialog modeldlg" >
    <div class="modal-content" *ngIf="paymentScheduleFlag">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> Payment Schedules</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
       <!-- Modal Body-->
       <div class="modal-body reg-form">
        <!-- <div class="card w-100" id="list-table"> -->
          <div class="row  w-100">
            <div class="col-sm-6">
              <div class="form-group c1">
                <div class="ctrl-label">Number</div>
                <div class="ctrl-value">{{paymentSchedule[0].INVOICE_NUM}}</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group c4">
                <div class="ctrl-label">Payment Term</div>
                <div class="ctrl-value">{{paymentSchedule[0].PAYMENT_TERM}} </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="table-responsive  p-3">
                <table class="table align-items-center table-flush" id="listtest">
                  <thead class="thead-light">
                    <tr>
                        <th>Number</th>
                        <th> Due Date</th>
                        <th class="text-right"> Amount</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paymentSchedule;">
                    <td> {{item.PAYMENT_NUM }}</td>
                    <td> {{item.DUE_DATE | date :'dd-MMM-yyyy'}}</td>
                    <td class="text-right"> {{item.GROSS_AMOUNT | numberFormatting}}</td>
                  </tr>
              </tbody>
              </table>
             </div>
            </div>
       <!-- </div> -->
    </div>
  </div>
</div>
</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<notifier-container></notifier-container>
