<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

        <div class="container-fluid" id="container-wrapper">
            <div class="row mb-3 pl-3 pr-3" id="filter" style="margin-top: 80px;">

                    <div class="col-sm-12 col-xs-12">

                        <div class="row float pt-2 pb-2 d-flex align-items-center">

                          <div class="col-sm-6">

                          </div>

                          <div class="col-sm-4" style="padding-top: 13px;">
                            <span  class="searchbox-section">
                               <input type="text" class="form-control" placeholder="Enter Your Search Text"
                               [(ngModel)]="searchText" aria-describedby="basic-addon2">
                              </span>
                              </div>


                              <div class="col-sm-1" style="padding-top: 13px;">
                               <a href="javascript:void(0)" class="btn btn-primary btn-sm" >
                                 <i class="fas fa-search" (click)="setFilteredData()"></i>
                               </a>
                               </div>

                            <!-- <div class="col-sm-5">
                                <br>
                                <div class="input-group  mt-2">
                                    <input type="text" class="form-control" placeholder="Enter Your Search Text"
                                        [(ngModel)]="searchText" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <Button class="input-group-text" id="basic-addon2" type="submit"
                                            (click)="setFilteredData()">Search</Button>
                                    </div>
                                </div>

                            </div> -->

                            <div class='col-sm-1' style="padding-top: 13px;">

                              <a href="javascript:void(0)" class="" (click)="exportExcel()">
                                <!-- <i class="fas  fa-file-excel">Export</i></a> -->
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z" fill="#23a566" data-original="#23a566" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z" fill="#ffffff" data-original="#ffffff" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z" opacity=".19" fill="#000000" data-original="#000000"></path><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z" fill="#8ed1b1" data-original="#8ed1b1"></path></g></svg>
                             </a>
                            </div>
                            <!-- <div class='col-sm-1' style="padding-top: 25px;" *ngIf="view">
                                <select class="form-control" [(ngModel)]="viewCount">
                                    <option value='10'>10</option>
                                    <option value='20'>20</option>
                                    <option value='30'>30</option>
                                    <option value='40'>40</option>
                                    <option value='50'>50</option>
                                </select>

                            </div>
                            <div class='col-sm-4' style="padding-top: 30px;" *ngIf="view">
                                <pagination-controls class="product-pagination" maxSize="5"
                                    (pageChange)="onPageChanged($event)"></pagination-controls>
                            </div> -->
                        </div>
                    </div>

            </div>

            <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="view">
                <div class="col-sm-12">
                    <div class="row">
                        <div id="accordion" class="myaccordion w-100">
                            <div class="card card-2"
                                *ngFor="let element of poHeader | paginate: { id:'moveNext',itemsPerPage: viewCount, currentPage: page } ; let i= index">
                                <div class="card-header" id="heading{{i}}">
                                    <div class="mb-0">
                                        <div class="row">

                                            <div class="col-sm-3">
                                                <div class="form-group c1">
                                                    <div class="ctrl-label">Buyer Organization</div>
                                                    <div class="ctrl-value">{{element.BUYER_ORGANIZATION}}</div>
                                                </div>
                                                <div class="form-group c4">
                                                    <div class="ctrl-label">

                                                        PO Number
                                                    </div>
                                                    <div class="ctrl-value"><a class="text-primary"
                                                            (click)="getTableDetails(element.PO_HEADER_ID)">

                                                            {{element.PO_NO}}</a></div>
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group c3">
                                                    <div class="ctrl-label">Buyer Unit</div>
                                                    <div class="ctrl-value">{{element.BUYER_UNIT }}</div>
                                                </div>

                                                <div class="form-group c5">

                                                    <div class="ctrl-label">PO Date</div>
                                                    <div class="ctrl-value">{{element.PO_DATE}}</div>
                                                </div>


                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group c2">
                                                    <div class="ctrl-label">Buyer</div>
                                                    <div class="ctrl-value">{{element.BUYER}}</div>
                                                </div>
                                                <div class="form-group c8">
                                                  <div class="ctrl-label">Bill to</div>
                                                  <div class="ctrl-value">{{element.BILL_TO_LOCATION}}</div>

                                                </div>


                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group c7">
                                                    <div class="ctrl-label">Currency</div>
                                                    <div class="ctrl-value">{{element.PO_CURRENCY}}</div>

                                                </div>
                                                <div class="form-group c6">
                                                  <div class="ctrl-label">Total Amount</div>
                                                  <div class="ctrl-value">{{element.TOTAL_AMOUNT | numberFormatting}}</div>
                                                </div>

                                            </div>
                                            <div class="col-sm-2">
                                              <div class="form-group c7">
                                                <div class="ctrl-label">Line Amount</div>
                                                <div class="ctrl-value">{{element.LINE_AMOUNT | numberFormatting}}
                                                </div>
                                              </div>
                                              <div class="form-group c6">
                                                <div class="ctrl-label">Tax Amount</div>
                                                <div class="ctrl-value">{{element.TAX_AMOUNT |numberFormatting}}</div>
                                              </div>
                                              <div class="menubutton">
                                                <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PO_ACCEPTANCE'" [attachmentString]="element.ATTACH_DOCUMENT_STRING"
                                                [printDocString]="element.PRINT_DOCUMENT_STRING" [poNumber]="element.PO_NO" [communicationString]="element.COMMUNICATION_STRING">
                                                </app-common-file-view>
                                              </div>

                                              <!-- <div class="ctrl-value">
                                                <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PO_ACCEPTANCE'">
                                                </app-common-file-view>
                                            </div> -->
                                                <!-- <div class="form-group c6">
                                                    <div class="ctrl-label">Attachments</div>
                                                    <div class="ctrl-value">
                                                        <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PO_ACCEPTANCE'">
                                                        </app-common-file-view>
                                                    </div>
                                                </div> -->

                                                <div class="row">

                                                    <!-- <div class="col-sm-8">
                                                        <div class="ctrl-label">PO Amount</div>
                                                        <div class="ctrl-value">{{element.PO_AMOUNT | number}}</div>
                                                    </div> -->
                                                    <!-- <div class="col-sm-4">

                                                        <app-invoice [headerId]="element.PO_HEADER_ID" [logo]="element.BUYER_ORGANIZATION"></app-invoice>

                                                    </div> -->
                                                    <div class="col-sm-12 mt-4">
                                                        <button data-toggle="tooltip" title="Accept" (click)="actionClicked(element.PO_HEADER_ID,'ACCEPT',element)"
                                                            class="btn btn-sm btn-primary"> Accept </button>
                                                        <button  class="btn btn-outline-danger btn-sm ml-2" (click)="rejection(element.PO_HEADER_ID, element)"
                                                        data-toggle="modal" data-target="#myModal" title="Reject">Reject</button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!view">
                <div class="col-sm-12 p-3" id="goback">
                    <div class="  float-right">
                        <button class="btn btn-primary btn-sm" (click)="getBack()">GO Back</button>
                    </div>
                </div>
                <div class="card w-100" id="list-table">
                    <div class="table-responsive  p-3">
                        <table class="table align-items-center table-flush" id="listtest">
                            <thead class="thead-light">
                                <tr class="align">
                                    <th rowspan="2">Line No</th>
                                    <!-- <th>Shipment No</th> -->
                                    <th rowspan="2">Item</th>
                              <th rowspan="2">UOM</th>
                              <th colspan="3" class="text-right">Quantity</th>
                              <th rowspan="2" class="text-right">Price</th>
                              <th rowspan="2" class="text-right">Line Amount</th>
                              <th rowspan="2" class="text-right">Tax Amount</th>
                              <th rowspan="2" class="text-center">Need By Date</th>
                              <th rowspan="2" class="text-center">Promised Date</th>
                              <th rowspan="2" class="text-center">Division</th>
                                    <th rowspan="2">Edit</th>
                                </tr>
                                <tr class="align">
                                  <th>Ordered</th>
                              <th>Delivered</th>
                              <th>Balance </th>
                                </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let element of poLine; let j = index">
                                <tr >
                                  <td >
                                    <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;'*ngIf="element.action" (click)="viewTaxButton1(element,j)"
                                    data-toggle="collapse" attr.data-target="#demo{{j}}" class="accordion-toggle" title="Hide Tax">
                                    <div style="padding-top: 4px; float:left">
                                      <span >[</span> &nbsp;<i class="fas fa-minus">&nbsp; <span>]</span></i>
                                    </div></span>
                                    <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;' *ngIf="!element.action" (click)="viewTaxButton2(element,j)"
                                    data-toggle="collapse" attr.data-target="#demo{{j}}" class="accordion-toggle" title="Show Tax">
                                    <div style="padding-top: 4px; float:left">
                                      <span >[</span> &nbsp;<i class="fas fa-plus">&nbsp; <span>]</span></i>
                                    </div>
                                  </span> &nbsp;
                                    {{element.PO_LINE_NUMBER}}
                                  </td>

                                    <!-- <td>{{element.PO_SHIPMENT_NUMBER}}</td> -->

                                    <td>
                                        <div data-toggle="tooltip" title="{{element.ITEM_DESCRIPTION}}">
                                            {{element.PO_LINE_ITEM }}</div>
                                    </td>

                                    <td>{{element.UOM}}</td>
                                    <td>{{element.ORDERED_QTY | numberFormatting}}</td>
                                    <td> {{element.RECEIVED_QTY | numberFormatting}}</td>
                                    <td> {{element.BALANCE_QTY | numberFormatting}}</td>
                                    <td>{{element.PRICE | numberFormatting}}</td>
                                    <td>{{element.LINE_AMOUNT | numberFormatting}}</td>
                                    <td>{{element.TAX_AMOUNT |numberFormatting}}</td>
                                    <td class="text-center">{{element.NEED_BY_DATE}}</td>
                                    <td class="text-center">{{element.PROMISED_DATE}}</td>
                                    <td class="text-center"> {{element.DIVISION }}</td>
                                    <td><button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#myModal2" (click) = "getLineDetails(element)">Edit</button></td>
                                </tr>
                                <tr >
                                  <td style= "padding-left:30px" class="hiddenRow" colspan="12">
                                    <div class="accordian-body collapse p-3" attr.id="demo{{j}}">
                                      <div class="dropTiles">
                                        <div class="row">
                                          <div class="col-xl-1">
                                            <strong> <p class="modal-title text-primary pl-3">Tax Lines</p></strong>
                                        </div>
                                          <div class="col-xl-3">
                                            <strong>Customer PAN No :</strong> {{element.taxPayerId}}
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Customer GSTIN : </strong> {{element.taxRegNo}}
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Supplier GSTIN :</strong> {{element.myGst}}
                                          </div>
                                          <div class="col-xl-2" data-toggle="tooltip" title="{{element.hsnsacCodeDesc}}">
                                            <strong >HSN/SAC :</strong> {{element.hsnsacCode}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="table table-bordered p-3">
                                          <table class="table" id="listtest">
                                            <thead class="thead-light">
                                              <tr>
                                                <th>Line number </th>
                                                <th>Tax Rate Code </th>
                                                <th>Tax Rate</th>
                                                <th class="text-right">Taxable Amount</th>
                                                <th class="text-right">Tax Amount</th>
                                                <th>Currency </th>
                                                <th> Self Assessed</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let element1 of element.taxData ; let i = index"  >
                                                <td> {{element1.TAX_LINE_NUM}}</td>
                                                <td> {{element1.TAX_TYPE_NAME}}</td>
                                                <td> {{element1.TAX_RATE_PERCENTAGE}}</td>
                                                <td> {{element1.TAXABLE_AMT | numberFormatting}} </td>
                                                <td> {{element1.TAX_AMT | numberFormatting}}</td>
                                                <td> {{element1.TAX_CURRENCY_CODE}}</td>
                                                <td>{{element1.SELF_ASSESSED_FLAG}} </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                      </div>
                                  </td>
                                  </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mb-3 pl-3 pr-3" id="filter" *ngIf="view">

              <div class="col-sm-12" style="padding-bottom: 10px;">

                <div class='align-items-center justify-content-center d-flex'>
                <span> <select class="form-control" [(ngModel)]="viewCount">
                    <option value='10'>10</option>
                    <option value='20'>20</option>
                    <option value='30'>30</option>
                    <option value='40'>40</option>
                    <option value='50'>50</option>
                  </select></span> &nbsp;&nbsp;&nbsp;

                 <span style="margin-top: 10px;"> <pagination-controls id="moveNext" class="product-pagination" maxSize="5" (pageChange)="onPageChanged($event)">
                  </pagination-controls></span>

            </div>
          </div>
        </div>
        </div>
    </div>
</div>

<!--Modal-->
 <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Reject Reason</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body reg-form">
            <div class="row">
            <div class = "col-sm-8">
            <input type="textarea" [(ngModel)]="reason" name="text" class="form-control"
                  id="exampleInputFirstName" placeholder="Enter here... " (ngModelChange)="getReason()">
            </div>
            <div class = "col-sm-4">
            </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!show1" (click)="submit()">Submit</button>&nbsp;
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)= "cancel()">Cancel</button>
          </div>
      </div>
    </div>
</div>

<!--Modal2-->

<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-md">
      <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Edit</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body reg-form">
            <div class="row">
            <div class = "col-sm-8">
                <div class="form-group" *ngIf = 'modalDate'>
                    <label class="control-label">Promised Date</label>
                    <div class='input-group date' id='datetimepicker1'>
                       <input id="datepicker" width="276" [(ngModel)]="promisedDate"
                        ngDefaultControl />
                    </div>
                 </div>
            </div>
            <div class = "col-sm-4">
            </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submit2()">Update</button>&nbsp;
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)= "cancel2()">Cancel</button>
          </div>
      </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>

<script type="text/javascript">
  $('.accordion-toggle').click(function(){
    $('.hiddenRow').hide();
    $(this).next('tr').find('.hiddenRow').show();
    });
  </script>
