  <!-- TopBar -->
  <!-- <nav class="navbar navbar-expand navbar-light bg-navbar topbar  fixed-top static-top">
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="logo">
            <img src="assets/img/logo-2.jpg">
          </div>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
          <form class="navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-1 small"
                placeholder="What do you want to look for?" aria-label="Search" aria-describedby="basic-addon2"
                style="border-color: #3f51b5;">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger badge-counter">3+</span>
        </a>
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
            Alerts Center
          </h6>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-primary">
                <i class="fas fa-file-alt text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 12, 2019</div>
              <span class="font-weight-bold">A new monthly report is ready to download!</span>
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-success">
                <i class="fas fa-donate text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 7, 2019</div>
              $290.29 has been deposited into your account!
            </div>
          </a>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="mr-3">
              <div class="icon-circle bg-warning">
                <i class="fas fa-exclamation-triangle text-white"></i>
              </div>
            </div>
            <div>
              <div class="small text-gray-500">December 2, 2019</div>
              Spending Alert: We've noticed unusually high spending for your account.
            </div>
          </a>
          <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
        </div>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px">
          <span class="ml-2 d-none d-lg-inline text-primary small">VIVAR PRINTING SDN BHD</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="login.html">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </nav> -->
  <!-- Topbar -->
  <div id="wrapper">
    <!-- Sidebar -->
    <!-- <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="far fa-fw fa-file"></i>
          <span>Procurement</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="pending-orders.html">Pending Purchase Orders</a>
            <a class="collapse-item" href="past-orders.html">Past Purchase Orders</a>
            <a class="collapse-item" href="pending-agreements.html">Pending Purchase Agreements</a>
            <a class="collapse-item" href="past-agreements.html">Past Purchase Agreements</a>
            <a class="collapse-item" href="pending-acceptence.html">Pending For Acceptance</a>
            <a class="collapse-item" href="Uploaddoc.html">Upload Documents</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
          aria-controls="collapseTable">
          <i class="fas fa-fw fa-truck"></i>
          <span>Shipment</span>
        </a>
        <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="advanceshipments.html">Advance Shipment Notice</a>
            <a class="collapse-item" href="viewreceipts.html">View Receipts</a>
            <a class="collapse-item" href="viewreturns.html">View Returns</a>
            <a class="collapse-item" href="viewperformance.html">View Delivery Performance</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
          aria-controls="collapsePage">
          <i class="fas fa-fw fa-coins"></i>
          <span>Finance</span>
        </a>
        <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="create-invoice.html">Create Invoice</a>
            <a class="collapse-item" href="inv-register.html">Invoice register</a>
            <a class="collapse-item" href="paayment-register.html">Payment Register</a>
            <a class="collapse-item" href="view-advance-payment.html">View Advance Payment </a>
            <a class="collapse-item" href="myledger.html">My Ledger</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage1" aria-expanded="true"
          aria-controls="collapsePage1">
          <i class="fas fa-fw fa-address-card"></i>
          <span> Profile Management</span>
        </a>
        <div id="collapsePage1" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="generalinfo.html">Manage General Information</a>
            <a class="collapse-item" href="managelocations.html">Manage Locations</a>
            <a class="collapse-item" href="managecontact.html">Manage Contacts</a>
            <a class="collapse-item" href="managebank.html">Manage Bank Accounts</a>
            <a class="collapse-item" href="productandservices.html">Products and Services</a>
          </div>
        </div>
      </li>
    </ul> -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <!-- <div class="d-sm-flex align-items-center justify-content-between mt-3 ">
            <div class="headers">
              <h1 class="h3 mb-0  page-title">User Creation</h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Creation</li>
              </ol>
            </div>
            <h5>
              <select class="form-control">
                <option>SELANGOR</option>
              </select>
            </h5>
          </div> -->
          <div class="row mt-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12  ">
              <div class="float-right mb-2">
                <!-- <button class="btn btn-primary " data-toggle="modal" data-target="#myModal1" type="submit"
                  value="Add Location">
                   <i class="fas fa-plus"></i>Add User</button> -->

              </div>
            </div>
            <div class="col-xl-12 col-md-12 mb-4">

              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">User Lists</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>S.no</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status </th>
                        <th>Role Access</th>
                        <th>All Supplier</th>
                        <th>Action</th>
                        <th>Assign Supplier</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of userList; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.USER_ID}}</td>
                        <td>{{item.FULL_NAME}}</td>
                        <td>{{item.LAST_NAME}}</td>
                        <td>{{item.ACTIVE_FLAG}}</td>
                        <td>{{item.ROLE_ACCESS}} </td>
                        <td>{{item.ALL_SUPPLIER_FLAG}} </td>

                        <td>
                          <!-- <a data-toggle="modal" data-target="#myModal1" class="m-0  btn btn-primary btn-sm" href="#">
                            <i class="fas fa-pen"></i></a> -->
                            <a class="m-0 btn btn-primary btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#myModal1"
                            data-backdrop="static" (click)="editUser(item, i)"><i class="fas fa-pen"></i></a>

                          <!-- <a class="m-0   btn btn-danger btn-sm" href="#"> <i class="fas fa-trash"></i></a> -->
                        </td>
                        <td >
                          <!-- [disabled]="item.ALL_SUPPLIER_FLAG ==='Y'" -->
                            <button data-toggle="modal" data-target="#myModal2" class="m-0  btn btn-primary btn-sm"
                          href='javascript:void(0)' (click)="AssignSupplier(item)" [disabled]="item.ALL_SUPPLIER_FLAG ==='Y'" > <i class="fas fa-plus"></i> Assign Supplier</button>
                      </td>
                      <!-- <button class=" white-space btn btn-primary  btn-sm" type="submit" value="Add Location"
                        [disabled]="!item.selected || item.LOT_ENABLED ==='N'" (click)="addLotClicked(i, item.PO_LINE_NUMBER)" id="test">Lot Details</button> -->
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>

            </div>
            <!-- Earnings (Annual) Card Example -->


          </div>
          <!--Row-->
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <!-- <footer class="sticky-footer  ">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>
              &copy;
              <script> document.write(new Date().getFullYear()); </script>. - YTY Group. All Rights Reserved.
            </span>
          </div>
        </div>
      </footer> -->
      <!-- Footer -->
    </div>
  </div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="modal fade" id="myModal1" style="min-width: 800px;">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <!-- <h4 class="modal-title" *ngIf="!toggleButton">Add User Items</h4> -->
          <h4 class="modal-title">Update User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body reg-form">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                name="FIRST_NAME" [(ngModel)]="user.FIRST_NAME" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                name="LAST_NAME" [(ngModel)]="user.LAST_NAME">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Email </label>
                <input type="Email" class="form-control" id="exampleInputFirstName" placeholder=" "
                name="USER_ID" [(ngModel)]="user.USER_ID" readonly>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Secondary Email </label>
                <input type="Email" class="form-control" id="exampleInputFirstName" placeholder=" "
                name="SECONDARY_EMAIL" [(ngModel)]="user.SECONDARY_EMAIL">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Phone Number </label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                name="PRIMARY_PHONE" [(ngModel)]="user.PRIMARY_PHONE">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>All Supplier</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch2"
                  name="ALL_SUPPLIER_FLAG" [(ngModel)]="user.ALL_SUPPLIER_FLAG">
                  <label class="custom-control-label" for="customSwitch2"></label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Role Name</label>
                <select class="form-control"  name="ROLE_NAME" [(ngModel)]="user.ROLE_NAME">
                  <option *ngFor = "let role of rolesList " [value]="role.ROLE_NAME"> {{role.ROLE_NAME}}</option>
                  <!-- <option value="REGIOANL ADMIN">Ruang admin</option> -->
                  <!-- <option value="SUPER ADMIN">Super Admin</option> -->
                </select>
              </div>
            </div>

            <!-- <div class="col-sm-2">
              <div class="form-group">
                <label>Oracle User</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch3"
                  name="ORACLE_USER" [(ngModel)]="user.ORACLE_USER">
                  <label class="custom-control-label" for="customSwitch3"></label>
                </div>
              </div>
            </div> -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Oracle User</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                name="ORACLE_USER" [(ngModel)]="user.ORACLE_USER">
              </div>
            </div>


            <div class="col-sm-2">
              <div class="form-group">
                <label>Status</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1"
                  name="ACTIVE_FLAG" [(ngModel)]="user.ACTIVE_FLAG">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Role Access</label>
                <select class="form-control" name="USER_ACCESS_LEVEL" [(ngModel)]="user.USER_ACCESS_LEVEL">
                  <option value="INTERNAL">INTERNAL</option>
                  <option value="EXTERNAL"> EXTERNAL</option>
                  <option value="ALL">ALL</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button> -->
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!toggleButton" (click)="addUser();" >Add</button> -->
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addUser();" >Update</button>

        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal2" style="min-width: 800px;">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Assign Supplier</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body reg-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                <form>
                  <div *ngIf ="supplierFlag">
                    <p>No supplier Added</p>
                  </div>
                  <!-- <div *ngIf ="supplieralreadyAssignedwithYes.length>0">
                    <select *ngFor="let item of supplieralreadyAssignedwithYes">
                      {{item}}
                   </select>
                  </div> -->
                  <div *ngFor="let item of supplieralreadyAssignedwithYes; let i=index;">
                    <input type="checkbox" name="supplieralreadyAssignedwithYes{{i}}" [(ngModel)]="item.isChecked"
                    (change)="changeSelection(i)"  > {{item.SUPPLIER_NAME}}
                 </div>

                  <button (click)="AddMoreButton()"><i class="fas fa-plus"></i></button>
                  <!-- <div *ngIf ="!supplierFlag"> -->
                    <!-- <div *ngFor="let object of supplieralreadyAssigned; let i=index;">
                      <input type="checkbox" name="USER_ASSIGNMENT_LIST{{i}}" [(ngModel)]="object.isChecked"
                      (change)="changeSelection()"  > {{object.SUPPLIER_NAME}}
                   </div> -->
                   <!-- <datalist >
                    <select multiple >
                      <option  *ngFor="let item of supplieralreadyAssigned"   [value]='item.SUPPLIER_NAME'>{{item.SUPPLIER_NAME}}</option>
                    </select>
                    </datalist> -->
                    <!-- {{supplierNames}} -->
                    <div class="modal-content" *ngIf ="supplierFlag">
                        <div class="modal-body">
                          <div>
                              <div class="form-group">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <label> {{supplieralreadyAssigned.length===0?'Loading Please Wait':'Select Supplier'}} </label>

                              <input  class="form-control" type="text" list="selectParty" (keyup)="setSupplier($event.target.value)" multiple
                              onfocus="this.value=''" onchange="this.blur();"/>
                              <datalist id="selectParty" >
                              <select >
                                  <option  *ngFor="let item of supplieralreadyAssigned"   [value]='item.SUPPLIER_NAME'>{{item.SUPPLIER_NAME}}</option>
                              </select>
                              </datalist>
                            </div>
                       </div>
                       </div>
                       <!-- <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
                          <button type="button"
                          class="btn btn-primary" (click)="confirmParty()" data-dismiss="modal" [disabled]= "!party">Confirm Supplier</button>
                      </div> -->
                 </div>
                  <!-- </div> -->
               </form>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
          <button type="button" class="btn btn-primary" (click)="addAssignMenuToRole();" data-dismiss="modal" >Assign</button>
        </div>
      </div>
    </div>
  </div>

  <!-- popup end -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
  <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
  <!-- <script src="js/ruang-admin.min.js"></script> -->
  <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
  <!-- <script src="js/demo/chart-area-demo.js"></script> -->


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<notifier-container></notifier-container>
