<div id="wrapper">


    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">

          <div class="container-fluid" id="container-wrapper">

            <!--Row start-->
            <div class="row">
                <div class="col-lg-10 col-sm-10"></div>
                <div class="col-lg-2 col-sm-2">
                    <!-- <button class="btn btn-primary w-200" data-toggle="modal" data-target="#myModal" type="submit" value="Add Contact" (click)="addContact()">Add Contact</button> -->
                </div>
            </div>


            <div class="row mb-3 " style= "margin-top: 20px;" >
                <div class="col-xl-6 col-lg-6 mb-4" *ngFor="let element of vendorContacts">
      <div class="card h-100">
        <div class="card-header py-3 d-flex flex-row border-bottom align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{{element.VENDOR_NAME}}</h6>
           <span class="act"><i class="ml-3 fas fa-bullseye"></i>Active</span>
           <!-- <a class="m-0 float-right btn btn-primary btn-sm " href="#" data-toggle="modal" data-target="#myModal" (click)="editContact(element)">Edit <i class="ml-3 fas fa-chevron-right"></i></a> -->
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                   <div class="form-group c1">
                                     <div class="ctrl-label">Salutation</div>
                                     <div class="ctrl-value">{{element.SALUTATION ||'-'}}</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Middle Name</div>
                                     <div class="ctrl-value">-</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Job Title</div>
                                     <div class="ctrl-value">{{element.JOB_TITLE ||'-'}}</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Phone</div>
                                     <div class="ctrl-value">{{element.PHONE ||0}}</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Email</div>
                                     <div class="ctrl-value">{{element.EMAIL_ADDRESS ||'-'}}</div>
                                  </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group c1">
                                     <div class="ctrl-label">First Name</div>
                                     <div class="ctrl-value">{{element.PERSON_FIRST_NAME ||'-'}}</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Last Name</div>
                                     <div class="ctrl-value">{{element.PERSON_LAST_NAME ||'-'}}</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Mobile</div>
                                     <div class="ctrl-value">{{element.PHONE || 0 }}</div>
                                  </div>
                                  <div class="form-group c1">
                                     <div class="ctrl-label">Fax</div>
                                     <div class="ctrl-value">{{element.FAX || 0}}</div>
                                  </div>
                </div>
             </div>
        </div>

      </div>
    </div>

          </div>



          </div>

        </div>

    </div>

</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <!-- <h4 class="modal-title" *ngIf="!contact.VENDOR_ID">Add Contact</h4> -->
          <!-- <h4 class="modal-title" *ngIf="contact.VENDOR_ID">Edit Contact</h4> -->
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
         <div class="modal-body reg-form">
          <div class="row">
              <div class="col-sm-4">
                     <div class="form-group">
                      <label>Salutation</label>
                       <select class="form-control" [(ngModel)]="contact.SALUTATION">
                          <option value="">Select</option>
                          <option value="MR.">Mr</option>
                          <option value="MS.">Ms</option>
                          <option value="MISS">Miss</option>
                          <option value="MRS">Mrs</option>
                          <option value="DR">Dr</option>

                      </select>
                    </div>
              </div>
               <div class="col-sm-4">
                      <div class="form-group">
                      <label>First Name</label>
                      <input type="text" [(ngModel)]="contact.PERSON_LAST_NAME" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
               </div>
               <div class="col-sm-4">
                     <div class="form-group">
                      <label>Middle Name</label>
                      <input type="text" [(ngModel)]="contact.MIDDLE_NAME" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
              </div>
          </div>

           <div class="row">
             <div class="col-sm-4">
                      <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" [(ngModel)]="contact.PERSON_FIRST_NAME" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
               </div>
              <div class="col-sm-4">
                     <div class="form-group">
                      <label>Job Title</label>
                      <input type="text" [(ngModel)]="contact.JOB_TITLE" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
              </div>
               <div class="col-sm-4">
                      <div class="form-group">
                      <label>Phone</label>
                      <input type="text" [(ngModel)]="contact.PHONE" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
               </div>
          </div>



 <div class="row">
              <div class="col-sm-6">
                     <div class="form-group">
                      <label>Fax</label>
                      <input type="text" [(ngModel)]="contact.FAX" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
              </div>
               <div class="col-sm-6">
                      <div class="form-group">
                      <label>Email</label>
                      <input type="text" [(ngModel)]="contact.EMAIL_ADDRESS" class="form-control" id="exampleInputFirstName" placeholder=" ">
                    </div>
               </div>
          </div>
        </div>




        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!contact.VENDOR_ID"
          (click)="saveContact()">Add</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="contact.VENDOR_ID"
          (click)="updateContact()">Update</button>
        </div>

      </div>
    </div>
  </div>

  <!-- popup end -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
