#top {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 

.login-22 {
    height: 100vh;
}
.col-md-12.text-center.header {
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}

a#myBtn {
    background: #FFEB3B;
    padding: 10px;
    color: #111;
    margin-top: 20px;
}
.login-22 .info {
    max-width: 500px !important;
    margin: 0 auto;
    padding: 30px 20px;
    border: solid 5px #fff;
    text-align: center;
}
div#home canvas{
    position: absolute;
        top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.3;
}