<div id="particles-js">
    <div id="top">
        <!-- Login 22 start -->
        <div class="login-22" id="home">
            <div class="container-fluid  ">
                <div class="row">
                    <div class="col-md-12 text-center header">
                        Welcome Suppliers</div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12  none-992">
                        <div class="info">
                            <h1>Supplier Information</h1>
                            <p>
                                Get started today or update company profile.
                            </p>
                            <div class="form-group mb-0">
                                <a id="myBtn" class="btn-md btn-theme btn-block next" [routerLink]="['/auth/registration']">Get
                                    Started
                                    or
                                    Update Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12  none-992">
                        <div class="info">
                            <h1>Portal Access</h1>
                            <p>Login to gain access to the healthtrust supplier portal below
                            </p>
                            <div class="form-group mb-0">
                                <a id="myBtn" class="btn-md btn-theme btn-block d" [routerLink]="['/auth/login']">Supplier Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>