<div class='wrapper'>
    <div class="login-22">
        <!-- <div class="container-fluid"> -->
            <div class="row">
                <!-- <div class="col-lg-6 col-md-12 bg-img none-992">
                    <div class="info">
                        <h1>Welcome to craftsman</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
                    </div>
                </div> -->
                <div class="col-lg-12 col-md-12 bg-color-13">
                    <div class="form-section">
                        <div class="logo clearfix">
                            <a href="login.html">
                              <img src="{{logo}}" alt="logo">
                            </a>
                        </div>
                        <h3 *ngIf="text">Change Password</h3>
                        <div class="login-inner-form">
                            <form action="#" method="GET" *ngIf="text">

                                <div class="form-group form-box" *ngIf="showOldPass">
                                    <input type="password" name="oldpasword" class="input-text" placeholder="Old Password"
                                    [(ngModel)]="oldPassword">

                                </div>
                                <div class="form-group form-box" *ngIf="!showOldPass">
                                    <input type="password" name="newPassword" class="input-text" placeholder="New Password"
                                    [(ngModel)]="newPassword">

                                </div>
                                <div class="form-group form-box" *ngIf="!showOldPass">
                                    <input type="password" name="confirmPassword" class="input-text" placeholder="Confirm Password"
                                    [(ngModel)]="confirmPassword">

                                </div>
                                <div class="form-group mb-0" *ngIf="!showOldPass">
                                    <button type="submit" (click)="submitPassword()" class="btn-md btn-theme btn-block">Submit</button>
                                </div>
                                <div class="form-group mb-0" *ngIf="showOldPass">
                                    <button type="submit" (click)="checkPassword()" class="btn-md btn-theme btn-block">Confirm</button>
                                </div>
                            </form>
                            <form *ngIf="!text">

                                <h3>Your new Supplier Portal password for your account has been set.
                                        Login to <a>your page</a> and access the self-service portal.</h3>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>


</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
