
<!-- hhhhhhhhhhhhhhhhhh -->
<div id="content-wrapper">
  <div id="content">
    <div class="container-fluid" id="container-wrapper">
      <div class="d-sm-flex align-items-center justify-content-between  ">
        <div class=" row float mt-2 pb-2 d-flex align-items-center">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label">Date From</label>
              <div class='input-group date' id='datetimepicker1'>
                <input id="datepicker" name="fromDate" width="276" [(ngModel)]="fromDate"
                  (ngModelChange)="fromDateChanged()" readonly />
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label">Date To</label>
              <div class='input-group date' id='datetimepicker2'>
                <input id="datepicker1" width="276" [(ngModel)]="toDate" readonly />
              </div>
            </div>
          </div>

          <div class="col-sm-1">
            <button class="btn   btn-primary mt-3" (click)="getPastPurchases()">View</button>
          </div>

          <div class="col-sm-4" style="padding-top: 13px;">
            <span class="searchbox-section">
              <input type="text" class="form-control" placeholder="Enter Your Search Text" [(ngModel)]="searchText"
                aria-describedby="basic-addon2">
            </span>
          </div>


          <div class="col-sm-1" style="padding-top: 13px;">
            <a href="javascript:void(0)" class="btn btn-primary btn-sm">
              <i class="fas fa-search" (click)="setFilteredData()"></i>
            </a>
          </div>

          <div class="col-sm-1" style="padding-top: 13px;">
            <a href="javascript:void(0)" class="" (click)="exportExcel()">
              <!-- <i class="fas  fa-file-excel">Export</i></a> -->
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <path xmlns="http://www.w3.org/2000/svg"
                    d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z"
                    fill="#23a566" data-original="#23a566" class=""></path>
                  <path xmlns="http://www.w3.org/2000/svg"
                    d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z"
                    fill="#ffffff" data-original="#ffffff" class=""></path>
                  <path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z" opacity=".19"
                    fill="#000000" data-original="#000000"></path>
                  <path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z"
                    fill="#8ed1b1" data-original="#8ed1b1"></path>
                </g>
              </svg>
            </a>
          </div>

          <!-- <div class="col-sm-1 float-right" style="padding-top: 13px;">
  <a class="btn btn-primary btn-sm" id="grid" href="javascript:void(0)"
     [class.btn-primary]="viewGrid" [class.btn-light]="!viewGrid" (click)="onViewGrid()">
     <i class="fas fa-th"></i>
  </a>
  <a class="btn btn-light btn-sm" id="list" href="javascript:void(0)" [class.btn-primary]="!viewGrid"
     [class.btn-light]="viewGrid" (click)="onViewList()">
     <i class="fas fa-list"></i>
  </a>
  </div> -->
        </div>
        </div>
        </div>
        </div></div>
