/*------------------------------------------------------------------
[Main Stylesheet]

Project:    LOGDY
Version:    1.1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]
    *. Login Layout 1 / .login-1
    *. Login Layout 2 / .login-13
    *. Login Layout 3 / .login-3
    *. Login Layout 4 / .login-15
    *. Login Layout 5 / .login-5
    *. Login Layout 6 / .login-17
    *. Login Layout 7 / .login-7
    *. Login Layout 8 / .login-19
    *. Login Layout 9 / .login-9
    *. Login Layout 10 / .login-21
    *. Login Layout 11 / .login-11
    *. Login Layout 12 / .login-23
    *. Login Layout 12 / .login-23
    *. Login inner form / .login-inner-form
    *. Login inner form details / .details
-------------------------------------------------------------------*/
/** GLOBAL CLASSES **/

body {
   font-family: 'Roboto', sans-serif;
    color: #535353;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'Roboto', sans-serif;
}


/** Login 22 start **/
.login-22{
    overflow: hidden;
}
.login-22 .login-inner-form {
    color: #cccccc;
    position: relative;
}

.login-22 .bg-color-13 {
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}

.login-22 .form-section{
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.login-22 .form-box{
    width: 100%;
    text-align: center;
}

.login-22 .login-inner-form .form-group {
    margin-bottom: 25px;
}

.login-22 .login-inner-form .form-box {
    float: left;
    width: 100%;
    position: relative;
}

.login-22 .login-inner-form .input-text {
    font-size: 14px;
    outline: none;
    color: #616161;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-22 .login-inner-form img {
    margin-bottom: 5px;
    height: 40px;
}

.login-22 .login-inner-form .form-box input {
    float: left;
    width: 100%;
    padding: 11px 45px 11px 20px;
    border-radius: 50px;
}

.login-22 .login-inner-form .form-box i {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 19px;
    color: #616161;
}

.login-22 .login-inner-form label{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.login-22 .login-inner-form .forgot{
    margin: 0;
    line-height: 45px;
    color: #535353;
    font-size: 15px;
    float: right;
}

.login-22 .bg-img {
    background: rgba(0, 0, 0, 0.04) url(../img/bg-image-8.jpg) top left repeat;
    background-size: cover !important;
    background-position: center;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 999;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-22 .info h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.login-22 .info {
    max-width: 350px;
    margin: 0 auto;
    padding: 30px 20px;
    border: solid 5px #fff;
    text-align: center;
}

.login-22 .info p{
    margin-bottom: 0;
    color: #fff;
    line-height: 28px;
}

.login-22 .login-inner-form .btn-md {
    cursor: pointer;
    padding: 10px 30px 9px 30px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
  font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    color: #d6d6d6;
}

.login-22 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-right: 3px;
}

.login-22 .login-inner-form p{
    margin: 0;
    color: #616161;
}

.login-22 .login-inner-form p a{
    color: #616161;
}

.login-22 .login-inner-form button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login-22 .login-inner-form .btn-theme.focus, .btn-theme:focus {
    box-shadow: none;
}

.login-22 .login-inner-form .btn-theme {
    background: #0f96f9;
    border: none;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-22 .login-inner-form .btn-theme:hover {
    background: #108ae4;
}

.login-22 .logo img{
    /* height: 30px; */
    width:150px;
    margin-bottom: 20px;
}

.login-22 .nav-pills li{
    display: inline-block;
}

.login-22 .login-inner-form .checkbox {
    margin-bottom: 25px;
    font-size: 14px;
}

.login-22 .login-inner-form .form-check{
    float: left;
    margin-bottom: 0;
}

.login-22 .login-inner-form .form-check a {
    color: #d6d6d6;
    float: right;
}

.login-22 .login-inner-form .form-check-input {
    position: absolute;
    margin-left: 0;
}

.login-22 .login-inner-form .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    margin-left: -25px;
    border: none;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-22 .login-inner-form .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 14px;
    color: #616161;
}

.login-22 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
    color: #fff;
    background: #0f96f9;
}

.login-22 .login-inner-form input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    font-size: 14px;
    content: "\2713";
    line-height: 17px;
}

.login-22 .btn-section{
    top: 20px;
    position: absolute;
    right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.login-22 .btn-section .link-btn {
    font-size: 12px;
    float: left;
    background: transparent;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
    border-radius: 0;
    color: #0f96f9;
    text-decoration: none;
    text-decoration: blink;
}

.login-22 .btn-section .btn-2{
    line-height: 30px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    width: 90px;
}

.login-22 .btn-section .active-bg{
    background: #0f96f9;
    color: #fff;
}

.login-22 .btn-section .default-bg{
    background: #fff;
}

.login-22 .btn-section .btn-1{
    line-height: 30px;
    text-align: center;
    width: 90px;
    border-radius: 50px 0 0 50px;
}

.login-22 .btn-section{
    margin: 0 auto 30px;
}

.login-22 .login-inner-form input[type=checkbox], input[type=radio] {
    margin-top: 4px;
}

.login-22 .login-inner-form .checkbox a {
    font-size: 14px;
    color: #616161;
    float: right;
    margin-left: 3px;
}

.login-22 .form-section{
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}

.login-22 .form-section h3{
    font-size: 20px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #505050;
}

.login-22 .form-section p {
    margin: 28px 0 0;
    font-size: 14px;
    color: #d6d6d6;
}

.login-22 .form-section p a {
    color: #d6d6d6;
}

.login-22 .social-list a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 2px;
    border-radius: 50%;
}

.login-22 .facebook-bg {
    background: #4867aa;
}

.login-22 .facebook-bg:hover {
    background: #3b589e;
    color: #fff;
}

.login-22 .twitter-bg {
    background: #33CCFF;
}

.login-22 .twitter-bg:hover {
    background: #56d7fe;
}

.login-22 .google-bg {
    background: #db4437;
}

.login-22 .google-bg:hover {
    background: #dc4e41;
}

.login-22 .linkedin-bg {
    background: #2392e0;
    color: #fff;
}

.login-22 .linkedin-bg:hover {
    background: #1c82ca;
    color: #fff;
}

.login-22 .pinterest-bg {
    background: #bd081c;
    color: #fff;
}

.login-22 .pinterest-bg:hover {
    background: #a30618;
    color: #fff;
}

/** MEDIA **/
@media (max-width: 992px) {
    .login-22 .none-992{
        display: none;
    }
}

@media (max-width: 768px) {
    .login-22 .social-list a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
    }
}
/** Login 22 start **/


/*registration page*/
 .wizard>.steps .current-info,
 .wizard>.steps .number {
     display: none
 }
.shadow {

    width: 100%;
    margin: 30px 0px;
    padding: 20px;
}
.shadowEff {

    width: 100%;
    margin: 30px 0px;
    padding: 20px;
}
 #wizard {

     background: #fff;

        padding: 20px 10px;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 100%
 }

 .steps {
     margin-bottom: 20px
 }

 .steps ul {
     display: flex;
     position: relative
 }

 .steps ul li {
     width: 25%;
     margin-right: 10px
 }
.wizard label  {
    margin-bottom: 0px !important;
    font-size: 14px !important;
}
 .reg-form label{
    margin-bottom: 0px !important;
    font-size: 14px !important;
}

 .steps ul li a {
     display: inline-block;
     width: 100%;
     height: 7px;
     background: #e6e6e6;
     border-radius: 3.5px
 }

 .steps ul li.first a,
 .steps ul li.checked a {
     background: #0f96f9;
     transition: all 0.5s ease;
 }

 .steps ul:before {
     content: "Basic Information";
     font-size: 22px;
     font-family: 'Roboto', sans-serif;
     color: #0f96f9;
     top: -38px;
     position: absolute;
 }

 .steps ul.step-2:before {
     content: "Company Information"
 }

 .steps ul.step-3:before {
     content: "Address Information"
 }

 .steps ul.step-4:before {
     content: "Contact Information"
 }
 .steps ul.step-5:before {
     content: "Bank Account"
 }
 .steps ul.step-6:before {
     content: "Intermediate Bank Account"
 }

 .steps ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.actions ul {
     display: flex;
     margin-top: 30px;
     justify-content: space-between;
      padding: 0;
    margin: 0;
    list-style: none;
 }

 .actions ul.step-last {
     justify-content: flex-end
 }

 .actions ul.step-last li:first-child {
     display: none
 }

 .actions li a {
     padding: 0;
     border: none;
     display: inline-flex;
     height: 51px;
     width: 135px;
     align-items: center;
     background: #0f96f9;
     cursor: pointer;
     color: #fff !important;
     position: relative;
     padding-left: 41px;
     text-decoration: none;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     font-weight: 400;
 }

 .actions li a:before {
     content: '\2192';
     position: absolute;
     top: 15px;
     right: 41px;
     color: #fff;
     font-family: "FontAwesome";
     -webkit-transform: translateZ(0);
     transform: translateZ(0)
 }

 .actions li a:hover {
     background: #0e87e0;
 }

 .actions li a:hover:before {
     -webkit-animation-name: hvr-icon-wobble-horizontal;
     animation-name: hvr-icon-wobble-horizontal;
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-timing-function: ease-in-out;
     animation-timing-function: ease-in-out;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1
 }

 .actions li[aria-disabled="true"] a {
     display: none
 }

 .actions li:first-child a {
     background: #e6e6e6;
     padding-left: 48px
 }

 .actions li:first-child a:before {
     content: '\2190';
     left: 26px
 }

 .actions li:first-child a:hover {
     background: #ccc
 }

 .actions li:last-child a {
     padding-left: 29px;
     width: 167px;
     font-weight: 400
 }

 .actions li:last-child a:before {
     right: 30px
 }


.add-addrees {
    background: #f5f5f5;
    padding: 20px;
    border: 2px dashed;
    text-align: center;
    cursor: pointer;
}
.addresss {
    border: 1px solid rgba(85, 51, 85, 0.19);
    border-radius: 6px;
    margin-bottom: 20px;
}

.value-header {font-weight: bold;padding: 15px;border-bottom: 1px solid rgba(85, 51, 85, 0.19);}

.address-body {
    padding: 15px;
}

.value {
    margin-bottom: 10px;
}

.label {
    color: #949494;
    font-size: 14px;
}

.value {
    color: #000;
}
.single-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 input#cpatchaTextBox {
    margin-bottom: 20px;
}
