<div id="wrapper">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
             <!--Row start-->


             <div class="row">
               <div class="col-lg-10 col-sm-10"></div>
               <div class="col-lg-2 col-sm-2">
                   <!-- <button class="btn btn-primary w-200" data-toggle="modal" data-target="#myModal3" type="submit" value="Add Bank" (click)="addBank()">Add Bank</button> -->
               </div>
           </div>

             <div class="row mb-3 "  >
                   <div class="col-sm-6 col-xs-12" *ngFor="let element of vendorBanks">
                   <div class="card h-100">
                      <div class="card-header py-3 d-flex flex-row border-bottom align-items-center justify-content-between">
             <h6 class="m-0 font-weight-bold text-primary">{{element.UNIT}} - {{element.VENDOR_SITE_CODE}}</h6>

             <span class="act"><i class="ml-3 fas fa-bullseye"></i>Active</span>
              <!-- <a class="m-0 float-right btn btn-primary btn-sm " data-toggle="modal" data-target="#myModal3" href="javascript:void(0)" (click)="editBank(element)">Edit<i class="ml-3 fas fa-chevron-right"></i></a> -->
           </div>
           <div class="card-body">

<div class="row">
<div class="col-sm-6">
 <div class="form-group c1">
                   <div class="ctrl-label">Country</div>
                   <div class="ctrl-value">{{element.COUNTRY ||'-'}}</div>
                </div>
                <div class="form-group c1">
                   <div class="ctrl-label">IFSC CODE</div>
                   <div class="ctrl-value">{{element.BRANCH_NUMBER ||'-'}}</div>
                </div>
                <!-- <div class="form-group c1">
                   <div class="ctrl-label">BIC</div>
                   <div class="ctrl-value">{{element.BIC ||'-'}}</div>
                </div> -->
                <div class="form-group c1">
                   <div class="ctrl-label">Account Name</div>
                   <div class="ctrl-value">{{element.BANK_ACCOUNT_NAME ||'-'}}</div>
                </div>
                <div class="form-group c1">
                  <div class="ctrl-label">Currency</div>
                  <div class="ctrl-value">{{element.CURRENCY ||'-'}}</div>
               </div>

</div>
<div class="col-sm-6">
 <div class="form-group c1">
                   <div class="ctrl-label">Bank</div>
                   <div class="ctrl-value">{{element.BANK_NAME ||'-'}}</div>
                </div>
                <div class="form-group c1">
                   <div class="ctrl-label">Branch Name</div>
                   <div class="ctrl-value">{{element.BANK_BRANCH_NAME ||'-'}}</div>
                </div>
                <div class="form-group c1">
                   <div class="ctrl-label">Account Number</div>
                   <div class="ctrl-value">{{element.BANK_ACCOUNT_NUM ||'-'}}</div>
                </div>
                <!-- <div class="form-group c1">
                   <div class="ctrl-label">Account Type</div>
                   <div class="ctrl-value">{{element.BANK_ACCOUNT_TYPE ||'-'}}</div>
                </div> -->
                <div class="form-group c1" *ngIf="element.COUNTRY !='IN'">
                  <div class="ctrl-label">IBAN</div>
                  <div class="ctrl-value">{{element.IBAN ||'-'}}</div>
               </div>

</div>
</div>

                   </div>
                   </div>

               </div>





             </div>


             <!--Row end-->
          </div>
          <!---Container Fluid-->
       </div>
    </div>
 </div>

 <div class="modal fade" id="myModal3">
   <div class="modal-dialog model-lg">
     <div class="modal-content">

       <!-- Modal Header -->
       <div class="modal-header">
         <!-- <h4 class="modal-title" *ngIf="!bank.VENDOR_ID">Add Bank Deatils</h4> -->
         <!-- <h4 class="modal-title" *ngIf="bank.VENDOR_ID">Edit Bank Deatils</h4> -->
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>

       <!-- Modal body -->
       <div class="modal-body reg-form">
         <div class="row">
           <div class="col-sm-6">
             <div class="form-group">
               <label>Country</label>
               <input type="text" class="form-control" [(ngModel)]="bank.COUNTRY" id="exampleInputFirstName"
                 placeholder=" ">
             </div>
           </div>
           <div class="col-sm-6">
             <div class="form-group">
               <label>Bank</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BANK_NAME" id="exampleInputFirstName"
                 placeholder=" ">
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-6">
             <div class="form-group">
               <label>Branch Number</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BANK_BRANCH_NUMBER"
                 id="exampleInputFirstName" placeholder=" ">
             </div>
           </div>
           <div class="col-sm-6">
             <div class="form-group">
               <label>Branch Name</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BANK_BRANCH_NAME"
                 id="exampleInputFirstName" placeholder=" ">
             </div>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-6">
             <div class="form-group">
               <label>BIC</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BIC" id="exampleInputFirstName"
                 placeholder=" ">
             </div>
           </div>
           <div class="col-sm-6">
             <div class="form-group">
               <label>Account Number</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BANK_ACCOUNT_NUM"
                 id="exampleInputFirstName" placeholder=" ">
             </div>
           </div>
         </div>



         <div class="row">
           <div class="col-sm-6">
             <div class="form-group">
               <label>Account Name</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BANK_ACCOUNT_NAME"
                 id="exampleInputFirstName" placeholder=" ">
             </div>
           </div>
           <div class="col-sm-6">
             <div class="form-group">
               <label>Account Type</label>
               <input type="text" class="form-control" [(ngModel)]="bank.BANK_ACCOUNT_TYPE"
                 id="exampleInputFirstName" placeholder=" ">
             </div>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-6">
             <div class="form-group">
               <label>IBAN</label>
               <input type="text" class="form-control" [(ngModel)]="bank.IBAN" id="exampleInputFirstName"
                 placeholder=" ">
             </div>
           </div>
           <div class="col-sm-6">
             <div class="form-group">
               <label>Currency</label>
               <select class="form-control" [(ngModel)]="bank.CURRENCY">
                 <option>Select</option>
                 <option value='MYR'>MYR</option>
                 <option value='USD'>USD</option>
                 <option value='EUR'>EUR</option>
                 <option value='INR'>INR</option>

               </select>
             </div>
           </div>

           <!-- <div class="col-sm-6">
             <div class="form-group">
               <label>File Attachemnets</label>


               <input type="file" name="file" class="files" #myFileInput1 (change)="onFilesAdded1($event)"
                 accept=".pdf" />

             </div>
           </div> -->
         </div>

         <div class="row">
           <div class="col-sm-12">
             <div class="form-group">
               <label>Add Intermidiate Bank</label>

               <div class=" ">
                 <input type="checkbox" class="form-controls" [(ngModel)]="bank.intermidiate"
                 (ngModelChange)="changeIntermediate()" id="ibaccount">&nbsp;
                 <label for="ibaccount"> Yes</label>
               </div>


             </div>
           </div>
         </div>

         <div class="Intermidiate" *ngIf="bank.intermidiate">
           <div class="row">
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Country</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK_COUNTRY"
                   id="exampleInputFirstName" placeholder=" ">
               </div>
             </div>
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Bank</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK" id="exampleInputFirstName"
                   placeholder=" ">
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Branch Number</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK_BRANCH_NUMBER"
                   id="exampleInputFirstName" placeholder=" ">
               </div>
             </div>
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Branch Name</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK_BRANCH_NAME"
                   id="exampleInputFirstName" placeholder=" ">
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-6">
               <div class="form-group">
                 <label>BIC</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BIC" id="exampleInputFirstName"
                   placeholder=" ">
               </div>
             </div>
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Account Number</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK_ACCOUNT_NUMBER"
                   id="exampleInputFirstName" placeholder=" ">
               </div>
             </div>
           </div>



           <div class="row">
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Account Name</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK_ACCOUNT_NAME"
                   id="exampleInputFirstName" placeholder=" ">
               </div>
             </div>
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Account Type</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_BANK_ACCOUNT_TYPE"
                   id="exampleInputFirstName" placeholder=" ">
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-6">
               <div class="form-group">
                 <label>IBAN</label>
                 <input type="text" class="form-control" [(ngModel)]="bank.INT_IBAN" id="exampleInputFirstName"
                   placeholder=" ">
               </div>
             </div>
             <div class="col-sm-6">
               <div class="form-group">
                 <label>Currency</label>
                 <select class="form-control" [(ngModel)]="bank.INT_CURRENCY">
                   <option>Select</option>
                   <option value='MYR'>MYR</option>
                   <option value='USD'>USD</option>
                   <option value='EUR'>EUR</option>
                   <option value='INR'>INR</option>

                 </select>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
           class="btn btn-primary" (click)="addAccount()" data-dismiss="modal" *ngIf="!bank.VENDOR_ID">Add</button>
           <button type="button"
           class="btn btn-primary" (click)="updateAccount()" data-dismiss="modal" *ngIf="bank.VENDOR_ID">Update</button>
       </div>

     </div>
   </div>
 </div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
   <p style="color: white"> Loading... </p>
</ngx-spinner>
