.align th {
  text-align: left;
  vertical-align: middle;
}

.dropTiles{
  width: 100%;
}
.close{
  margin-top : -40px;
  margin-right :0;
}

.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #ffffff;
  border-bottom: 5px solid transparent;
  background-clip: padding-box;
  cursor: pointer
}

thead {
  background: #dddcdc
}

.table-elipse {
  cursor: pointer
}

#demo1 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s ease-in-out
}

.row-child {
  background-color: #000;
  color: #fff
}


/* .table tr {
cursor: pointer;
} */
.table td{
  text-align: left;
}
  .hedding h1{
color:#fff;
font-size:25px;
}
.main-section{
margin-top: 120px;
}
.hiddenRow {
padding: 0 4px !important;
font-size: 13px;
}
.accordian-body span{
color:#a2a2a2 !important;
}
