<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">

        <!--Row start-->
        <div class="row mb-3 pl-3 pr-3">
          <div class="col-sm-12 col-xs-12">
            <div class="row float pt-2 pb-2 d-flex align-items-center">

              <div class="col-sm-2">
                <div class="form-group">
                   <label class="control-label">PO Date From</label>
                   <div class='input-group date' id='datetimepicker1'>
                      <input id="datepicker" name="fromDate" width="276" [(ngModel)]="fromDate"
                         (ngModelChange)="fromDateChanged()" readonly/>
                   </div>
                </div>
                </div>

                <div class="col-sm-2">
                  <div class="form-group">
                     <label class="control-label">PO Date To</label>
                     <div class='input-group date' id='datetimepicker2'>
                        <input id="datepicker1" width="276" [(ngModel)]="toDate" readonly/>
                     </div>
                  </div>
                  </div>

                  <div class="col-sm-1">
                    <button class="btn   btn-primary mt-3" (click)="getPastAgreements()">View</button>
                    </div>

                    <div class="col-sm-4" style="padding-top: 13px;">
                      <span  class="searchbox-section">
                         <input type="text" class="form-control" placeholder="Enter Your Search Text"
                         [(ngModel)]="searchText" aria-describedby="basic-addon2">
                        </span>
                        </div>

                        <div class="col-sm-1" style="padding-top: 13px;">
                          <a href="javascript:void(0)" class="btn btn-primary btn-sm" >
                            <i class="fas fa-search" (click)="setFilteredData()"></i>
                          </a>
                          </div>

                          <div class="col-sm-1" style="padding-top: 13px;">
                            <a href="javascript:void(0)" class="" (click)="exportExcel()">
                               <!-- <i class="fas  fa-file-excel">Export</i></a> -->
                               <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z" fill="#23a566" data-original="#23a566" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z" fill="#ffffff" data-original="#ffffff" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z" opacity=".19" fill="#000000" data-original="#000000"></path><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z" fill="#8ed1b1" data-original="#8ed1b1"></path></g></svg>
                            </a>
                            </div>

                            <div class="col-sm-1 float-right" style="padding-top: 13px;">
              <a class="btn btn-primary btn-sm" id="grid" href="javascript:void(0)" [class.btn-primary]="viewGrid"
                [class.btn-light]="!viewGrid" (click)="onViewGrid()">
                <i class="fas fa-th"></i>
              </a>
              <a class="btn btn-light btn-sm" id="list" href="javascript:void(0)" [class.btn-primary]="!viewGrid"
                [class.btn-light]="viewGrid" (click)="onViewList()">
                <i class="fas fa-list"></i>
              </a>
              </div>

            </div>
          </div>
        </div>
        <div class="row mb-3 pl-3 pr-3">
          <div class="col-sm-12 col-xs-12">
            <p style="font-size: 10px; margin-top: -30px;"> Data available from: {{selectedmenuFilter[0].MENUACCESS.DATE_RANGE_START | date :'dd-MM-yyyy'}} and Maximum range: {{(selectedmenuFilter[0].MENUACCESS.DATE_RANGE)/30}} months</p>
          </div>
        </div>


        <!-- <div class="row mb-3 pl-3 pr-3" id="filter">
          <div class=" card w-100 p-3">
            <div class="col-sm-12">

              <div class="row ">

                <div class='col-md-2'>
                  <div class="form-group">
                    <label class="control-label">Document Date From </label>
                    <div class='input-group date' id='datetimepicker1' [(ngModel)]="fromDate" ngDefaultControl>
                      <input id="datepicker" width="276" />
                    </div>
                  </div>
                </div>


                <div class='col-sm-2'>
                  <div class="form-group">
                    <label class="control-label">Document Date To</label>
                    <div class='input-group date' id='datetimepicker2'>
                      <input id="datepicker1" width="276" [(ngModel)]="toDate" ngDefaultControl />
                    </div>
                  </div>
                </div>



                <div class='col-sm-1'>

                  <br>

                  <a href="javascript:void(0)" class="btn   btn-primary mt-2" (click)="getPastAgreeents()">View</a>
                </div>

                <div class="col-sm-5">
                  <br>
                  <div class="input-group  mt-2">
                    <input type="text" class="form-control" placeholder="Enter Your Search Text"
                      attr.aria-describedby="basic-addon2" [(ngModel)]="searchText">
                    <div class="input-group-append">
                      <Button class="input-group-text" id="basic-addon2" type="submit"
                        (click)="setFilteredData()">Search</Button>
                    </div>
                  </div>

                </div>
                <div class='col-sm-2'>

                  <br>
                  <div class="float-right">
                    <a href="javascript:void(0)" class="btn   btn-primary mt-2" (click)="exportExcel()"> <i
                        class="fas  fa-file-excel"></i> &nbsp;Export To Excel</a>
                  </div>
                </div>
                <div class="col-sm-7"></div>




              </div>
            </div>
          </div>
        </div> -->


        <!-- <div class="row mb-2" style="overflow: hidden;">

          <div class="col-md-3" >
            <div class="design-card-2 dashboard1">
               <div class="icons">
                <i class="fas fa-shopping-cart fa-2x"></i>
               </div>
               <div class="data-section">
                  <h3>{{this.agreementsReceived | number}}</h3>
                  <p>Agreements Received</p>
               </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="design-card dashboard1">
                 <div class="icons">
                  <i class="fas fa-receipt fa-2x"></i>
                 </div>
                 <div class="data-section">
                    <h3>{{this.agreementQuantity | number}}</h3>
                    <p> Agreement Quantity</p>
                     <small><a class="readmoreicon" data-toggle="modal" data-target="#myModal"
                              (click)="getSummaryDetails('orderQty')">

                              <i class="fas fa-long-arrow-alt-right readmore"></i></a></small>
                 </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="design-card-3 dashboard1">
                   <div class="icons">
                    <i class="fas fa-shipping-fast fa-2x "></i>
                   </div>
                   <div class="data-section">
                      <h3>{{this.deliveredQuantity | number }}</h3>
                      <p> Delivered Quantity</p>
                      <small><a class="" data-toggle="modal" data-target="#myModal"
                        (click)="getSummaryDetails('deliverQty')">

                        <i class="fas fa-long-arrow-alt-right readmore"></i></a></small>
                   </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="design-card-1 dashboard1">
                     <div class="icons">
                      <i class="fas fa-shopping-bag fa-2x  "></i>
                     </div>
                     <div class="data-section">
                        <h3>{{this.pendingQuantity | number}}</h3>
                        <p>Pending Quantity</p>
                        <small><a class="" data-toggle="modal" data-target="#myModal"
                          (click)="getSummaryDetails('pendingQty')">

                          <i class="fas fa-long-arrow-alt-right readmore"></i></a></small>
                     </div>
                    </div>
                  </div>


        </div> -->
<!---next-->
        <!-- <div class="row mb-3">


          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body b1">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="text-red mb-1"> Agreements Received</div>
                    <div class="h5 mb-0 font-weight-bold text-red">{{this.agreementsReceived | number}}

                    </div>

                  </div>
                  <div class="col-auto">
                    <i class="fas fa-shopping-cart fa-2x text-red"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body b2">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class=" text-success  mb-1"> Agreement Quantity</div>
                    <div class="h5 mb-0 font-weight-bold text-success ">{{this.agreementQuantity |number}}
                      <small><a class="text-primary" data-toggle="modal" data-target="#myModal"
                          (click)="getSummaryDetails('orderQty')">

                          View Details</a></small>
                    </div>

                  </div>
                  <div class="col-auto">
                    <i class="fas fa-receipt fa-2x text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body b3">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-info mb-1"> Delivered Quantity</div>
                    <div class="h5 mb-0 mr-3 font-weight-bold text-info">{{this.deliveredQuantity | number}}
                      <small><a class="text-primary" data-toggle="modal" data-target="#myModal"
                          (click)="getSummaryDetails('deliverQty')">

                          View Details</a></small>
                    </div>

                  </div>
                  <div class="col-auto">
                    <i class="fas fa-shipping-fast fa-2x text-info"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body b4">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-warning mb-1"> Pending Quantity</div>
                    <div class="h5 mb-0 font-weight-bold text-warning">{{this.pendingQuantity | number}}
                      <small><a class="text-primary" data-toggle="modal" data-target="#myModal"
                          (click)="getSummaryDetails('pendingQty')">

                          View Details</a></small>
                    </div>

                  </div>
                  <div class="col-auto">
                    <i class="fas fa-shopping-bag fa-2x text-warning"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="viewGrid && !shipmentView">
          <div class="col-sm-12">
            <div class="row">
              <div id="accordion" class="myaccordion w-100">
                <div class="card c1"
                  *ngFor="let element of poHeadersList | paginate: { id : 'moveNext', itemsPerPage: viewCount, currentPage: page };let i=index;">
                  <div class="card-header" id="heading{{ i }}">
                    <div class="mb-0">
                      <div class="row">

                        <div class="col-sm-3">
                          <div class="form-group c1">
                            <div class="ctrl-label">Buyer Organization</div>
                            <div class="ctrl-value">{{element.BUYER_ORGANIZATION }}</div>
                          </div>
                          <div class="form-group c4">
                            <div class="ctrl-label">PO Number</div>
                            <div class="ctrl-value">{{element.PO_NO }}</div>
                          </div>

                        </div>
                        <div class="col-sm-3">
                          <div class="form-group c3">
                            <div class="ctrl-label">Buyer Unit</div>
                            <div class="ctrl-value">{{element.BUYER_UNIT }}</div>
                          </div>

                          <div class="form-group c5">

                            <div class="ctrl-label">PO Date</div>
                            <div class="ctrl-value">{{element.PO_DATE }}</div>
                          </div>


                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c2">
                            <div class="ctrl-label">Buyer</div>
                            <div class="ctrl-value">{{element.BUYER }}</div>
                          </div>
                          <div class="form-group c8">
                            <div class="ctrl-label">Bill to</div>
                            <div class="ctrl-value">{{element.BILL_TO_LOCATION }}</div>
                            </div>
                          </div>
                        <div class="col-sm-2">
                          <div class="form-group c7">
                            <div class="ctrl-label">Agreement Amount/Currency</div>
                            <div class="ctrl-value">{{element.AMT_AGREED  | numberFormatting}}/{{element.PO_CURRENCY}}
                            </div>
                          </div>
                          <!-- <div class="form-group c6">
                            <div class="ctrl-label">Total Amount</div>
                            <div class="ctrl-value">{{element.TOTAL_AMOUNT }}</div>
                        </div> -->
                        <div class="form-group c6">
                          <div class="ctrl-label"> Amount Released</div>
                          <div class="ctrl-value">{{element.AMOUNT_RELEASED | numberFormatting }}</div>
                       </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group c7">
                              <div class="ctrl-label">Start Date</div>
                              <div class="ctrl-value">{{element.START_DATE_DISP}}
                              </div>
                            </div>
                            <div class="form-group c6">
                              <div class="ctrl-label">End Date</div>
                              <div class="ctrl-value">{{element.END_DATE_DISP }}</div>
                            </div>

                          <div class="menubutton">
                            <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PAST_RELEASE'" [attachmentString]="element.ATTACH_DOCUMENT_STRING"
                            [printDocString]="element.PRINT_DOCUMENT_STRING"  [poNumber]="element.PO_NO" [communicationString]="element.COMMUNICATION_STRING">
                            </app-common-file-view>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div id="collapse{{ i }}" class="bodysection border-top" attr.aria-labelledby="heading{{ i }}"
                    data-parent="#accordion">
                    <div class="card-body{{ i }}">
                      <div class="table-responsive  p-3">
                        <table class="table align-items-center table-flush" id="test{{ i+(page-1)*10 }}">
                          <thead class="thead-light">
                            <tr class="align">
                              <th rowspan="2">Line No</th>
                              <!-- <th>Shipment No</th> -->
                              <th rowspan="2">Item</th>
                              <th rowspan="2">UOM</th>
                              <!-- <th colspan="3">Quantity</th> -->

                              <th rowspan="2" class="text-right">Price</th>
                              <th rowspan="2" class="text-right">Division</th>
                              <!-- <th rowspan="2">Line Amount</th>
                              <th rowspan="2">Tax Amount</th>
                              <th rowspan="2">Need By Date</th>
                              <th rowspan="2">Promised Date</th> -->
                              <!-- <th>Delay In Days</th> -->
                            </tr>

                            <!-- <tr class="align">
                              <th>Ordered</th>
                              <th>Delivered</th>
                              <th>Balance</th>
                            </tr> -->
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let element1 of poHeadersList[i+(page-1)*10].list; let j = index">
                              <tr>
                                <td>
                                  <!-- <span style='font-size:15px; color: blue; margin-left:0' *ngIf="element1.action"
                                    (click)="viewTaxButton1(element1,i,j)" data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}"
                                    class="accordion-toggle" title="Hide Tax">&#8963;</span>
                                  <span style='font-size:15px; color: blue; margin-left:0;' *ngIf="!element1.action"
                                    (click)="viewTaxButton2(element1,i,j)" data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}"
                                    class="accordion-toggle" title="Show Tax">&#8964;</span> -->
                                  {{element1.PO_LINE_NUMBER}}
                                </td>
                                <!-- <td>{{element1.PO_SHIPMENT_NUMBER}} </td> -->
                                <td>
                                  <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION }}">
                                    {{element1.PO_LINE_ITEM }}</div>
                                </td>
                                <td>{{element1.UOM }}</td>
                                <!-- <td>{{element1.ORDERED_QTY | number}}</td>
                                <td><span *ngIf="element1.RECEIVED_QTY === '0'"> {{ element1.RECEIVED_QTY | number}}
                                </span><a *ngIf="element1.RECEIVED_QTY !== '0'" href="javascript:void(0)"
                                  (click)="clickedLineId(element1.LINE_LOCATION_ID)">{{element1.RECEIVED_QTY |
                                  number}}</a></td>
                              <td> {{element1.BALANCE_QTY | number}}</td> -->
                                <td class="text-right">{{element1.PRICE | numberFormatting}}</td>
                                <td class="text-right">{{element1.DIVISION}}</td>
                                <!-- <td>{{element1.LINE_AMOUNT}}</td>
                              <td>{{element1.TAX_AMOUNT}}</td>
                                <td>{{element1.NEED_BY_DATE }}</td>
                                <td> {{element1.PROMISED_DATE }}</td> -->

                                <!-- <td class="text-danger"> {{element1.DELAYED_DAYS }}</td> -->
                              </tr>
                              <tr>
                                <td style="padding-left:30px" class="hiddenRow" colspan="12">
                                  <div class="accordian-body collapse p-3" attr.id="demo{{i}}{{j}}">
                                    <div class="dropTiles">
                                      <div class="row">
                                        <div class="col-xl-1">
                                          <strong> <p class="modal-title text-primary pl-3">Tax Lines</p></strong>
                                      </div>
                                        <div class="col-xl-3">
                                          <strong>Customer PAN No :</strong> {{element1.taxPayerId}}
                                        </div>
                                        <div class="col-xl-3">
                                          <strong>Customer GSTIN : </strong> {{element1.taxRegNo}}
                                        </div>
                                        <div class="col-xl-3">
                                          <strong>Supplier GSTIN :</strong> {{element1.myGst}}
                                        </div>
                                        <div class="col-xl-2" data-toggle="tooltip" title="{{element1.hsnsacCodeDesc}}">
                                          <strong >HSN/SAC :</strong> {{element1.hsnsacCode}}
                                        </div>
                                      </div>
                                     </div>
                                    <div class="row">
                                      <div class="table table-bordered p-3">
                                        <table class="table" id="listtest">
                                          <thead class="thead-light">
                                            <tr>
                                              <th>Line number </th>
                                              <th>Tax Rate Code </th>
                                              <th>Tax Rate</th>
                                              <th class="text-right">Taxable Amount</th>
                                              <th class="text-right">Tax Amount</th>
                                              <th>Currency </th>
                                              <th> Self Assessed</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let element2 of element1.taxData ; let i = index"  >
                                              <td> {{element2.TAX_LINE_NUM}}</td>
                                              <td> {{element2.TAX_TYPE_NAME}}</td>
                                              <td> {{element2.TAX_RATE_PERCENTAGE}}</td>
                                              <td> {{element2.TAXABLE_AMT | numberFormatting}} </td>
                                              <td> {{element2.TAX_AMT |numberFormatting}}</td>
                                              <td> {{element2.TAX_CURRENCY_CODE}}</td>
                                              <td>{{element2.SELF_ASSESSED_FLAG}} </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Row end-->
      </div>

      <div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!viewGrid && !shipmentView">
        <div class="card w-100" id="past-details">
          <div class="table-responsive  p-3">
            <table class="table align-items-center table-flush" id="Past-table">
              <thead class="thead-light">
                <tr>
                  <th>PO Number</th>
                  <th>PO Date</th>
                  <th>Currency</th>
                  <th>Line No</th>
                  <!-- <th>Shipment No</th> -->
                  <th style="white-space: nowrap;">Item</th>
                  <th>UOM</th>

                  <!-- <th>Quantity Ordered</th> -->
                  <th class="text-right">Price</th>
                  <th>Division</th>
                  <!-- <th>Quantity Delivered</th> -->
                  <!-- <th>Balance Quantity</th> -->
                  <!-- <th>Promised Date</th> -->
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let element of fullpolines">
                  <td>{{element.DOCUMENT_NO}}</td>
                  <td>{{element.DOCUMENT_DATE }}</td>
                  <td>{{element.PO_CURRENCY}} </td>
                  <td>{{element.PO_LINE_NUMBER }}</td>
                  <!-- <td>{{element.PO_SHIPMENT_NUMBER }}</td> -->
                  <td style="white-space: nowrap;">
                    <div data-toggle="tooltip" title="{{element.ITEM_DESCRIPTION }}">
                      {{element.PO_LINE_ITEM }}</div>
                  </td>
                  <td>{{element.UOM }}</td>
                  <!-- <td>{{element.ORDERED_QTY | number}}</td> -->
                  <td class="text-right">{{element.PRICE | numberFormatting}}</td>
                  <td class="text-center"> {{element.DIVISION }}</td>
                  <!-- <td><span *ngIf="element.RECEIVED_QTY === '0'"> {{ element.RECEIVED_QTY | number}} </span><a
                      *ngIf="element.RECEIVED_QTY !== '0'" href="javascript:void(0)"
                      (click)="clickedLineId(element.LINE_LOCATION_ID)">{{element.RECEIVED_QTY | number}}</a></td> -->
                  <!-- <td>{{element.BALANCE_QTY | number}}</td> -->
                  <!-- <td class=" ">{{element.PROMISED_DATE }}</td> -->
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-sm-12 p-3" id="goback">
          <div class="  float-right">
            <button class="btn btn-primary btn-sm">GO Back</button>
          </div>
        </div> -->
        <!-- <div class="card w-100" id="Past-details-view">
            <div class="table-responsive  p-3">
               <table class="table align-items-center table-flush" id="Past-table-view">
                  <thead class="thead-light">
                     <tr>
                        <th >Line Number</th>
                        <th  >Shipment Number</th>
                        <th  >Item</th>

                        <th>UOM</th>
                        <th>Quantity Ordered</th>
                        <th>Unit Price</th>
                        <th>Ship to Locaation</th>
                        <th>Promised Date</th>
                        <th>Quantity Delivered</th>
                        <th>Delay In Days</th>
                     </tr>
                  </thead>
                  <tbody>
                  </tbody>
               </table>
            </div>
         </div> -->
      </div>

      <div class="row mb-3 pl-3 pr-3" id="filter" *ngIf="viewGrid">

        <div class="col-sm-12" style="padding-bottom: 10px;">

          <div class='align-items-center justify-content-center d-flex'>
          <span> <select class="form-control" [(ngModel)]="viewCount">
              <option value='10'>10</option>
              <option value='20'>20</option>
              <option value='30'>30</option>
              <option value='40'>40</option>
              <option value='50'>50</option>
            </select></span> &nbsp;&nbsp;&nbsp;

           <span style="margin-top: 10px;"> <pagination-controls id='moveNext' class="product-pagination" (pageChange)="onPageChanged($event)">
            </pagination-controls></span>

      </div>
    </div>
  </div>

      <app-common-shipment-details *ngIf="shipmentView" [shipmentId]="lineId" [shipmentView]="shipmentView"
        (goBackShip)="goBackShip()"></app-common-shipment-details>
      <!---Container Fluid-->
    </div>
    <!-- Footer -->
    <!-- Footer -->
  </div>
</div>


<div class="modal fade" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{modal}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal Body-->
      <div class="modal-body reg-form">
        <div class="card w-100" id="list-table">
          <div class="table-responsive  p-3">
            <table class="table align-items-center table-flush" id="listtest">
              <thead class="thead-light">
                <tr>
                  <th>Buyer Unit </th>
                  <th>{{modalHeader}}</th>
                  <th>UOM</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of summary">

                  <td>{{element.BUYER_UNIT }}</td>

                  <td *ngIf="modalLine1">{{element.PENDING_PO_COUNT}}</td>
                  <td *ngIf="modalLine2">{{element.ORDERED_QUANTITY | number}}</td>
                  <td *ngIf="modalLine3">{{element.DELIVERED_QUANTITY | number}}</td>
                  <td *ngIf="modalLine4">{{element.PENDING_PO_QUANTITY | number}}</td>

                  <td>{{element.UOM}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
      </div>

    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<script type="text/javascript">
  $('.accordion-toggle').click(function () {
    $('.hiddenRow').hide();
    $(this).next('tr').find('.hiddenRow').show();
  });
</script>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<notifier-container></notifier-container>
