<div class="dropdown fileview">
  <button class="btn btn-pri dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="fa fa-ellipsis-h"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right dropmenu">
    <li style="padding: 4px;" *ngIf="printDocString || type === 'ASN_DETAILS'"><a href="javascript:void(0);"
        (click)="getPrintDocument();">
        <i class="fa fa-print" aria-hidden="true" style="padding-right: 4px;"></i>Print</a></li>
    <!-- <li style="padding: 4px;" *ngIf="!printDocString"><a> <i class="fa fa-print" aria-hidden="true" style="padding-right: 4px;"></i>Print Document</a></li> -->
    <li style="padding: 4px;" *ngIf="type === 'ASN_DETAILS'  && headerData.ASN_STATUS ==='N'"><a
        href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#myModal1'+this.headerId"> <i
          class="fas fa-pen" aria-hidden="true" style="padding-right: 4px;"></i>Edit</a></li>

    <li style="padding: 4px;" *ngIf="type === 'ASN_DETAILS' && headerData.ASN_STATUS ==='N'"><a
        href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#myModal2'+this.headerId"> <i
          class="fa fa-times" aria-hidden="true" style="padding-right: 4px;"></i>Cancel </a></li>

    <li style="padding: 4px;" *ngIf="type !== 'INVOICE_DOC_ATTACHMENTS'  && type !== 'PO_RETURNS' && type !== 'PO_RECEIPT'"><a href="javascript:void(0)"
        class="text-primary" data-toggle="modal" [attr.data-target]="'#myFileModal1'+this.headerId"><i
          class="fa fa-upload" aria-hidden="true" style="padding-right: 4px;"></i>Upload</a></li>

    <li style="padding: 4px;"  *ngIf="type !== 'PO_RETURNS' && type !== 'PO_RECEIPT'"><a href="javascript:void(0)" class="text-primary" data-toggle="modal"
        [attr.data-target]="'#myFileModal'+this.headerId" (click)="getDocumentList()"><i class="fa fa-download"
          aria-hidden="true" style="padding-right: 4px;"></i>Download</a></li>

    <li style="padding: 4px;" *ngIf="type !== 'COMMUNICATIONS'"><a href="javascript:void(0);" class="text-primary"
        (click)="getTransacationCommunication()"><i class="fa fa-users" aria-hidden="true" style="padding-right: 4px;"></i>Discussion</a></li>
   <!--  <li style="padding: 4px;"><a href="javascript:void(0);"><i class="fa fa-recycle" aria-hidden="true" style="padding-right: 4px;"></i>Life Cycle</a></li> -->
  </ul>
</div>

<!-- <a href="javascript:void(0)"class="text-primary" data-toggle="modal" [attr.data-target]="'#myFileModal'+this.headerId" (click)="getDocumentList()">
  <i style = "font-size: 25px;" class='fas fa-file-download' data-toggle="tooltip" title="Download"></i></a>

  <a *ngIf="type !== 'INVOICE_DOC_ATTACHMENTS'" href="javascript:void(0)"class="text-primary" data-toggle="modal" [attr.data-target]="'#myFileModal1'+this.headerId" style="padding-left: 30px;">
    <i style = "font-size: 25px;" class='fas fa-file-upload' data-toggle="tooltip" title="Upload"></i></a> -->

<div class="modal fade" id="myFileModal{{this.headerId}}">
  <div class="modal-dialog modeldlg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Attachments</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal Body-->
      <div class="modal-body reg-form">
        <div class="card w-100" id="list-table">
          <div class="table-responsive  p-3">
            <table class="table align-items-center table-flush" id="listtest">
              <thead class="thead-light">
                <tr>
                  <th>Files</th>
                  <th> Uploaded By</th>
                  <th> Uploaded On</th>
                  <th> User Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of attachments">

                  <td><a href="javascript:void(0)" (click)="downloadfile(item)" class="text-primary"><i
                        class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;
                      {{item.FILE_NAME}}</a></td>
                  <td> {{item.FULL_NAME}}</td>
                  <td>{{item.CREATED_DATE}}</td>
                  <td> {{item.USER_TYPE}}</td>
                </tr>
                <tr *ngIf="attachments.length === 0">
                  <td>No attachments Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="myFileModal1{{this.headerId}}">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Upload File</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">

        <div>
          <div class="form-group">
            <label>Document Category</label>
            <select [(ngModel)]="upload.documentCategory" name="category" class="form-control">
              <option value=''>Select</option>
              <option value="">Control Documents</option>
              <option value="Arrangements">Arrangements</option>
              <option value="System Diagrams and Data Sheets">System Diagrams and Data Sheets</option>
              <option value="Detail Drawings">Detail Drawings</option>
              <option value="Technical Specifications">Technical Specifications</option>
              <option value="Instrument and Electrical Drawings">Instrument and Electrical Drawings</option>
              <option value="Performance data">Performance data</option>
              <option value="Manufacturing and Quality Procedures">Manufacturing and Quality Procedures</option>
              <option value="Commissioning, Operating and Maintenance Information">Commissioning, Operating and
                Maintenance Information</option>
              <option value="Certification">Certification</option>
              <option value="Test and Inspection Reports">Test and Inspection Reports</option>
              <option value="Shipping Documents">Shipping Documents</option>
              <option value="Packing Documents">Packing Documents</option>
              <option value="Non-disclosure Agreement (NDA)">Non-disclosure Agreement (NDA)</option>
              <option value="Supplier Submission Form">Supplier Submission Form</option>
              <option value="Supplier Quality Manual">Supplier Quality Manual</option>
              <option value="Supply Agreement">Supply Agreement</option>
              <option value="Price Agreement">Price Agreement</option>
              <option value="Supplier Change Request">Supplier Change Request</option>

            </select>
          </div>
        </div>

        <div>
          <div class="form-group">
            <label>Description</label>
            <input [(ngModel)]="upload.description" type="text" name="description" class="form-control"
              id="exampleInputFirstName" placeholder=" ">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label>File</label>
            <input type="file" name="file" class="files" (change)="onFilesAdded($event)" #myFileInput
              accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="fileUpload()">Upload</button> &nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal1{{this.headerId}}">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit ASN </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Reason</label>
              <input type="text" [(ngModel)]="editReason" name="editReason" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="editASN()">submit</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="myModal2{{this.headerId}}">
  <div class="modal-dialog ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Cancel ASN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Reason</label>
              <input type="text" [(ngModel)]="deleteReason" name="deleteReason" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="deleteASN()">Submit</button>
      </div>

    </div>
  </div>
</div>



<notifier-container></notifier-container>
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner> -->
