<div class='wrapper'>
    <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid" id="container-wrapper" *ngIf="!shipmentView">
            <div class="row mb-3 pl-3 pr-3" id="filter" style="margin-top: 80px;">
                    <div class="col-sm-12 col-xs-12">
                        <div class="row float pt-2 pb-2 d-flex align-items-center">
                            <div class='col-md-2'>
                                <div class="form-group">
                                    <label class="control-label">Payment Date From </label>
                                    <div class='input-group date' id='datetimepicker1' [(ngModel)]="fromDate"
                                        ngDefaultControl>
                                        <input id="datepicker" width="276" readonly/>
                                    </div>
                                </div>
                            </div>


                            <div class='col-sm-2'>
                                <div class="form-group">
                                    <label class="control-label">Payment Date To</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input id="datepicker1" width="276" [(ngModel)]="toDate" ngDefaultControl readonly/>
                                    </div>
                                </div>
                            </div>

                            <div class='col-sm-1'>

                                <a href="javascript:void(0)" class="btn   btn-primary mt-3"
                                    (click)="getPaymentRegister()">View</a>
                            </div>


                            <div class="col-sm-4" style="padding-top: 13px;">

                                <span  class="searchbox-section">
                                    <input type="text" class="form-control" placeholder="Enter Your Search Text"
                                    [(ngModel)]="searchText" aria-describedby="basic-addon2">
                                   </span>

                            </div>

                            <div class="col-sm-1" style="padding-top: 13px;">
                                <a href="javascript:void(0)" class="btn btn-primary btn-sm" >
                                  <i class="fas fa-search" (click)="setFilteredData()"></i>
                                </a>
                                </div>

                            <div class='col-sm-1' style="padding-top: 13px;">
                                <a href="javascript:void(0)" class="" (click)="exportExcel()">

                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z" fill="#23a566" data-original="#23a566" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z" fill="#ffffff" data-original="#ffffff" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z" opacity=".19" fill="#000000" data-original="#000000"></path><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z" fill="#8ed1b1" data-original="#8ed1b1"></path></g></svg>
                                 </a>
                            </div>



                        </div>
                    </div>

            </div>
            <div class="row mb-3 pl-3 pr-3">
              <div class="col-sm-12 col-xs-12">
                <p style="font-size: 10px; margin-top: -30px;"> Data available from: {{selectedmenuFilter[0].MENUACCESS.DATE_RANGE_START | date :'dd-MM-yyyy'}} and Maximum range: {{(selectedmenuFilter[0].MENUACCESS.DATE_RANGE)/30}} months</p>
              </div>
            </div>

            <div class="row mb-2" style="overflow: hidden;">

                <div class="col-md-3" >
                <div class="design-card-2 dashboard1">
                   <div class="icons">
                    <i class="fa fa-object-group fa-2x"></i>
                   </div>
                   <div class="data-section">
                    <h3>{{this.noOfinvoicePaid | number}}</h3>
                      <p>No.Of Invoices Paid</p>
                   </div>
                  </div>
                </div>


              <div class="col-md-3">
                <div class="design-card dashboard1">
                   <div class="icons">
                    <i class="fa fa-retweet fa-2x"></i>
                   </div>
                   <div class="data-section">
                   <h3> {{this.noOfpaymentApproved | number}}</h3>
                      <p>No.Of Payment Approved</p>
                       <small>
                          <!-- <a class="readmoreicon" data-toggle="modal" data-target="#myModal"
                                (click)="getSummaryDetails('orderQty')"> -->
                                <i class="fas fa-long-arrow-alt-right readmore"></i>
                               <!-- </a> -->
                            </small>
                   </div>
                  </div>
                </div>

              <div class="col-md-3">
                <div class="design-card-3 dashboard1">
                  <div class="icons">
                    <i class="fa fa-retweet fa-2x"></i>
                   </div>
                   <div class="data-section">
                   <h3>{{this.noOfpaymentCreated | number}}</h3>
                      <p>No.Of Payment Created</p>
                      <small>
                         <!-- <a class="" data-toggle="modal" data-target="#myModal"
                        (click)="getSummaryDetails('deliverQty')"> -->
                        <i class="fas fa-long-arrow-alt-right readmore"></i>
                      <!-- </a> -->
                   </small>
                   </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="design-card-1 dashboard1">
                     <div class="icons">
                      <i class="fa fa-credit-card fa-2x  "></i>
                     </div>
                     <div class="data-section">
                      <h3>{{this.noOfpaymentVoid | number}}</h3>
                        <p>No.Of Payment Void</p>
                        <small>
                           <!-- <a class="" data-toggle="modal" data-target="#myModal"
                          (click)="getSummaryDetails('pendingQty')"> -->

                          <i class="fas fa-long-arrow-alt-right readmore"></i>
                         <!-- </a> -->
                      </small>
                     </div>
                    </div>
                  </div>

             </div>

            <div class="row mb-3 pl-3 pr-3" id="grid-sections">
                <div class="col-sm-12">
                    <div class="row">
                        <div id="accordion" class="myaccordion w-100">
                            <div class="card card-2"
                                *ngFor="let element of payment | paginate: { itemsPerPage: viewCount, currentPage: page } ; let i= index">
                                <div class="card-header" id="heading{{i}}">
                                    <div class="mb-0">
                                        <div class="row">

                                            <div class="col-sm-3">
                                                <div class="form-group c1">
                                                    <div class="ctrl-label">Organization</div>
                                                    <div class="ctrl-value">{{element.ORGANIZATION }}</div>
                                                </div>
                                                <div class="form-group c4">
                                                    <div class="ctrl-label">

                                                        Payment Reference No
                                                    </div>
                                                    <div class="ctrl-value">

                                                            {{element.PAYMENT_REF_NUMBER}}</div>
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group c3">
                                                    <div class="ctrl-label">Unit</div>
                                                    <div class="ctrl-value">{{element.UNIT}}</div>
                                                </div>

                                                <div class="form-group c5">

                                                    <div class="ctrl-label">Payment Date</div>
                                                    <div class="ctrl-value">{{element.PAYMENT_DATE}}</div>
                                                </div>


                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group c2">
                                                    <div class="ctrl-label">Payment Method</div>
                                                    <div class="ctrl-value">{{element.PAYMENT_METHOD}}</div>
                                                </div>

                                                <div class="form-group c7">
                                                  <div class="ctrl-label">Currency</div>
                                                  <div class="ctrl-value">{{element.CURRENCY}}</div>
                                                </div>

                                            </div>



                                            <div class="col-sm-2">
                                                <div class="form-group c6">
                                                    <div class="ctrl-label">Amount Paid</div>
                                                    <div class="ctrl-value">{{element.AMOUNT_PAID | numberFormatting}}</div>
                                                </div>

                                                <div class="form-group c7">
                                                  <div class="ctrl-label">UTR Number</div>
                                                  <div class="ctrl-value">{{element. UTR_NUMBER}}</div>
                                                </div>

                                            </div>
                                            <div class="col-sm-2">
                                                <div class="menubutton">
                                              <app-file-view [headerId]="element.INVOICE_ID" [type]="'AP_INVOICE_ATTACHMENTS'"
                                                    [attachmentString]="element.ATTACH_DOCUMENT_STRING" [printDocString]="element.PRINT_DOCUMENT_STRING"
                                                    [communicationString]="element.COMMUNICATION_STRING"></app-file-view>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="collapse {{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}" data-parent="#accordion">
                                        <div class="card-body{{i}}">
                                          <div class="table-responsive  p-3">

                                              <table class="table align-items-center table-flush" id="test{{i+(page-1)*10}}">

                                              <thead class="thead-light">

                                              <tr>

                                                <th>Invoice No</th>
                                                <th>Voucher No</th>
                                                <th>Invoice Date</th>
                                                <th>Currency</th>
                                                <th class="text-right">Line Amount</th>
                                                <th class="text-right">Tax Amount</th>
                                                <!-- <th class="text-right">Fright Amount</th> -->
                                                <th class="text-right">Invoice Amount</th>

                                                <th>Payment Status</th>


                                                    </tr>

                                                 </thead>

                                                 <tbody>

                                                  <tr *ngFor="let element1 of payment[i+(page-1)*10].filteredList">

                                                    <td><a  href="javascript:void(0)" (click)="clickedLineId(element1.INVOICE_ID, 'INVOICE_ID')">{{element1.INVOICE_NUM}}</a></td>

                                                    <td>{{element1.VOUCHER_NUMBER}}</td>

                                                    <td>{{element1.INVOICE_DATE}}</td>

                                                    <td>{{element1.INVOICE_CURRENCY}}</td>
                                                    <td class="text-right">{{element1.LINE_AMOUNT | numberFormatting}}</td>
                                                    <td class="text-right"> {{element1.TAX_AMOUNT | numberFormatting}}</td>
                                                    <!-- <td class="text-right">{{element1.FREIGHT_AMOUNT | numberFormatting}}</td> -->
                                                    <td class="text-right"> {{element1.INVOICE_AMOUNT | numberFormatting}}</td>
                                                    <td>
                                                        <div class="{{element1.PAYMENT_STATUS}}"> {{element1.PAYMENT_STATUS }}</div>
                                                    </td>
                                                  </tr>
                                                </tbody>

                                             </table>

                                           </div>
                                         </div>
                                      </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row mb-3 pl-3 pr-3" id="filter">

            <div class="col-sm-12" style="padding-bottom: 10px;">

              <div class='align-items-center justify-content-center d-flex'>
              <span> <select class="form-control" [(ngModel)]="viewCount">
                  <option value='10'>10</option>
                  <option value='20'>20</option>
                  <option value='30'>30</option>
                  <option value='40'>40</option>
                  <option value='50'>50</option>
                </select></span> &nbsp;&nbsp;&nbsp;

               <span style="margin-top: 10px;"> <pagination-controls class="product-pagination" maxSize="5" (pageChange)="onPageChanged($event)">
                </pagination-controls></span>

          </div>
        </div>
      </div>
        <div style="margin-top: 75px;">
         <app-common-payment-view *ngIf="shipmentView" [shipmentId]="lineId" [shipmentView]="shipmentView"
         (goBackShip)="goBackShip()" ></app-common-payment-view>
         <!-- <app-common-payment-view *ngIf="shipmentView" [shipmentId]="lineId" [shipmentView]="shipmentView"
         [printDocString]="element.PRINT_DOCUMENT_STRING" ></app-common-payment-view>  -->


         <!-- <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PENDING_PO'"
         [attachmentString]="element.ATTACH_DOCUMENT_STRING" [printDocString]="element.PRINT_DOCUMENT_STRING" >
         </app-common-file-view> -->

        </div>
    </div>
</div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
