<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">
        <!--Row start-->




        <div class="row mb-3 pl-3 pr-3" id="filter">
          <div class=" card w-100 p-3">
            <div class="col-sm-12">

              <div class="row ">
                <div class='col-md-2'>
                  <div class="form-group">
                    <label class="control-label">Invoice Date From </label>
                    <div class='input-group date' id='datetimepicker1'>
                      <input id="datepicker" width="276" [(ngModel)]="fromDate" readonly/>
                    </div>
                  </div>
                </div>

                <div class='col-sm-2'>
                  <div class="form-group">
                    <label class="control-label">Invoice Date To</label>
                    <div class='input-group date' id='datetimepicker2'>
                      <input id="datepicker1" width="276" [(ngModel)]="toDate" readonly/>
                    </div>
                  </div>
                </div>
                <div class='col-sm-1'>
                  <br>
                  <button class="btn   btn-primary mt-2" (click)="getASNDetails()">View</button>
                </div>
                <div class="col-sm-5">
                  <br>
                  <div class="input-group  mt-2">
                    <input type="text" class="form-control" placeholder="Enter Your Search Text"
                      aria-describedby="basic-addon2" [(ngModel)]="searchText">
                    <div class="input-group-append">
                      <Button class="input-group-text" id="basic-addon2" type="submit"
                        (click)="setFilteredData()">Search</Button>
                    </div>
                  </div>
                </div>
                <div class='col-sm-2'>
                  <br>
                  <!-- {{this.sidebarService.createASNFlag}} -->
                  <div class="float-right">
                    <!-- [routerLink]="['/craftsmanautomation/shipment/createasn', {skipLocationChange: true}]" routerLinkActive="router-link-active" -->
                    <a (click)="moveTo();"
                      class="mt-2"><button class="btn btn-primary mt-2" [disabled]="!createAsnflag">
                        <i class="fas fa-tractor"></i>
                        &nbsp;Create ASN
                      </button>
                    </a>
                    <!-- <a [routerLink]="" routerLinkActive="router-link-active" class="btn btn-primary mt-2 isDisabled"
                    *ngIf="this.shipmentService.createASNFlag"> <i class="fas  fa-file-excel"></i> &nbsp;Create ASN</a> -->
                  </div>
                </div>


              </div>

            </div>
          </div>

        </div>
        <div class="row mb-3 pl-3 pr-3">
              <div class="col-sm-12 col-xs-12">
                <p style="font-size: 10px; margin-top: -30px;"> Data available from: {{selectedmenuFilter[0].MENUACCESS.DATE_RANGE_START | date :'dd-MM-yyyy'}} and Maximum range: {{(selectedmenuFilter[0].MENUACCESS.DATE_RANGE)/30}} months</p>
              </div>
            </div>

        <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="lotListView">
          <div class="col-sm-12">
            <div class="row">
              <div id="accordion" class="myaccordion w-100">
                <div *ngIf="viewAsnFlag"> <h2 class="text-center"> No data found !!!</h2> </div>
                <div *ngIf="!viewAsnFlag">
                <div class="card card-2"
                  *ngFor="let element of asnHeader | paginate: { id:'moveNext', itemsPerPage: viewCount, currentPage: page }  ;let i=index;">
                  <div class="card-header" id="heading{{i}}">
                    <div class="mb-0">
                      <div class="row">
                        <!-- <div class="col-sm-1"> -->
                          <!-- <app-common-file-view [headerId]="element.ASN_ID" [type]="'ASN_DETAILS'" [headerData]="element">
                              [attachmentString]="element.ATTACH_DOCUMENT_STRING" [printDocString]="element.PRINT_DOCUMENT_STRING">
                              </app-common-file-view> -->
                        <!-- </div> -->
                        <div class="col-sm-2">
                          <div class="form-group c1">
                            <div class="ctrl-label">ASN No</div>
                            <div class="ctrl-value">{{element.ASN_NUMBER}}
                              <i class="fa fa-flag" style="color:orange" data-toggle="tooltip" title="'In-Transit'" *ngIf="element.ASN_STATUS ==='N'" ></i>
                              <!-- <i class="fa fa-flag" style="color:green" data-toggle="tooltip" title="'Gate Entry prepared', Gate Entry No: {{element.GATE_ENTRY_NUMBER}}
                              Gate Entry Date: {{element.GATE_ENTRY_DATE | date :'dd-MMM-yyyy' }}" *ngIf="element.ASN_STATUS ==='R'"></i> -->
                              <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> -->
                                <i class="fa fa-flag" style="color:green" data-toggle="modal" data-target="#myModal3" *ngIf="element.ASN_STATUS ==='R'"
                                (click)="asnStatus(element.GATE_ENTRY_NUMBER, element.GATE_ENTRY_DATE)"></i>
                              <!-- </button> -->
                              <!-- <a class="text-primary" onclick=" Listview( 'B00001')"> 1</a> -->
                            </div>
                            <div class="container">
                              <div class="modal fade" id="myModal3" role="dialog">
                                <div class="modal-dialog modal-sm tooltipmodel">
                                  <div class="modal-content">
                                    <div >
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                        <div class="ml-2">
                                          <div class="float-left" style=" width: 40%;">Status </div>
                                          <div class="float-right align-items-left" style=" width: 60%;">: Gate Entry prepared</div>
                                        </div>
                                        <div class="ml-2">
                                          <div class="float-left" style=" width: 40%;">Gate Entry No</div>
                                          <div class="float-right align-items-left" style="width: 60%;">: {{gateNo}}</div>
                                        </div>
                                        <div class="ml-2">
                                          <div class="float-left" style="width: 40%;">Gate Entry Date</div>
                                          <div class="float-right align-items-left" style="width: 60%;">: {{gateDate | date :'dd-MMM-yyyy' }}</div>
                                        </div>
                                        &nbsp;
                                      <!-- <p class="ml-3">Gate Entry No   : {{gateNo}}</p> -->
                                      <!-- <p class="ml-3">Gate Entry Date : {{gateDate | date :'dd-MMM-yyyy' }}</p> -->
                                    <!-- <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div> -->
                                  </div>
                                </div>
                              </div>
                              </div>
                          </div>
                          <div class="form-group c4">
                            <div class="ctrl-label">Waybill Number</div>
                            <div class="ctrl-value">{{element.WAYBILL_NUMBER}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c1">
                            <div class="ctrl-label">Invoice Number</div>
                            <div class="ctrl-value">{{element.DELIVERY_ORDER_NUMBER}}
                              <!-- <a   onclick=" Listview( 'B00001')">B00001</a> -->
                            </div>
                          </div>

                          <div class="form-group c8">
                            <div class="ctrl-label">Shipping Method</div>
                            <div class="ctrl-value">{{element.SHIPPING_METHOD}}</div>
                          </div>

                          <!-- <div class="form-group c5">
                            <div class="ctrl-label">Freight Terms</div>
                            <div class="ctrl-value">{{element.FREIGHT_TERMS}}</div>
                          </div> -->
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c3">
                            <div class="ctrl-label">Invoice Date</div>
                            <div class="ctrl-value"> {{element.DELIVERY_ORDER_DATE}} </div>
                          </div>

                          <div class="form-group c8">
                            <div class="ctrl-label">E-Invoice No</div>
                            <div class="ctrl-value">{{element.EINVOICE_NUMBER}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c2">
                            <div class="ctrl-label">Expected Receipt Date</div>
                            <div class="ctrl-value">{{element.EXPECTED_RECEIPT_DATE}}</div>
                          </div>

                          <div class="form-group c8">
                            <div class="ctrl-label">Base Amount</div>
                            <div class="ctrl-value">{{element.BASE_AMOUNT | numberFormatting}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c6">
                            <div class="ctrl-label">Bill of Lading</div>
                            <div class="ctrl-value">{{element.BILL_OF_LADING}}</div>
                          </div>
                          <div class="form-group c8">
                            <div class="ctrl-label">Tax Amount</div>
                            <div class="ctrl-value">{{element.TAX_AMOUNT | numberFormatting}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c6">
                            <div class="ctrl-label">Other Amount </div>
                            <div class="ctrl-value">{{element.OTHER_AMOUNT | numberFormatting}}</div>
                          </div>
                          <div class="form-group c8">
                            <div class="ctrl-label">Total Value</div>
                            <div class="ctrl-value">{{element.TOTAL_VALUE | numberFormatting}}</div>
                          </div>
                          <div class="menubutton">
                            <!-- <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'ASN_DETAILS'" [attachmentString]="element.ATTACH_DOCUMENT_STRING"
                        [printDocString]="element.PRINT_DOCUMENT_STRING"> -->

                        <app-common-file-view [headerId]="element.ASN_ID" [type]="'ASN_DETAILS'" [headerData]="element"
                          [attachmentString]="element.ATTACH_DOCUMENT_STRING" [printDocString]="element.PRINT_DOCUMENT_STRING"
                          [communicationString]="element.COMMUNICATION_STRING">
                          </app-common-file-view>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>

                    <div id="collapse{{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                      data-parent="#accordion">
                      <div class="card-body{{i}}">
                        <div class="table-responsive  p-3">
                          <table class="table align-items-center table-flush" id="test{{i+(page-1)*10}}">
                            <thead class="thead-light">
                              <tr>
                                <th>PO Number</th>
                                <th>Line No</th>
                                <th >Item </th>
                                <!-- <th>Ordered Quantity</th> -->
                                <th class="text-right">Shipped Quantity</th>
                                <th>UOM</th>
                                <th class="text-right">Unit Price</th>
                                <th class="text-right">Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let element1 of asnHeader[i+(page-1)*10].list; let j = index">
                                <tr>
                                  <td >
                                    <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;' *ngIf="element1.action" (click)="viewTaxButton1(element1,i,j)"
                                    data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}" class="accordion-toggle" title="Hide Tax">
                                    <div style="padding-top: 4px; float:left">
                                      <span >[</span> &nbsp;<i class="fas fa-minus">&nbsp; <span>]</span></i>
                                    </div></span>
                                    <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;' *ngIf="!element1.action" (click)="viewTaxButton2(element1,i,j)"
                                    data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}" class="accordion-toggle" title="Show Tax">
                                    <div style="padding-top: 4px; float:left">
                                      <span >[</span> &nbsp;<i class="fas fa-plus">&nbsp; <span>]</span></i>
                                    </div></span> &nbsp;
                                    {{element1.PO_NUMBER}}
                                  </td>
                                  <td><a href="javascript:void(0)" (click)="lotView(element1)">{{element1.PO_LINE_NUMBER
                                      }}</a></td>
                                  <td>
                                    <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION}}">
                                      {{element1.PO_LINE_ITEM}}
                                    </div>
                                  </td>
                                  <!-- <td>{{element1.ORDERED_QTY | number}}</td> -->
                                  <td class="text-right"> {{element1.BALANCE_QTY | number}}</td>
                                  <td>{{element1.UOM }}</td>
                                  <td class="text-right">{{element1.PRICE | numberFormatting}}</td>
                                  <td class="text-right">{{(element1.PRICE * element1.BALANCE_QTY) | number}}</td>
                                </tr>
                                <tr >
                                  <td style= "padding-left:30px" class="hiddenRow" colspan="12">
                                    <div class="accordian-body collapse p-3" attr.id="demo{{i}}{{j}}">
                                      <div class="dropTiles">
                                        <div class="row">
                                          <div class="col-xl-1">
                                            <strong> <p class="modal-title text-primary pl-3">Tax Lines</p></strong>
                                        </div>
                                          <div class="col-xl-3">
                                            <strong>Customer PAN No :</strong> {{element1.taxPayerId}}
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Customer GSTIN : </strong> {{element1.taxRegNo}}
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Supplier GSTIN :</strong> {{element1.myGst}}
                                          </div>
                                          <div class="col-xl-2" data-toggle="tooltip" title="{{element1.hsnsacCodeDesc}}">
                                            <strong >HSN/SAC :</strong> {{element1.hsnsacCode}}
                                          </div>

                                        </div>
                                        <!-- <button type="button" class="close " (click)="onModelClose()" title="Show Tax" data-dismiss="modal">&times;</button> -->
                                      </div>
                                      <div class="row">
                                        <div class="table table-bordered p-3">
                                          <table class="table" id="listtest">
                                            <thead class="thead-light">
                                              <tr>
                                                <th>Line number </th>
                                                <th>Tax Code </th>
                                                <th class="text-right">Tax Rate</th>
                                                <th class="text-right">Taxable Amount</th>
                                                <th class="text-right">Tax Amount</th>
                                                <th>Currency </th>
                                                <th> Self Assessed</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let element2 of element1.taxData ; let i = index"  >
                                                <td> {{element2.TAX_LINE_NUM}}</td>
                                                <td> {{element2.TAX_TYPE_NAME}}</td>
                                                <td class="text-right"> {{element2.TAX_RATE_PERCENTAGE | numberFormatting}}</td>
                                                <td class="text-right"> {{element2.TAXABLE_AMT | numberFormatting}} </td>
                                                <td class="text-right"> {{element2.TAX_AMT | numberFormatting}}</td>
                                                <td> {{element2.TAX_CURRENCY_CODE}}</td>
                                                <td>{{element2.SELF_ASSESSED_FLAG}} </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                      </div>
                                  </td>
                                  </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div id="collapse{{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                    data-parent="#accordion">
                    <div class="card-body{{i}}">
                      <div class="table-responsive  p-3">
                        <table class="table align-items-center table-flush" id="test{{i+(page-1)*10}}">
                          <thead class="thead-light">
                            <tr>
                              <th>Transporter</th>
                              <th>Vehicle No</th>
                              <th> E-Way Bill No</th>
                              <th>LR No</th>
                              <th>LR Date</th>
                              <th>Driver Name</th>
                              <th>Contact No.</th>
                              <th>Remarks</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let item of asnHeader[i+(page-1)*10].list1; let j = index">
                              <tr>
                                <td>{{item.TRANSPORTER_NAME}}</td>
                                <td>{{item.VEHICLE_NUMBER}}</td>
                                <td> {{item.EWAY_BILL_NO}}</td>
                                <td>{{item.LR_NO}}</td>
                                <td> {{item.LR_DATE}}</td>
                                <td>{{item.DRIVER_NAME }}</td>
                                <td>{{item.DRIVER_CONTACT_NO}}</td>
                                <td>{{item.REMARKS}}</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  </div>
                </div>
                </div>
              </div>

            </div>
          <!-- </div> -->
        </div>



        <div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!lotListView">
          <div class="col-sm-12 p-3" id="goback">
            <div class="d-inline-flex p-2 text-center" style="margin-left: 40%;"><b>
                <h5>Lot Details </h5>
              </b></div>
            <div class="  float-right">
              <button class="btn btn-primary btn-sm" (click)="goBack()">GO Back</button>
            </div>
          </div>
          <div class="card w-100" id="list-table">
            <div class="table-responsive  p-3">
              <table class="table align-items-center table-flush" id="listtest">
                <thead class="thead-light">
                  <tr>
                    <th>Lot Number</th>
                    <th>Shipped Quantity</th>
                    <th>Grade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element2 of lotDetails">

                    <td>{{element2.LOT_NUMBER}}</td>
                    <td>{{element2.QUANTITY | number}}</td>
                    <td>{{element2.GRADE}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!--Row end-->
        <div class="row">
          <div class="col-sm-12" style="padding-bottom: 10px;">
            <div class='align-items-center justify-content-center d-flex'>
            <span> <select class="form-control" [(ngModel)]="viewCount">
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
                <option value='50'>50</option>
              </select></span> &nbsp;&nbsp;&nbsp;
              <span style="padding-top: 30px;">
                <!-- <span style="margin-top: 10px;"> <pagination-controls class="product-pagination" (pageChange)="onPageChanged($event)">
                </pagination-controls></span> -->

                <pagination-controls id='moveNext' class="product-pagination"
                 (pageChange)="onPageChanged($event)"></pagination-controls>
              </span>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="modal fade" id="myModal1">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Edit ASN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Reason</label>
              <input type="text" [(ngModel)]="editReason" name="editreason" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="editASN()">submit</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="myModal2">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Cancel ASN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Reason</label>
              <input type="text" [(ngModel)]="deleteReason" name="deleteReason" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;<button type="button"
          class="btn btn-primary" data-dismiss="modal" (click)="deleteASN()">Submit</button>
      </div>

    </div>
  </div>
</div> -->

<div class="container">
<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog modal-sm tooltipmodel">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <p>This is a small modal.</p>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<notifier-container></notifier-container>
