.isDisabled{
    /* color: currentColor; */
  cursor: not-allowed;
  opacity: 0.5;
  /* text-decoration: none; */
}

/* .ngx-pagination li {
  font-size: 20px !important;
  margin: 0px;
  border: 1px solid #ddd;
}

ul.ngx-pagination.ng-star-inserted {
  float: left;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  padding: 0px !important;
}
.ngx-pagination .current {
  padding: 4px 8px;
  background: #6777ef;
  color: #fefefe;
  cursor: default;
  border: 1px solid #ddd;
} */
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
}

.tooltipmodel{
  margin-left: 75px;

}

.product-pagination .ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px 5px;
  font-size: 14px;
}
.product-pagination .ngx-pagination .current {
  padding: 4px 12px;
  background: grey;
  color: white;
  cursor: default;
  border-radius: 2px;
  line-height: 22px;
}
