<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <div class="container-fluid" id="container-wrapper">
        <div class="row mb-3 pl-3 pr-3" id="filter">

          <div class="col-sm-12 col-xs-12">

            <div class="row float pt-2 pb-2 d-flex align-items-center">

              <div class='col-md-2'>
                <div class="form-group">
                  <label class="control-label">Accounting Date From</label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input id="datepicker" name="fromDate" width="276" [(ngModel)]="fromDate" readonly />
                  </div>
                </div>
              </div>


              <div class='col-sm-2'>
                <div class="form-group">
                  <label class="control-label">Accounting Date To</label>
                  <div class='input-group date' id='datetimepicker2'>
                    <input id="datepicker1" name="toDate" width="276" [(ngModel)]="toDate" readonly />
                  </div>
                </div>
              </div>


              <div class='col-sm-1'>



                <a href="javascript:void(0)" class="btn   btn-primary mt-3" style="margin-top: 5px;"
                  (click)="getMyLedger()">View</a>
              </div>

              <div class="col-sm-4" style="padding-top: 13px;">

                <span class="searchbox-section">
                  <input type="text" class="form-control" placeholder="Enter Your Search Text" [(ngModel)]="searchText"
                    aria-describedby="basic-addon2">
                </span>

              </div>

              <div class="col-sm-1" style="padding-top: 13px;">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm">
                  <i class="fas fa-search" (click)="setFilteredData()"></i>
                </a>

              </div>
              <div class='col-sm-1' style="padding-top: 13px;">

                <a href="javascript:void(0)" class="" (click)="exportExcel()">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                    <g>
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z"
                        fill="#23a566" data-original="#23a566" class=""></path>
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z"
                        fill="#ffffff" data-original="#ffffff" class=""></path>
                      <path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z"
                        opacity=".19" fill="#000000" data-original="#000000"></path>
                      <path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z"
                        fill="#8ed1b1" data-original="#8ed1b1"></path>
                    </g>
                  </svg>
                </a>

              </div>


            </div>
          </div>

        </div>
        <div class="row mb-3 pl-3 pr-3">
          <div class="col-sm-12 col-xs-12">
            <p style="font-size: 10px; margin-top: -30px;"> Data available from:
              {{selectedmenuFilter[0].MENUACCESS.DATE_RANGE_START | date :'dd-MM-yyyy'}} and Maximum range:
              {{(selectedmenuFilter[0].MENUACCESS.DATE_RANGE)/30}} months</p>
          </div>
        </div>

        <div class="row mb-2" style="overflow: hidden;">

          <div class="col-md-3">
            <div class="design-card-2 dashboard1">
              <div class="icons">
                <i class="fas fa-balance-scale fa-2x text-red"></i>
              </div>
              <div class="data-section">
                <h3>{{this.openingBal | numberFormatting}}</h3>
                <p>Opening Balance</p>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="design-card dashboard1">
              <div class="icons">
                <i class="fas fa-credit-card fa-2x text-success"></i>
              </div>
              <div class="data-section">
                <h3>{{this.debit | numberFormatting}}</h3>
                <p> Debit</p>

              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="design-card-3 dashboard1">
              <div class="icons">
                <i class="fas fa-credit-card fa-2x text-info"></i>
              </div>
              <div class="data-section">
                <h3>{{this.credit | numberFormatting}}</h3>
                <p> Credit</p>


              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="design-card-1 dashboard1">
              <div class="icons">
                <i class="fas fa-coins fa-2x text-warning"></i>
              </div>
              <div class="data-section">
                <h3>{{this.closingBal | numberFormatting}}</h3>
                <p>Closing Balance</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row mb-3"> -->


        <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b1">
                    <div class="row align-items-center">
                      <div class="col mr-2">
                        <div class="text-red mb-1"> Opening Balance</div>
                        <div class="h5 mb-0 font-weight-bold text-red">{{this.openingBal | number}}</div>

                      </div>
                      <div class="col-auto">
                        <i class="fas fa-balance-scale fa-2x text-red"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
        <!-- Earnings (Annual) Card Example -->
        <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b2">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class=" text-success  mb-1">  Debit</div>
                        <div class="h5 mb-0 font-weight-bold text-success "> {{this.debit | number}}</div>

                      </div>
                      <div class="col-auto">
                        <i class="fas fa-credit-card fa-2x text-success"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
        <!-- New User Card Example -->
        <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b3">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-info mb-1">  Credit</div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-info">{{this.credit | number}}</div>

                      </div>
                      <div class="col-auto">
                        <i class="fas fa-credit-card fa-2x text-info"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
        <!-- Pending Requests Card Example -->
        <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-100">
                  <div class="card-body b4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-warning mb-1"> Closing Balance</div>
                        <div class="h5 mb-0 font-weight-bold text-warning">{{this.closingBal | number}}</div>

                      </div>
                      <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
        <!-- </div> -->



        <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="showHide">
          <div class="card w-100" id="pending-details">
            <div class="table-responsive  p-3" *ngIf="ledgerLength>0">

              <table class="table align-items-center table-flush" id="Pending-table">
                <!-- <caption>Ledger statement from {{fromDate }}to {{toDate}} </caption> -->
                <thead class="thead-light">
                  <tr>
                    <th colspan="5" style="background-color: white;">Ledger statement from {{fromDate }} to {{toDate}}
                    </th>
                    <th style="background-color: white;">
                      <div class="menubutton">
                        <app-file-view [headerId]="ledgerHeader[0].VENDOR_ID" [type]="'LEDGER_DETAILS'"
                          [attachmentString]="ledgerHeader[0].ATTACH_DOCUMENT_STRING"
                          [communicationString]="ledgerHeader[0].COMMUNICATION_STRING">
                        </app-file-view>
                      </div>
                    </th>

                  </tr>
                  <tr>
                    <th>Document Type</th>
                    <th>Document Number</th>
                    <th>Document Date</th>
                    <th>Currency</th>
                    <th class="text-right">Debit</th>
                    <th class="text-right">Credit</th>

                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let element of ledgerLine |  paginate: { itemsPerPage: viewCount, currentPage: page }; let i= index">
                    <td>{{element.TRANSACTION_TYPE}}</td>
                    <td>{{element.TRANSACTION_NUM}}</td>
                    <td>{{element.TRANSACTION_DATE}}</td>
                    <td>{{element.CURRENCY}} </td>
                    <td class="text-right">{{element.DEBIT | numberFormatting}} </td>
                    <td class="text-right">{{element.CREDIT | numberFormatting}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mb-3 pl-3 pr-3" id="filter">

          <div class="col-sm-12" style="padding-bottom: 10px;">

            <div class='align-items-center justify-content-center d-flex'>
              <span> <select class="form-control" [(ngModel)]="viewCount">
                  <option value='10'>10</option>
                  <option value='20'>20</option>
                  <option value='30'>30</option>
                  <option value='40'>40</option>
                  <option value='50'>50</option>
                </select></span> &nbsp;&nbsp;&nbsp;

              <span style="margin-top: 10px;">
                <pagination-controls class="product-pagination" maxSize="5" (pageChange)="onPageChanged($event)">
                </pagination-controls>
              </span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
