<div id="content-wrapper" class="d-flex flex-column">
    <body id="page-top">
    <!-- <nav class="navbar navbar-expand navbar-light bg-navbar topbar  fixed-top static-top">
         <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
         <i class="fa fa-bars"></i>
         </button>
         <ul class="navbar-nav mr-auto">
            <li>
               <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                  <div class="logo">
                     <img src="assets/img/logo-2.jpg">
                  </div>
               </a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
               <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-search fa-fw"></i>
               </a>
               <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown">
                  <form class="navbar-search">
                     <div class="input-group">
                        <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                           aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                        <div class="input-group-append">
                           <button class="btn btn-primary" type="button">
                           <i class="fas fa-search fa-sm"></i>
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
               <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-bell fa-fw"></i>
               <span class="badge badge-danger badge-counter">3+</span>
               </a>
               <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="alertsDropdown">
                  <h6 class="dropdown-header">
                     Alerts Center
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                     <div class="mr-3">
                        <div class="icon-circle bg-primary">
                           <i class="fas fa-file-alt text-white"></i>
                        </div>
                     </div>
                     <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                     </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                     <div class="mr-3">
                        <div class="icon-circle bg-success">
                           <i class="fas fa-donate text-white"></i>
                        </div>
                     </div>
                     <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                     </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                     <div class="mr-3">
                        <div class="icon-circle bg-warning">
                           <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                     </div>
                     <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        Spending Alert: We've noticed unusually high spending for your account.
                     </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
               </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
               <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
               <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 60px">
               <span class="ml-2 d-none d-lg-inline text-primary small">VIVAR PRINTING SDN BHD</span>
               </a>
               <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                  </a>
                  <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                  </a>
                  <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="login.html">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                  </a>
               </div>
            </li>
         </ul>
      </nav> -->
    <!-- Topbar -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
            aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="far fa-fw fa-file"></i>
            <span>Procurement</span>
          </a>
          <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="pending-orders.html">Pending Purchase Orders</a>
              <a class="collapse-item" href="past-orders.html">Past Purchase Orders</a>
              <a class="collapse-item" href="pending-agreements.html">Pending Purchase Agreements</a>
              <a class="collapse-item" href="past-agreements.html">Past Purchase Agreements</a>
              <a class="collapse-item" href="pending-acceptence.html">Pending For Acceptance</a>
              <a class="collapse-item" href="Uploaddoc.html">Upload Documents</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable"
            aria-expanded="true" aria-controls="collapseTable">
            <i class="fas fa-fw fa-truck"></i>
            <span>Shipment</span>
          </a>
          <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="advanceshipments.html">Advance Shipment Notice</a>
              <a class="collapse-item" href="viewreceipts.html">View Receipts</a>
              <a class="collapse-item" href="viewreturns.html">View Returns</a>
              <a class="collapse-item" href="viewperformance.html">View Delivery Performance</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
            aria-controls="collapsePage">
            <i class="fas fa-fw fa-coins"></i>
            <span>Finance</span>
          </a>
          <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="create-invoice.html">Create Invoice</a>
              <a class="collapse-item" href="inv-register.html">Invoice register</a>
              <a class="collapse-item" href="paayment-register.html">Payment Register</a>
              <a class="collapse-item" href="view-advance-payment.html">View Advance Payment </a>
              <a class="collapse-item" href="myledger.html">My Ledger</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage1"
            aria-expanded="true" aria-controls="collapsePage1">
            <i class="fas fa-fw fa-address-card"></i>
            <span> Profile Management</span>
          </a>
          <div id="collapsePage1" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="generalinfo.html">Manage General Information</a>
              <a class="collapse-item" href="managelocations.html">Manage Locations</a>
              <a class="collapse-item" href="managecontact.html">Manage Contacts</a>
              <a class="collapse-item" href="managebank.html">Manage Bank Accounts</a>
              <a class="collapse-item" href="productandservices.html">Products and Services</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <!-- <div class="d-sm-flex align-items-center justify-content-between mt-3 ">
                     <div class="headers">
                        <h1 class="h3 mb-0  page-title">My Menu</h1>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="./">Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">My Menu</li>
                        </ol>
                     </div>
                     <h5>
                        <select class="form-control">
                           <option>SELANGOR</option>
                        </select>
                     </h5>
                  </div> -->
            <div class="row mt-3">
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-12 col-md-12  ">
                <div class="float-right mb-2">
                  <button class="btn btn-primary  " data-toggle="modal" data-target="#myModal1" type="submit"
                    value="Add Location">
                    <i class="fas fa-plus"></i>Add Menu</button>

                </div>
              </div>
              <div class="col-xl-12 col-md-12 mb-4">

                <div class="card">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Menu Items</h6>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th>S.no</th>
                          <th>Menu Name</th>
                          <th>Parent Menu</th>
                          <th>Menu Access</th>
                          <th>Active </th>
                          <th>Action</th>
                          <th>Menu Sequence No</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr  *ngFor="let item of menuList; let i = index;">
                          <td>{{i+1}}</td>
                          <td>{{item.MENU_NAME}}</td>
                          <td>{{item.PARENT_MENU}}</td>
                          <td>{{item.MENU_ACCESS_LEVEL}}</td>
                          <td>{{item.ACTIVE_FLAG}}</td>
                          <td>
                            <a class="m-0 btn btn-primary btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#myModal1"
                            data-backdrop="static" (click)="editMenu(item, i)"><i class="fas fa-pen"></i></a>

                            <a class="m-0 btn btn-danger btn-sm" href="#"><i class="fas fa-trash"></i></a>
                          </td>
                          <td>{{item.MENU_SEQ_NO}}</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
              <!-- Earnings (Annual) Card Example -->


            </div>
            <!--Row-->
          </div>
          <!---Container Fluid-->
        </div>
      </div>
    </div>
    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <!-- popop start -->

    <div class="modal fade" id="myModal1" style="min-width: 800px;">
      <div class="modal-dialog  modal-xl">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" *ngIf="addButton">Add Menu Items</h4>
            <h4 class="modal-title" *ngIf="editButton">Update Menu Items</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body reg-form">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Menu Name</label>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="MENU_NAME" [(ngModel)]="menu.MENU_NAME"  >
                  <!-- <input type="text" name="DELIVERY_ORDER_NUMBER" [(ngModel)]="menu.DELIVERY_ORDER_NUMBER" id="exampleInputFirstName" placeholder=" " -->
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Menu Code</label>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="MENU_CODE" [(ngModel)]="menu.MENU_CODE"  >
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Parent Menu</label>
                  <!-- <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                  name="PARENT_MENU" [(ngModel)]="menu.PARENT_MENU" > -->
                  <select class="form-control" name="PARENT_MENU" [(ngModel)]="menu.PARENT_MENU" (ngModelChange)="assignParentMenu()">
                    <option *ngFor="let item of parentmenuList" [value]="item.MENU_ID"> {{item.MENU_NAME}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Display</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" name="DISPLAY_FLAG"
                      [(ngModel)]="menu.DISPLAY_FLAG">
                    <label class="custom-control-label" for="customSwitch2"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Menu Type</label>
                  <select class="form-control" name="MENU_PLACE" [(ngModel)]="menu.MENU_PLACE">
                    <option value="STANDARD">Standard</option>
                    <option value="USER">User</option>
                    <option value="ACTION">Action</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Icon Name</label>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="IMAGE_NAME" [(ngModel)]="menu.IMAGE_NAME">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Tool Tip Name</label>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="TOOL_TIP_TEXT" [(ngModel)]="menu.TOOL_TIP_TEXT" >
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Path</label>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="APPLICATION_PATH" [(ngModel)]="menu.APPLICATION_PATH" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date Filter</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" name="DATE_FILTER_FLAG"
                      [(ngModel)]="menu.DATE_FILTER_FLAG">
                    <label class="custom-control-label" for="customSwitch3"></label>
                  </div>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group">
                  <label>Export to Excel</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" name="EXPORT_TO_EXCEL_FLAG"
                      [(ngModel)]="menu.EXPORT_TO_EXCEL_FLAG">
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Filter</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch4" name="ENABLE_FILTER_FLAG"
                      [(ngModel)]="menu.ENABLE_FILTER_FLAG"  >
                    <label class="custom-control-label" for="customSwitch4">Yes</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Active</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch5" name="ACTIVE_FLAG"
                      [(ngModel)]="menu.ACTIVE_FLAG"  >
                    <label class="custom-control-label" for="customSwitch5">Yes</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date Range (Days)</label>
                  <input type="number" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="DATE_RANGE" [(ngModel)]="menu.DATE_RANGE"  >
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Start Date</label>
                  <input type="date" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="DATE_RANGE_START" [(ngModel)]="menu.DATE_RANGE_START"  >
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Menu Access</label>
                  <select class="form-control" name="MENU_ACCESS_LEVEL" [(ngModel)]="menu.MENU_ACCESS_LEVEL"  >
                    <option>INTERNAL</option>
                    <option>EXTERNAL</option>
                    <option>ALL</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Menu Sequence</label>
                    <input type="number" class="form-control" id="exampleInputFirstName" placeholder=" "
                    name="MENU_SEQ_NO" [(ngModel)]="menu.MENU_SEQ_NO"  >
                </div>
              </div>

            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button"  #closebutton class="btn btn-secondary" data-dismiss="modal"  >Close</button> &nbsp;
            <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="addButton" (click)="addMenu();" >Add</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!editButton" (click)="addMenu();" >Update</button>
          </div>

        </div>
      </div>
    </div>
    <!-- popup end -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="js/ruang-admin.min.js"></script>
      <script src="vendor/chart.js/Chart.min.js"></script>
      <script src="js/demo/chart-area-demo.js"></script> -->
  </body>
  <!-- </html> -->
