<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label>Quote Ref No</label>
                          <input type="text" [(ngModel)]="quote.QUOTE_REF_NO" name='QuoteRefNo' class="form-control"
                            id="exampleInputFirstName" placeholder=" ">
                        </div>
                      </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Quotation Date </label>
                                 <div class='input-group date' id='datetimepicker1'>
                           <input id="datepicker1" [(ngModel)]="quote.QUOTATION_DATE" width="276" />
                           </div>
                      
                    </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Description</label>
                        <input type="text" [(ngModel)]="quote.DESCRIPTION" name="ceo name" class="form-control"
                          id="exampleInput" placeholder=" "/>
                      </div>
                    </div>
                  

                    <div class="col-sm-4">
                        <div class="form-group">
                         <label>File</label>
                     <input type="file" name="file" class="files form-control" 
                     #myFileInput accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                   </div>
                       </div>

                       <div class="col-sm-4">
                        <div class="form-group">
                          <label>Send To</label>
                          <input type="email" [(ngModel)]="quote.SEND_TO" name="sendTo" class="form-control"
                            id="exampleInputFirstName" placeholder=" " multiple>  
                        </div>
                      </div>
                      </div>
  
            </div>
            <div class="float-right mr-5">
            <button class="btn   btn-primary m-2">Submit</button>
        </div>
        </div>
    </div>
</div>