<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <div class="head-login"><span class="d-block text-center text-sm-left d-sm-inline-block">@ 2021
          <a href="{{website}}" target="_blank" style="color:blue"> {{copyright}} </a> All Rights
          Reserved.</span></div>
    </div>
    <!-- <div class="d-flex pt-2" style="font-size: 12px;">
      <p> <strong>Disclaimer : </strong> Supplier Portal application has been built to work best in the latest
        desktop, laptop and mobile browsers, meaning older browsers might display differently styled,
        though fully functional renderings of certain components.
        <a href="javascript:void(0);" data-toggle="modal" [attr.data-target]="'#myModal1'" class="btn btn-primary"
          style="font-size: 8px;"> VIEW SUPPORTED BROWSERS</a>
      </p>
    </div> -->
  </div>
</footer>

<div class="modal fade" id="myModal1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">SUPPORTED BROWSERS</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <!-- <div class="table table-bordered p-3"> -->
              <table class="table" id="listtest">
                <thead class="thead-light">
                  <tr>
                    <th>Browser</th>
                    <th>Desktop </th>
                    <th>Mobile Device</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> Chrome</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td> FireFox</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>
                  <tr>
                    <td> Interner Explorer (IE 11+)</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td> Opera</td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td> Safari</td>
                    <td> </td>
                    <td align="center" style="text-align:center; font-size:15px; font-weight:bold; color:green;">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                  </tr>

                </tbody>
              </table>
              <!-- </div> -->

            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
      </div> -->

    </div>
  </div>
</div>
