
 <div class="page_loader"></div>
<div >
  <div class="container-fluid" >
    <!-- <div class="row ">
      <div class='col-sm-12'>
        <div class="float-right">
          <a class="btn btn-primary mt-2" (click)="goBack()"> <i class="fas  fa-arrow-left"></i> &nbsp;Go Back</a>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="float-right">
        <a class="btn btn-primary mt-2 float-right" (click)="goBack()"> <i class="fas fa-arrow-left"></i> &nbsp;Go Back</a>
      </div>
      <div class="col-lg-12 col-md-12 " style="max-height: 80%;overflow-y: auto;">
          <div class="shadowEff" >
          <div class="row" >
            <div class="col-sm-12">
              <h4> Supplier Registration</h4>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <form id="registerForm" >
            <div class="row">
              <div id="wizard" #wizard >
                <!-- SECTION 1 -->
                <h4></h4>
                <section>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Supplier Name</div>
                        <div class="value">{{headers.SUPPLIER_NAME}}</div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Legal Name</div>
                        <div class="value">{{headers.LEGAL_NAME}}</div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Request Reason</div>
                        <div class="value">{{headers.REQUEST_REASON}}</div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="label">Justification</div>
                        <div class="value">{{headers.JUSTIFICATION}}</div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- SECTION 2 -->
                <h4></h4>
                <section>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Company Type</div>
                        <div class="value">{{headers.COMPANY_TYPE}}</div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Supplier Type</div>
                        <div class="value">{{headers.VENDOR_TYPE}}</div>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Corporate Website</div>
                        <div class="value">{{headers.WEBSITE}}</div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div class="label">Tax Country</div>
                        <div class="value">{{headers.TAX_COUNTRY}}</div>
                      </div>
                    </div>

                     <div class="col-sm-4">
                      <div class="form-group">
                      </div>
                    </div>

                    <div class="col-sm-4">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <tr>
                              <th>S.no</th>
                              <th>File Name</th>
                              <th>Description</th>

                            </tr>
                          </thead>
                          <tbody>
                           <tr  *ngFor="let item of attachments; let i = index;">
                              <td>{{i+1}}</td>
                              <td>
                                <a class="m-0 btn btn-primary btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#myModal1"
                                data-backdrop="static"><i class="fas fa-pen"></i></a>
                                {{item.FILE_NAME}}</td>
                              <td>{{item.DESCRIPTION}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </div>
                  </div>
                </section>
                <!-- SECTION 3 -->
                <h4></h4>
                <section>
                  <div class="row">
                    <div *ngFor="let addr of headers.address" class="col-sm-8 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">{{addr.ADDRESS_NAME}}</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Country</div>
                              <div class="value">{{addr.COUNTRY}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">State</div>
                              <div class="value">{{addr.STATE}}</div>
                            </div>
                          </div>

                          <div class="label">Address</div>
                          <div class="value"> {{addr.ADDRESS_LINE1}},{{addr.ADDRESS_LINE2}}</div>

                          <div class="single-row">
                            <div>
                              <div class="label">City</div>
                              <div class="value">{{addr.CITY}}</div>
                            </div>
                            <div class="text-right">

                              <div class="label">Postal code</div>
                              <div class="value">{{addr.POSTAL_CODE}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div>
                              <div class="label">Phone </div>
                              <div class="value">{{addr.PHONE}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Fax</div>
                              <div class="value">{{addr.FAX}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div>
                              <div class="label">Email</div>
                              <div class="value">{{addr.EMAIL_ADDRESS}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label"  *ngIf ="addr.COUNTRY !='India'">Tax Registration Number</div>
                              <div class="label" *ngIf ="addr.COUNTRY ==='India'">GST Registration Number</div>
                              <div class="value">{{addr.TAX_REGISTRATION_NUMBER}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-sm-4 col-xs-6">
                      <div class="add-addrees" data-toggle="modal" data-target="#myModal1">Add Address</div>
                    </div> -->
                  </div>
                </section>

                <!-- SECTION 4 -->
                <h4></h4>
                <section>
                  <div class="row">
                    <div *ngFor="let cont of headers.contact" class="col-sm-8 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">{{cont.FIRST_NAME}}</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Salutation</div>
                              <div class="value">{{cont.PREFIX}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">First Name</div>
                              <div class="value">{{cont.FIRST_NAME}}</div>
                            </div>
                          </div>


                          <div class="single-row">
                            <div>
                              <div class="label">Middle Name</div>
                              <div class="value">{{cont.MIDDLE_NAME}}</div>
                            </div>
                            <div class="text-right">


                              <div class="label">Last Name</div>
                              <div class="value">{{cont.LAST_NAME}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div>
                              <div class="label">Job Title </div>
                              <div class="value">{{cont.JOB_TITLE}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Mobile</div>
                              <div class="value">{{cont.MOBILE}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label">Phone </div>
                              <div class="value">{{cont.PHONE}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Fax</div>
                              <div class="value">{{cont.FAX}}</div>
                            </div>
                          </div>

                          <div class="label">Email</div>
                          <div class="value">{{cont.EMAIL_ADDRESS}}</div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-sm-4 col-xs-6">
                      <div class="add-addrees" data-toggle="modal" data-target="#myModal2">Add Contact</div>
                    </div> -->

                  </div>
                </section>
                <h4></h4>
                <section>

                  <div class="row" *ngFor="let bankAcc of headers.bank">
                    <div *ngIf="bankAcc" class="col-sm-8 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">{{bankAcc.BANK_BRANCH_NAME}}</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Country</div>
                              <div class="value">{{bankAcc.COUNTRY}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Bank </div>
                              <div class="value">{{bankAcc.BANK}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label"  *ngIf="bankAcc.COUNTRY !='India'">Branch Number</div>
                              <div class="label"  *ngIf="bankAcc.COUNTRY ==='India'">IFSC Code</div>
                              <div class="value"> {{bankAcc.BANK_BRANCH_NUMBER}}</div>
                            </div>
                            <div class="text-right">

                              <div class="label">Branch Name</div>
                              <div class="value">{{bankAcc.BANK_BRANCH_NAME}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label">Account Name </div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_NAME}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Account Type</div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_TYPE}}</div>
                            </div>
                          </div>
                          <div class="single-row">
                            <div *ngIf="bankAcc.COUNTRY !='India'">
                              <div class="label">BIC</div>
                              <div class="value">{{bankAcc.BIC}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Account Number</div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_NUMBER}}</div>
                            </div>
                          </div>

                          <div class="label" *ngIf="bankAcc.COUNTRY !='India'">IBAN</div>
                          <div class="value" *ngIf="bankAcc.COUNTRY !='India'">{{bankAcc.IBAN}}</div>

                          <div class="label">Currency</div>
                          <div class="value">{{bankAcc.CURRENCY}}</div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="bankAcc && bankAcc.intermidiate" class="8 col-xs-12">
                      <div class="addresss">
                        <div class="value-header">Intermidiate Bank Account</div>
                        <div class="address-body">
                          <div class="single-row">

                            <div>
                              <div class="label">Country</div>
                              <div class="value">{{bankAcc.INT_BANK_COUNTRY}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Bank </div>
                              <div class="value">{{bankAcc.INT_BANK}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label"  *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">Branch Number</div>
                              <div class="label"  *ngIf="bankAcc.INT_BANK_COUNTRY ==='India'">IFSC Code</div>
                              <div class="value"> {{bankAcc.INT_BANK_BRANCH_NUMBER}}</div>
                            </div>
                            <div class="text-right">

                              <div class="label">Branch Name</div>
                              <div class="value">{{bankAcc.INT_BANK_BRANCH_NAME}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div>
                              <div class="label">Account Name </div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_NAME}}</div>

                            </div>
                            <div class="text-right">
                              <div class="label">Account Type</div>
                              <div class="value">{{bankAcc.BANK_ACCOUNT_TYPE}}</div>
                            </div>
                          </div>

                          <div class="single-row">
                            <div *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">
                              <div class="label">BIC</div>
                              <div class="value">{{bankAcc.INT_BIC}}</div>
                            </div>
                            <div class="text-right">
                              <div class="label">Account Number</div>
                              <div class="value">{{bankAcc.INT_BANK_ACCOUNT_NUMBER}}</div>
                            </div>
                          </div>

                          <div class="label" *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">IBAN</div>
                          <div class="value" *ngIf="bankAcc.INT_BANK_COUNTRY !='India'">{{bankAcc.INT_IBAN}}</div>

                          <div class="label">Currency</div>
                          <div class="value">{{bankAcc.CURRENCY}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="col-sm-4">
                      <div class="add-addrees" data-toggle="modal" data-target="#myModal3">Add Bank Account</div>
                    </div> -->

                    <div class="col-sm-4">
                      <canvas #canvasView width="100" height="50"></canvas>
                      <!-- <div id="captcha">
</div> -->
                      <input type="text" *ngIf="originalCaptcha" placeholder="Captcha" [(ngModel)]="captchaEntered"
                        name="captacha" class="form-control" id="cpatchaTextBox" />
                    </div>
                  </div>
                </section>


                <!-- </section> -->


              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myFileModal">
  <div class="modal-dialog modeldlg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Attachments</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body reg-form">
        <div class="card w-100" id="list-table">
          <div class="table-responsive  p-3">
            <table class="table align-items-center table-flush" id="listtest">
              <thead class="thead-light">
                <tr>
                  <th>Files</th>
                  <th> Uploaded By</th>
                  <th> Uploaded On</th>
                  <th> User Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of attachments">

                  <td><a href="javascript:void(0)" (click)="downloadfile(item)" class="text-primary"><i
                        class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;
                      {{item.FILE_NAME}}</a></td>
                  <td> {{item.FULL_NAME}}</td>
                  <td>{{item.CREATED_DATE}}</td>
                  <td> {{item.USER_TYPE}}</td>
                </tr>
                <tr *ngIf="attachments.length === 0">
                  <td>No attachments Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
      </div>

    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Registering... </p>
</ngx-spinner>
<notifier-container></notifier-container>
