.btn-pri {
  color: #6777EF;
  /* background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: 0  !important;
  box-shadow: 0  !important;
  border-radius: 0; */
}

.btn:hover {
  color: #6777EF;
  text-decoration: none;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
  transition: none !important;
  -webkit-transition: none !important;
}

.dropdown.fileview button:after {
  display: none !important;
}

.dropdown.fileview button i:before {
  font-size: 18px;
  color: #000;
}

.modeldlg{
  max-width: 80% !important;
}


