
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid" id="container-wrapper">
        <div class="card">
          <div *ngIf="viewButton === true">
          <div class=" row mb-3 pl-3 pr-3" id="grid-sections"  >
            <div class="w-100 form-group required p-3">
              <label class="control-label1">Discussion Title</label>
              <input type="text" name="title" [(ngModel)] ="title" class="form-control" placeholder=" " required="true">
            </div>
          </div>

          <div class=" row mb-3 pl-3 pr-3" id="grid-sections"  >
            <div class="w-100 col-sm-2 pl-3">
              <label>All Supplier Flag</label>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="allSupplierFlag"
                  [(ngModel)]="allSupplierFlag" (change)="changeAllSupplierFlag()">
                <label class="custom-control-label" for="customSwitch1">Yes</label>
              </div>
            </div>

          <div class="form-group col-sm-2">
            <label>Read Only Flag</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch2" name="readOnlyFlag"
                [(ngModel)]="readOnlyFlag">
              <label class="custom-control-label" for="customSwitch2">Yes</label>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>Supplier News Flag</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch3" name="supplierNews"
                [(ngModel)]="supplierNews">
              <label class="custom-control-label" for="customSwitch3">Yes</label>
            </div>
          </div>

          <div class="form-group col-sm-1">
            <label>Important</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch4" name="highImportance"
                [(ngModel)]="highImportance">
              <label class="custom-control-label" for="customSwitch4">Yes</label>
            </div>
          </div>

          <div class="form-group col-sm-1">
            <label>Downtime</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch5" name="downTime"
                [(ngModel)]="downTime">
              <label class="custom-control-label" for="customSwitch5">Yes</label>
            </div>
          </div>

          <div class="form-group col-sm-2">
                <label class="control-label1">Start Date</label>
                <div class='input-group date' id='datetimepicker1'>
                  <input name="startDate" id="datepicker1" [(ngModel)]="startDate"  readonly />
                </div>
              </div>

          <div class="form-group col-sm-2">
            <label class="control-label1">Valid till date</label>
            <div class='input-group date' id='datetimepicker2'>
              <input name="validTillDate" id="datepicker2" [(ngModel)]="validTillDate" readonly />
            </div>
          </div>
          <!-- <div class='input-group date' id='datetimepicker1'>
            <input id="datepicker" name="fromDate" width="276" [(ngModel)]="fromDate"
               (ngModelChange)="fromDateChanged()" readonly/>
         </div> -->
        <!-- </div> -->

      </div>
      <div class=" row mb-3 pl-3 pr-3" id="grid-sections"  >
        <div class="w-100  form-group required submitPage p-3">
          <!-- <h4 class="w-100 text-primary">Conversation Title</h4> -->
          <label class="control-label1">Discussion Text</label>
          <textarea type="text" name="messages" [(ngModel)] ="messages" class="form-control" placeholder=" " row="5" cols="100" maxlength="4000"  required="true">
            </textarea>
            <span>{{this.messages? 4000 - this.messages.length +'remaining' : ''}} </span>
        </div>
      </div>

          <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="!allSupplierButton">
            <div class="w-50 p-3">
              <label>Search and add new members</label>
              <div class="form-group">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              <!-- <label> {{partyList.length===0?'Loading Please Wait':'Select Supplier'}} </label> -->

              <input  class="form-control" type="text" list="selectParty" (keyup)="setSupplier($event.target.value)" multiple
              onfocus="this.value=''" onchange="this.blur();"/>
              <datalist id="selectParty" >
              <select >
                  <option  *ngFor="let item of partyList"   [value]='item.SUPPLIER_NAME'>{{item.SUPPLIER_NAME}}</option>
              </select>
              </datalist>
            </div>

            </div>
            <div class="w-50 p-2 card supplierCard">
              <!-- <textarea class="textarea" type="text" name="suppliers" rows="10" cols="100"></textarea> -->
              <div  class="p-1" *ngFor="let item of supplierList; let i=index;">
               <span >{{item.VENDOR_NAME}} <i class="fa fa-close"></i>
                <button type="button" class="close" (click)="removeSupplier(i)">&times;</button>
              </span>
             </div>
            </div>
          </div>

            <!-- <div class="row mb-3 pl-3 pr-3" *ngIf="!allSupplierButton"> -->
              <!-- <div class="col-sm-4 col-xs-12 card">
                <div *ngFor="let item of supplierList; let i=index;">
                 <span >{{item.VENDOR_NAME}} <i class="fa fa-close"></i>
                  <button type="button" class="close" (click)="removeSupplier(i)">&times;</button>
                </span>
               </div>
              </div> -->
                <!-- <textarea class="textarea" type="text" name="suppliers" rows="10" cols="100"></textarea> -->

              <!-- <div class="col-sm-2 col-xs-12 align-items-center">
                <Button class="input-group-text arrowbutton1" type="submit"> > </Button>
                <Button class="input-group-text arrowbutton2" type="submit"> < </Button>
              </div>
              <div class="col-sm-5 col-xs-12 card">
                <textarea type="text" name="suppliers" rows="10" cols="100"></textarea>
              </div> -->
            <!-- </div> -->
            <div class="row">
              <div class="p-3 w-100">
                <div class="float-right">
                  <button type="button" class="btn btn-primary mt-2" (click)="submitPage()">Post</button>
                  &nbsp;
                  <button type="button" class="btn btn-secondary mt-2" [routerLink]="['/craftsmanautomation/administration/communication']">Cancel</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <notifier-container></notifier-container>


