.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search {
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important
}
.arrowbutton1{
  margin-left: 70px;
  margin-top: 50px;
}
.arrowbutton2{
  margin-left: 70px;
  margin-top: 10px;
}
#grid-section{
  padding-left:20px;
}
.textarea{
  /* border-width: 2px; */
  border: none
  /* border-right : 1px; */
}
messagehistory{
  border: none
}
.bg-img {
  /* background: rgba(0, 0, 0, 0.04) url(src/assets/img/bg-image-8.jpg) top left repeat; */
   background-size: cover;
   border-radius: 50%;
   top: 0;
   width: 100%;
   bottom: 0;
   opacity: 1;
   z-index: 999;
/* height: 400px !important; */
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   /* padding: 0px; */
   background-position: right;
   background-repeat: no-repeat;
   /* min-height: unset !important; */
}
.profile_img{
  /* border: solid; */
  height: 70px;
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 20px;
}
/* .msgGrid{
  border: solid;
} */

.supplierCard{
  height: 150px;
  overflow: auto;
}

.form-group.required .control-label1:after {
  content:"*";
  color:red;
}
