<div id="wrapper">

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid" id="container-wrapper">
        <div class="row mt-3">
          <div class="col-xl-12 col-md-12 mb-4">
            <!-- <div class="col-xl-12 col-md-12 mb-4 ml-3"> -->
              <table class="table align-items-center table-flush mt-4" id="onlineDiscussiontable">
                <thead class="thead-light">
                  <tr>
                    <th style="width : 75%;">Notification </th>
                    <th style="width : 25%; text-align: right;">Date</th>
                  </tr>
                </thead>
                <tbody>

                <tr *ngFor="let item of notificationList | paginate: { id :'moveNext', itemsPerPage: viewCount, currentPage: page}; let i = index; " >
                  <td style="width : 75%;">
                    <a class="small text-500" href="javascript:void(0)"  (click)="clickedLink(item.NOTIFICATION_ID, item.NOTIFICATION_LINK, item.LINK_ID)">
                      {{item.NOTIFICATION_TEXT}}</a></td>
                  <td style="width : 25%; text-align: right;">{{item.NOTIFICATION_DATE  | date:'dd-MMM-yyy h:mm:ss a'}}</td>
                  <!-- <td>
                    <input type="checkbox" [checked]="item.isChecked" disabled style="color:green;"/> {{item.PARENT_FLAG}}
                  </td>
                  <td>{{item.READONLY_FLAG}}</td>
                  <td>{{item.SUPPLIER_NEWS_FLAG}}</td> -->
                </tr>
              </tbody>
              </table>

            <!-- </div> -->
          </div>
        </div>

        <div class="row mb-3 pl-3 pr-3" id="filter" >
          <div class="col-sm-12" style="padding-bottom: 10px;">
            <div class='align-items-center justify-content-center d-flex'>
            <span> <select class="form-control" [(ngModel)]="viewCount">
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
                <option value='50'>50</option>
              </select></span> &nbsp;&nbsp;&nbsp;

             <span style="margin-top: 10px;"> <pagination-controls id='moveNext' class="product-pagination" (pageChange)="onPageChanged($event)">
              </pagination-controls></span>
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
