<div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="viewGrid">
  <div class="col-sm-12 p-3" id="goback">
    <div class="d-inline-flex p-2 text-center" style="margin-left: 40%;"><b>
        <h5>Shipment Details </h5>
      </b></div>
    <div class="  float-right">
      <button class="btn btn-primary btn-sm" (click)="goBackFromShip()">GO Back</button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div id="accordion" class="myaccordion w-100">
        <div class="card card-2 "
          *ngFor="let element of poHeadersList | paginate: { itemsPerPage: viewCount, currentPage: page };let i=index;">
          <div class="card-header" id="heading{{i}}">
            <div class="mb-0">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group c1">
                    <div class="ctrl-label">Buyer Organization</div>
                    <div class="ctrl-value">{{element.BUYER_ORGANIZATION}}</div>
                  </div>
                  <div class="form-group c4">
                    <div class="ctrl-label">Bill of Lading</div>
                    <div class="ctrl-value"> {{element.BILL_OF_LADING}} </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group c3">
                    <div class="ctrl-label">Buyer Unit</div>
                    <div class="ctrl-value">{{element.BUYER_UNIT}}</div>
                  </div>
                  <div class="form-group c5">
                    <div class="ctrl-label">Waybill Number</div>
                    <div class="ctrl-value">{{element.WAYBILL_NUM}}</div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group c2">
                    <div class="ctrl-label"> Receipt Number</div>
                    <div class="ctrl-value"><a class="text-primary" href="javascript:void(0)">{{element.RECEIPT_NUM}}
                      </a></div>
                  </div>
                  <div class="form-group c8">
                    <div class="ctrl-label">Freight Terms</div>
                    <div class="ctrl-value">{{element.FRIGHT_TERMS}}</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group c7">
                    <div class="ctrl-label">Receipt Date</div>
                    <div class="ctrl-value">{{element.RECEIPT_DATE}}</div>
                  </div>
                  <div class="form-group c6">
                    <div class="ctrl-label">Shipment Method</div>
                    <div class="ctrl-value">{{element.SHIPMENT_METHOD}}</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group c6">
                    <div class="ctrl-label">Ship To</div>
                    <div class="ctrl-value">{{element.SHIP_TO}}</div>

                  </div>
                </div>
              </div>
            </div>
            <div id="collapse{{1}}" class="bodysection border-top" attr.aria-labelledby="heading{{1}}"
              data-parent="#accordion">
              <div class="card-body{{1}}">
                <div class="table-responsive  p-3">
                  <table class="table align-items-center table-flush" id="listtest">
                    <thead class="thead-light">
                      <tr>
                        <th>PO Number</th>
                        <th>Line No</th>
                        <th>Shipment</th>

                        <th>Item</th>
                        <th> Ordered</th>
                        <th>UOM</th>
                        <th>Received Quantity</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let element1 of poHeadersList[i].list">


                        <td>{{element1.DOCUMENT_NO}}</td>

                        <td>{{element1.PO_LINE_ID}} </td>

                        <td>{{element1.SHIPMENT_LINE_ID}}</td>

                        <td>{{element1.ITEM_CODE}}</td>
                        <td>{{element1.ORDERED_QTY}}</td>

                        <td>{{element1.UNIT_OF_MEASURE}}</td>
                        <td class="text-primary"><a href="javascript:void(0)"
                            (click)="changeView(element1.SHIPMENT_LINE_ID)"> {{element1.DELIVERED_QTY}}</a> </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="align-self: center;" *ngIf="poHeadersList.length === 0">
          <h5 class="text-gray text-center">No Shipment Details</h5>
       </div>
      </div>
    </div>
  </div>
</div>


<!-- Shipment Lot Details -->
<div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!viewGrid">
  <div class="col-sm-12 p-3" id="goback">
    <div class="d-inline-flex p-2 text-center" style="margin-left: 40%;"><b>
        <h5>Shippment Lot Details </h5>
      </b></div>
    <div class="  float-right">
      <button class="btn btn-primary btn-sm" (click)="goBack()">GO Back</button>
    </div>
  </div>
  <div class="card w-100" id="list-table">
    <div class="table-responsive  p-3">
      <table class="table align-items-center table-flush" id="listtest">
        <thead class="thead-light">
          <tr>
            <th>Lot Number</th>
            <th>Shipped Quantity</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element2 of viewShipmenList">

            <td>{{element2.LOT_NUMBER}}</td>
            <td>{{element2.LOT_QTY}}</td>
            <td>{{element2.QUALITY}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
