.product-pagination .ngx-pagination {
  margin-left: 0;
  margin-bottom: 1rem;
  text-align: center;
  padding: 10px 5px;
  font-size: 14px;
}
.product-pagination .ngx-pagination .current {
  padding: 4px 12px;
  background: grey;
  color: white;
  cursor: default;
  border-radius: 2px;
  line-height: 22px;
}
table th td{
  width : 100%;
}
