<!-- <script type="text/javascript"
     src="https://code.jquery.com/jquery-3.5.1.js">
     </script>

     <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
     </script> -->

<div id="content-wrapper" class="d-flex flex-column ">
  <div id="content">
    <div class="container-fluid" id="container-wrapper"  style="background-color: #f9f9f9;">

        <div class="row mb-3 pl-3 pr-3" style="margin-top: 80px;">
          <div class="col-sm-12 col-xs-12">
            <div class=" row float pt-2 pb-2 d-flex align-items-center">
              <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-1">
                </div>
                   <div class="col-sm-1 float-right" style="padding-top: 13px;">
                </div>
            </div>
          </div>
        </div>

        <div class="row mb-3 pl-3 pr-3">
        <div class="card w-100">
          <div class=" row float pt-2 pb-2 d-flex">
            <!-- <div class="col-sm-11 float-right"> -->
              <!-- <div class="row"> -->
              <div class="col-sm-3" style="padding-left:20px;">
                <label> Unit</label>
                <select name="unitName" [(ngModel)]="unitName"  (ngModelChange)="getUnitName(unitName)" class="form-control" >
                  <option  *ngFor = "let item of OrganisationList" [value]="item">{{item}}</option>
                </select>
              </div>

              <div class="col-sm-3">
                <label> vendor Name</label>
                <select name="suppliername" [(ngModel)]="suppliername"  (ngModelChange)="getvendorName(suppliername)" class="form-control" >
                  <option  *ngFor = "let item1 of vendorNameList" [value]="item1">{{item1}}</option>
                </select>
              </div>

              <div class="col-sm-3">
                <label> Location</label>
                <select name="vendorSite" [(ngModel)]="vendorSite"  class="form-control" >
                  <option  *ngFor = "let item of vendorSiteList" [value]="item">{{item}}</option>
                </select>
              </div>

              <div class="col-sm-1" style="margin-top:28px;">
                <Button class="input-group-text" type="submit" (click)="setFilteredData()">Search</Button>
              </div>
              <div class="col-sm-1" style="margin-top:28px;">
                <Button class="input-group-text" type="submit" (click)="clear()">Clear</Button>
              </div>
            <!-- </div> -->
              <div class="col-sm-1" style="margin-top:28px;">
              <a href="javascript:void(0)" class="" (click)="exportExcel()">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z" fill="#23a566" data-original="#23a566" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z" fill="#ffffff" data-original="#ffffff" class=""></path><path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z" opacity=".19" fill="#000000" data-original="#000000"></path><path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z" fill="#8ed1b1" data-original="#8ed1b1"></path></g></svg>
             </a>
            <!-- </div> -->
          </div>
            </div>
          <div class= "table-responsive p-3">
            <table class="table align-items-center" id="Pending-table" *ngIf = viewFlag>
              <thead class="thead-light">
                <tr>
                  <th>Unit</th>
                  <th>Vendor Name</th>
                  <th>Vendor Site</th>
                  <th>ASN Number</th>
                  <th>ASN Date</th>
                  <th>PO Number</th>
                  <th>Line No</th>
                  <th>Item Code</th>
                  <th>Item Description</th>
                  <th>Qunatity</th>
                  <th>Invoice No</th>
                  <th>Invoice Date</th>
                  <th>Division</th>
                  <!-- <th>Division Code</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element1 of intransitAsn | paginate: { id :'moveNext', itemsPerPage: viewCount, currentPage: page}; let i = index; ">
                  <td> {{element1.ORG_NAME }}</td>
                  <td> {{element1.VENDOR_NAME }}</td>
                  <td> {{element1.SITE_CODE }}</td>
                  <td>{{element1.ASN_NUMBER}}</td>
                  <td>{{element1.ASN_DATE | date :'dd-MMM-yyyy h:mm:ss a'}}</td>
                  <td>{{element1.PO_NUMBER }}</td>
                  <td>{{element1.LINE_NUMBER}}</td>
                  <td>{{element1.PO_LINE_ITEM }}</td>
                  <td >{{element1.ITEM_DESCRIPTION }}</td>
                  <td class="text-right"> {{element1.QUANTITY | number }}</td>
                  <td> {{element1.INVOICE_NUMBER}} </td>
                  <td> {{element1.INVOICE_DATE | date :'dd-MMM-yyyy'}}</td>
                  <td> {{element1.DIVISION}} </td>
                  <!-- <td> {{element1.DIVISION_CODE}}</td> -->

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row mb-3 pl-3 pr-3" id="filter" >
            <div class="col-sm-12" style="padding-bottom: 10px;">
              <div class='align-items-center justify-content-center d-flex'>
              <span> <select class="form-control" [(ngModel)]="viewCount">
                  <option value='10'>10</option>
                  <option value='20'>20</option>
                  <option value='30'>30</option>
                  <option value='40'>40</option>
                  <option value='50'>50</option>
                </select></span> &nbsp;&nbsp;&nbsp;

               <span style="margin-top: 10px;"> <pagination-controls id='moveNext' class="product-pagination" (pageChange)="onPageChanged($event)">
                </pagination-controls></span>
          </div>
        </div>
      </div>
      <!-- <app-common-shipment-details *ngIf="shipmentView" [shipmentId]="lineId" [shipmentView]="shipmentView"
        (goBackShip)="goBackShip()"></app-common-shipment-details> -->
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise"
      [fullScreen]="true">
      <p style="color: white"> Loading... </p>
   </ngx-spinner>
<notifier-container></notifier-container>

