<div id="wrapper">

    
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
 
          <div class="container-fluid" id="container-wrapper">

            <div class="row mb-3 pl-3 pr-3" id="filter">
                <div class=" card w-100 p-3">
                   <div class="col-sm-12">

                      <div class="row ">
                           
    

<div class="col-sm-6">

 <div class="input-group  mt-2">
               <input type="text" class="form-control" placeholder="Enter Your Search Text" [(ngModel)]="searchText"
                  aria-describedby="basic-addon2">
               <div class="input-group-append">
                 <Button class="input-group-text" id="basic-addon2" type="submit" (click)="setFilteredData()">Search</Button>
               </div>
             </div>

</div>
<div class="col-sm-4"></div>

<div class='col-sm-2'>


<div class="float-right">
<a href="javascript:void(0)" class="btn   btn-primary mt-2" (click)="exportExcel()"> <i class="fas  fa-file-excel"></i> &nbsp;Export To Excel</a>
</div> </div>

                                              
                      </div>
                   </div>
                </div>
             </div>

             <div class="row mb-3  " id="grid-sections">
                <div class="col-xl-12 col-lg-12 mb-4">
                 <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                       <h6 class="m-0 font-weight-bold text-primary">Product and Services</h6>
                      
                    </div>
                    <div class="table-responsive">
                       <table class="table align-items-center table-flush">
                          <thead class="thead-light">
                             <tr>
                                <th>Family</th>
                                <th>Class</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Reference Item</th>
                                <th>Actions</th>
                             </tr>
                          </thead>
                          <tbody>
                             

                              <tr>
                                <td>Packaging</td>
                                <td>Inner Box</td>
                                <td>XYZ1234</td>
                                <td>SFDJN1134D LARGE</td>
                                <td>B1291-00-05-SN-JP</td>
                                 <td><a data-toggle="modal" data-target="#myModal" class="m-0 btn btn-primary btn-sm" 
                                    href="#" (click)="editProduct()">Edit <i class="fas fa-pen"></i></a></td>
                             </tr>
                             
                          </tbody>
                       </table>
                    </div>
                    <div class="card-footer"></div>
                 </div>
              </div>
           </div>

          </div>
        </div>
        
    </div>
    
</div>  

<div class="modal fade" id="myModal">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Product and Service</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
         <div class="modal-body reg-form">
          <div class="row">
              <div class="col-sm-4">
                     <div class="form-group">
                      <label>Raw Material</label>
                       <select class="form-control">
                          <option>Select</option>
                          <option>Acid</option>
 
                      </select>
                    </div>
              </div>

                            <div class="col-sm-4">
                     <div class="form-group">
                      <label>Services</label>
                       <select class="form-control">
                          <option>Select</option>
                          <option>Aircon</option>
 
                      </select>
                    </div>
              </div>


                             <div class="col-sm-4">
                     <div class="form-group">
                      <label>Spares</label>
                       <select class="form-control">
                          <option>Select</option>
                          <option>Chemical</option>
 
                      </select>
                    </div>
              </div>
          </div>
         
           <div class="row">
                           <div class="col-sm-4">
                     <div class="form-group">
                      <label>Packaging</label>
                       <select class="form-control">
                          <option>Select</option>
                          <option>Inner Box</option>
 
                      </select>
                    </div>
              </div>
          </div>

 

 
        </div>

 
         
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> &nbsp;
          <button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
        </div>
        
      </div>
    </div>
  </div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>