<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div class="container-fluid" id="container-wrapper">
                <div class="row mb-3 pl-3 pr-3" id="filter">
                    <div class=" card w-100 p-3">
                        <div class="col-sm-12">

                            <div class="row ">

                                <div class='col-md-2'>
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input id="datepicker" name="fromDate" width="276" [(ngModel)]="fromDate" readonly/>
                                        </div>
                                    </div>
                                </div>


                                <div class='col-sm-2'>
                                    <div class="form-group">
                                        <label class="control-label">To Date</label>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input id="datepicker1" name="toDate" width="276" [(ngModel)]="toDate"  readonly/>
                                        </div>
                                    </div>
                                </div>


                                <div class='col-sm-1'>

                                    <br>

                                    <a href="javascript:void(0)" class="btn   btn-primary mt-2" style="margin-top: 5px;" (click)="getPastPurchases()">View</a>
                                </div>

                                <div class="col-sm-5">
                                    <br>
                                    <div class="input-group  mt-2">
                                        <input type="text" class="form-control" placeholder="Enter Your Search Text"
                                        [(ngModel)]="searchText" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <Button class="input-group-text" id="basic-addon2" type="submit"
                                            (click)="showHideTable()">Search</Button>
                                        </div>
                                    </div>

                                </div>
                                <div class='col-sm-2'>

                                    <br>
                                    <div class="float-right">
                                        <a *ngIf="accountType==='SUPPLIER'" class=" float-right btn btn-primary btn-sm mt-2" href="javascript:void(0)" (click)="onOpenModel()"
                                        data-toggle="modal" data-target="#myModal">Upload Invoice <i class="ml-3 fas fa-chevron-right"></i></a>
                                        <a *ngIf="accountType!=='SUPPLIER'" class=" float-right btn btn-primary btn-sm mt-2 isDisabled" href="javascript:void(0)"
                                        >Upload Invoice <i class="ml-3 fas fa-chevron-right"></i></a>
                                      </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="showHide">
                    <div class="card w-100" id="pending-details">
                       <div class="table-responsive  p-3">
                          <table class="table align-items-center table-flush" id="Pending-table">
                             <thead class="thead-light">
                                <tr>
                                   <th>Buyer Unit</th>
                                   <th>Purchase Order No</th>
                                   <th>Invoice Number</th>
                                   <th>Invoice Date</th>
                                   <th>Currency</th>
                                   <th>Invoice Amount</th>
                                   <th>Description</th>
                                   <th>Files</th>
                                   <!-- <th>Freight Amount</th>
                                   <th>Invoice Amount</th>
                                   <th>Status</th> -->
                                </tr>
                             </thead>
                             <tbody>
                                <tr *ngFor="let element of showDoc">

                                   <td>{{element.BUYER_UNIT }}</td>

                                   <td>{{element.PO_NUMBER}} </td>

                                   <td>{{element.INVOICE_NUMBER }}</td>
                                   <td>{{element.INVOICE_DATE }}</td>

                                   <td>{{element.CURRENCY_CODE }}</td>
                                   <td>{{element.INVOICE_AMOUNT | number}}</td>
                                   <td>{{element.INVOICE_DESCRIPTION }}</td>




                                   <td>
                                       <diV>
                                    <app-file-view [headerId]="element.INVOICE_ID" [type]="'INVOICE_DOC_ATTACHMENTS'"></app-file-view>
                                </diV>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>


                </div>
                </div>
                </div>
                </div>

                <div class="modal fade"  id="myModal">
                    <div class="modal-dialog ">
                      <div class="modal-content">

                        <div class="modal-header">
                          <h4 class="modal-title">Upload Invoice</h4>
                          <button type="button" class="close" data-dismiss="modal" >&times;</button>
                        </div>
                        <form #exampleForm1="ngForm">
                        <div class="modal-body reg-form" >

                          <div >
                            <div class="form-group">
                                <label>Invoice Mode</label><br>

                                <input [(ngModel)]="uploadInv.INVOICE_MODE" type="radio" name="invoice" value="po" (ngModelChange)="getInvoice()" required>
                                 <label for="po">PO</label>&nbsp; &nbsp;
                                <input [(ngModel)]="uploadInv.INVOICE_MODE" type="radio" name="invoice" value="direct" (ngModelChange)="getInvoice()" required>
                                 <label for="direct">Direct</label>
                              </div>
                          </div>

                          <div>
                            <div class="form-group">
                              <label>Buyer Unit</label>
                              <select [(ngModel)]="uploadInv.BUYER_UNIT" name="category" class="form-control ud" (ngModelChange)="getPOList()" required>
                             <option>Select</option>
                 <option *ngFor="let item of units" [value]="item">{{item}}</option>
                              </select>
                            </div>
                          </div>

                          <div>
                            <div class="form-group">
                                <label>Purchase Order No</label>
                                <input  class="form-control ud js-example-basic-single" list="selectPO" [value]='uploadInv.PO_NUMBER' [disabled]="!(uploadInv.BUYER_UNIT && uploadInv.INVOICE_MODE ==='po')" (keyup)="setPo($event.target.value)" id="documentNo" required>
                                <datalist id="selectPO" >
                                <select>
          <option  *ngFor="let item of uniquePos" [value]='item.PO_NUMBER'>{{item.PO_NUMBER}}</option>
                                </select>
                                </datalist>
                              </div>
                          </div>
                          <diV>
                            <div class="form-group">
                                <label>Invoice Number</label>
                                <input type="text" class="form-control ud" [(ngModel)]="uploadInv.INVOICE_NUMBER" name="number" id="exampleInputFirstName" placeholder=" " required>
                              </div>
                          </diV>
                          <div>
                            <div class="form-group">
                                <label>Invoice Date</label>
                                     <div class='input-group date' id='datetimepicker1'>
                               <input id="datepicker2" name="date" [(ngModel)]="uploadInv.INVOICE_DATE" width="276" required/>
                            </div>
                          </div>

                          <div>
                            <div class="form-group">
                                <label>Currency</label>
                                <input *ngIf="uploadInv.INVOICE_MODE === 'po'" type="text" class="form-control ud" [(ngModel)]="uploadInv.CURRENCY_CODE" name="currency" id="exampleInputFirstName" placeholder="Currency " [readonly] = "uploadInv.INVOICE_MODE === 'po'" required>

                                <select *ngIf="uploadInv.INVOICE_MODE !== 'po'" [(ngModel)]="uploadInv.CURRENCY_CODE" name="currency" class="form-control ud"  required>
                                  <option>Select</option>
                      <option *ngFor="let item of currencyList" [value]="item.CURRENCY_CODE">{{item.CURRENCY_CODE}}</option>
                                   </select>
                                </div>
                          </div>
                          <div>
                              <div class="form-group">
                                <label>Invoice Amount</label>
                                <input type="number" class="form-control ud" [(ngModel)]="uploadInv.INVOICE_AMOUNT" name="amount" id="exampleInputFirstName" placeholder="Enter Amount " required>
                              </div>
                          </div>
                          <div>
                              <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control ud" [(ngModel)]="uploadInv.INVOICE_DESCRIPTION" id="exampleInputFirstName" placeholder=" " name="description" required>
                              </div>
                          </div>
                          <div>
                            <div class="form-group">
                              <label>File</label>
                          <input type="file" name="file" class="files" (change)="onFilesAdded($event)"
                          #myFileInput accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                        </div>
                      </div>

                         </div>
                        </div>
                         </form>

                         <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="fileUpload()"
                          [disabled] = "!(exampleForm1.valid && length>0)">Submit</button> &nbsp;
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
                        </div>

                       </div>
                    </div>
                  </div>

                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>





