.vertical-menu {
  /* margin-top : 5px; */
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: Gray;
  color: white;
}

table {
  /* border-collapse: collapse; */
  width: 100%;
}

.table td{
  text-align: left;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  /* width: 100%; */
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  padding-left: 280px;
  color: green;
  min-width: 50px;
  /* text-align: center; */
}
/* s */
.custom-control-input:disabled~.custom-control-label::before {
  background-color: blue;
}

.circle {
  max-width: 30px !important;
  max-height: 17px !important;
  line-height: 35px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
  background: gray;
  padding: 2px;
}

.modeldlg{
  max-width: 80% !important;
}

.form-group.required .control-label1:after {
  content:"*";
  color:red;
}
