<div id="wrapper">

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid" id="container-wrapper">
        <div class="row mt-3">
          <div class="col-xl-12 col-md-12 mb-4">
            <div class="col-xl-12 col-md-12 mb-4 ml-3" *ngIf="historyFlag">
              <div class="row">
                <div class="col-sm-3" *ngIf="!communicationString">
                  <label> Module</label>
                  <select name="modulename" [(ngModel)]="modulename" class="form-control">
                          <option value="ALL">All</option>
                          <option value="COMMON">Common</option>
                          <option value="PURCHASING">Purchasing</option>
                          <option value="ASN">Advance Shipement Notice</option>
                          <option value="INVOICES">Invoices</option>
                          <option value="PAYMENTS">Payments</option>
                          <option value="LEDGER">Supplier Ledger</option>
                          <option value="PROFILE">Supplier Profile</option>
                          <option value="QUALIFICATION">Supplier Qualification</option>
                          <option value="SOURCING">Sourcing</option>
                      </select>
                </div>
                <div class="col-sm-3" *ngIf="communicationString">
                  <label>Document </label>
                <div>{{communicationStringTitle[0]}}</div>
              </div>
                <div class="col-sm-3">
                  <label>Status</label>
                  <select name="status" [(ngModel)]="status" class="form-control">
                          <option value="ALL">All</option>
                          <option value="OPEN">Open</option>
                          <option value="CLOSED">Closed</option>
                          <option value="CLOSEREQUESTED">Close Requested</option>

                      </select>
                  <!-- <span style="padding-top: 16px;">{{communicationStringTitle[0]}}</span> -->
                </div>

                <div class="col-sm-2" style="padding-top: 2em!important;">
                    <!-- <div class="input-icons">
                      <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search'
                        style="width:300px;" [(ngModel)]="searchText"/>
                    </div> -->
                    <Button class="btn btn-primary mr-2" type="submit" (click)="searchData()">
                    <i class="fas fa-search"></i></Button>
                  <Button class="btn btn-primary" type="submit" (click)="clear()">Clear</Button>
                </div>

                <div class="col-sm-4" style="margin-top: 2em!important;">
                  <!-- <a [routerLink]="['/craftsmanautomation/administration/newConversation']" routerLinkActive="router-link-active"> -->
                    <!-- class="btn btn-primary mt-2 ml-7 float-right" [disabled]="!this.communicationString"> </a>
                                      -->
                <div *ngIf="!communicationString">
                  <button type="button" class="btn btn-primary float-right" [disabled] = "!newConversationflag"
                  [routerLink]="['/craftsmanautomation/administration/newConversation']" routerLinkActive="router-link-active" >
                    <i class="fas fa-plus"></i> &nbsp;New Discussion</button>
                </div>
                  <a href="javascript:void(0)" data-toggle="modal" [attr.data-target]="'#myFileModal'"
                    class="btn btn-primary mt-2 ml-7 float-right" *ngIf="communicationString">
                    <i class="fas fa-plus"></i> &nbsp;New Discussion</a>
                </div>
              </div>
              <!-- <div class="table-responsive mt-4"> -->
                <table class="table align-items-center table-flush mt-4" id="onlineDiscussiontable" *ngIf=viewFlag>
                  <thead class="thead-light">
                    <tr>
                      <th>Topic</th>
                      <th>Initated By</th>
                      <th>Supplier Name</th>
                      <th>Status</th>
                      <th>Initated Date</th>
                      <th>Last Updated Date</th>
                      <th>Module</th>
                      <!-- <th>Parent Flag</th>
                      <th>Information</th>
                      <th>News</th> -->
                    </tr>
                  </thead>
                  <tbody>

                  <tr *ngFor="let item of communication | paginate: { id :'moveNext', itemsPerPage: viewCount, currentPage: page}; let i = index; " >
                    <td> <a href="javascript:void(0)"
                      (click)="getCommunicationDetails(item.COMMUNICATION_ID, item.TITLE, item.ATTACH_DOCUMENT_STRING, item.STATUS)">
                      {{item.TITLE}}</a></td>
                    <td>{{item.USER_NAME}}</td>
                    <td>{{item.SUPPLIER_NAME}}</td>
                    <td>{{item.STATUS | titlecase}} </td>
                    <td>{{item.DATE_INITIATED | date:'dd-MMM-yyy h:mm:ss a'}}</td>
                    <td>{{item.LATEST_RESPONSE_DATE  | date:'dd-MMM-yyy h:mm:ss a'}}</td>
                    <td>{{item.MODULE_NAME | titlecase}}</td>
                    <!-- <td>
                      <input type="checkbox" [checked]="item.isChecked" disabled style="color:green;"/> {{item.PARENT_FLAG}}
                    </td>
                    <td>{{item.READONLY_FLAG}}</td>
                    <td>{{item.SUPPLIER_NEWS_FLAG}}</td> -->
                  </tr>

                </tbody>
                </table>
                <div class="row mb-3 pl-3 pr-3" id="filter" >
                  <div class="col-sm-12" style="padding-bottom: 10px;">
                    <div class='align-items-center justify-content-center d-flex'>
                    <span> <select class="form-control" [(ngModel)]="viewCount">
                        <option value='10'>10</option>
                        <option value='20'>20</option>
                        <option value='30'>30</option>
                        <option value='40'>40</option>
                        <option value='50'>50</option>
                      </select></span> &nbsp;&nbsp;&nbsp;

                     <span style="margin-top: 10px;"> <pagination-controls id='moveNext' class="product-pagination" (pageChange)="onPageChanged($event)">
                      </pagination-controls></span>
                </div>
              </div>
            </div>
              <!-- </div> -->
            </div>

            <div class="col-xl-12 col-md-12 mb-4 mt-1" id="grid-section" *ngIf="historyDetailsFlag">
              <br><br>
              <div class="row">
                <div class="col-xl-4 col-md-12 mb-4 mb-3"><b>{{communication_title}}</b>
                </div>
                <div class="col-xl-7 col-md-12 mb-4 float-right">
                  <div class="float-right">
                  <button type="button" class="btn btn-primary" (click)="close()" [disabled]="communicationstatus ==='CLOSED'">Complete Discussion</button> &nbsp;&nbsp;
                  <button type="button" class="btn btn-primary ml-1 mr-1" [disabled]="communicationstatus ==='CLOSED'" (click)="addUpdate()">Update Discussion</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary" (click)="goback()">Go Back</button>
                </div>
                </div>
                <div class="col-xl-1 col-md-12 mb-4 ">
                  <span> <app-common-file-view attachmentString="{{this.attachmentDocumentString}}" [headerId]="communication_id"
                    [type]="'COMMUNICATIONS'"> </app-common-file-view>
                </span>
                </div>
              </div>

              <div class="row card mb-3 pl-1">
                <div class="col-xl-12 col-md-12 mb-4" id="grid-section">
                  <div class="row card ml-1 mr-1 mb-3 mt-4 align-items-center updatetextbutton" *ngIf="addUpdateFlag">
                    <!-- <input autofocus type="text" name="updateText" [(ngModel)]="updateText" class="form-control"
                    placeholder="" style="cursor: pointer;"> -->
                   <div class="w-100 form-group required">
                    <label class="control-label1">Discussion Text</label>
                    <textarea type="text" name="updateText" [(ngModel)]="updateText" class="form-control"
                    placeholder=" " row="4" cols="100" maxlength="4000" required="true">  </textarea>
                    <span>{{this.updateText? 4000 - this.updateText.length +' remaining' : ''}} </span>
                  </div>
                    <span class="mt-2 mb-2" style="float: right !important;"><button type="button"
                        class="btn btn-secondary" (click)="reply()" *ngIf="enableUpdateButton">Update</button></span>
                  </div>
                  <!-- <span class="circle"><span> {{details.firstLetter}}</span> &nbsp;</span> -->
                  <div class="row card pl-2 mt-4 ml-1 mr-1" *ngFor="let details of communicationDetails">
                    <div>
                      <span class="float-left pl-1">{{details.USER_NAME}} </span> <span class="float-right pr-2">
                        {{details.CREATION_DATE}} </span>
                      <br>
                      <hr>
                      <span class="float-left pb-1 pl-4"> {{details.CONVERSATION_TEXT }} </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myFileModal">
    <div class="modal-dialog modeldlg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Transaction Discussion : {{communicationStringTitle[0]}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body reg-form">

          <div class=" row mb-3 pl-3 pr-3" id="grid-sections"  >
            <div class="w-100 form-group required p-3">
              <!-- <h4 class="w-100 text-primary">Conversation Title</h4> -->
              <label class="control-label1">Discussion Title</label>
              <input type="text" name="title" [(ngModel)] ="title" class="form-control" placeholder=" " required="true">
            </div>
          </div>

          <div class=" row mb-3 pl-3 pr-3" id="grid-sections"  >
            <div class="w-100 form-group required p-3">
              <!-- <h4 class="w-100 text-primary">Conversation Title</h4> -->
              <label  class="control-label1">Discussion Text</label>
              <textarea type="text" name="messages" [(ngModel)] ="messages" class="form-control" placeholder=" "
              rows="7" cols="250" maxlength="4000" required="true">
                </textarea>
                <span>{{this.messages? 4000 - this.messages.length +' remaining' : ''}} </span>
            </div>
          </div>

          <div class="row">
            <div class="p-3 w-100">
              <div class="float-right">
                <button type="button" class="btn btn-primary mt-2" data-dismiss="modal" (click)="submitPage()">Post</button>
                &nbsp;
                <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal" >Cancel</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise"
      [fullScreen]="false">
      <p style="color: white"> Loading... </p>
   </ngx-spinner>
<notifier-container></notifier-container>

