<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">

        <!--Row start-->
        <div class="row mb-3 pl-3 pr-3">

          <div class="col-sm-12 col-xs-12">

            <div class="row float pt-2 pb-2 d-flex align-items-center">


              <div class='col-sm-2'>
                <div class="form-group">
                  <label class="control-label">Receipt Date From </label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input id="datepicker" width="276" name="fromDate" [(ngModel)]="fromDate" readonly />
                  </div>
                </div>
              </div>


              <div class='col-sm-2'>
                <div class="form-group">
                  <label class="control-label">Receipt Date To</label>
                  <div class='input-group date' id='datetimepicker2'>
                    <input id="datepicker1" width="276" [(ngModel)]="toDate" readonly />
                  </div>
                </div>
              </div>



              <div class='col-sm-1'>
                <button class="btn btn-primary mt-3" (click)="getViewReceipts()">View</button>
              </div>

              <div class="col-sm-4" style="padding-top: 13px;">
                <span class="searchbox-section">
                  <input type="text" class="form-control" placeholder="Enter Your Search Text" [(ngModel)]="searchText"
                    aria-describedby="basic-addon2">
                </span>

              </div>

              <div class='col-sm-1' style="padding-top: 13px;">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm">
                  <i class="fas fa-search" (click)="setFilteredData()"></i>
                </a>
              </div>
              <div class='col-sm-1 float-right' style="padding-top: 13px;">



                <a  href="javascript:void(0)" class="" (click)="exportExcel()">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:svgjs="http://svgjs.com/svgjs" width="28" height="28" x="0" y="0" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                    <g>
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="m441 140.5v338c0 18.2-14.7 32.9-32.9 32.9h-304.2c-18.2 0-32.9-14.7-32.9-32.9v-445c0-18.2 14.7-32.9 32.9-32.9h197.2z"
                        fill="#23a566" data-original="#23a566" class=""></path>
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="m336.9 254.9h-161.8c-5.8 0-10.5 4.7-10.5 10.5v140.9c0 5.8 4.7 10.5 10.5 10.5h161.9c5.8 0 10.5-4.7 10.5-10.5v-140.8c-.1-5.8-4.8-10.6-10.6-10.6zm-151.3 67.6h59.9v26.7h-59.9zm80.9 0h59.9v26.7h-59.9zm59.9-21h-59.9v-25.5h59.9zm-80.9-25.5v25.5h-59.9v-25.5zm-59.9 94.3h59.9v25.5h-59.9zm80.9 25.5v-25.5h59.9v25.5z"
                        fill="#ffffff" data-original="#ffffff" class=""></path>
                      <path xmlns="http://www.w3.org/2000/svg" d="m319.9 135.4 121.1 98.1v-92.1l-68.7-39.9z"
                        opacity=".19" fill="#000000" data-original="#000000"></path>
                      <path xmlns="http://www.w3.org/2000/svg" d="m441 140.5h-107c-18.2 0-32.9-14.7-32.9-32.9v-107z"
                        fill="#8ed1b1" data-original="#8ed1b1"></path>
                    </g>
                  </svg>
                </a>
              </div>
              <div class="col-sm-1 float-right" style="padding-top: 13px;">
                <a class="btn btn-primary btn-sm" id="grid" href="javascript:void(0)"
                   [class.btn-primary]="viewGrid" [class.btn-light]="!viewGrid" (click)="onViewGrid()">
                   <i class="fas fa-th"></i>
                </a>
                <a class="btn btn-light btn-sm" id="list" href="javascript:void(0)" [class.btn-primary]="!viewGrid"
                   [class.btn-light]="viewGrid" (click)="onViewList()">
                   <i class="fas fa-list"></i>
                </a>
                </div>

            </div>
          </div>

        </div>
        <div class="row mb-3 pl-3 pr-3">
          <div class="col-sm-12 col-xs-12">
            <p style="font-size: 10px; margin-top: -30px;"> Data available from: {{selectedmenuFilter[0].MENUACCESS.DATE_RANGE_START | date :'dd-MM-yyyy'}} and Maximum range: {{(selectedmenuFilter[0].MENUACCESS.DATE_RANGE)/30}} months</p>
          </div>
        </div>

        <div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="viewGrid">
          <div class="col-sm-12">
            <div class="row">
              <div id="accordion" class="myaccordion w-100">
                <div class="card card-2 "
                  *ngFor="let element of poHeadersList | paginate: { itemsPerPage: viewCount, currentPage: page };let i=index;">
                  <div class="card-header" id="heading{{i}}">
                    <div class="mb-0">
                      <div class="row">

                        <div class="col-sm-3">
                          <div class="form-group c1">
                            <div class="ctrl-label">Buyer Organization</div>
                            <div class="ctrl-value">{{element.BUYER_ORGANIZATION}}</div>
                          </div>
                          <div class="form-group c4">
                            <div class="ctrl-label">Bill of Lading</div>
                            <div class="ctrl-value"> {{element.BILL_OF_LADING}} </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-group c3">
                            <div class="ctrl-label">Buyer Unit</div>
                            <div class="ctrl-value">{{element.BUYER_UNIT}}</div>
                          </div>
                          <div class="form-group c5">
                            <div class="ctrl-label">Waybill Number</div>
                            <div class="ctrl-value">{{element.WAYBILL_NUM}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c2">
                            <div class="ctrl-label"> Receipt Number</div>
                            <div class="ctrl-value">{{element.RECEIPT_NUM}}</div>
                            <!-- <div class="ctrl-value"><a class="text-primary" href="javascript:void(0)">{{element.RECEIPT_NUM}} </a></div> -->
                          </div>
                          <div class="form-group c8">
                            <div class="ctrl-label">Freight Terms</div>
                            <div class="ctrl-value">{{element.FRIGHT_TERMS}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group c7">
                            <div class="ctrl-label">Receipt Date</div>
                            <div class="ctrl-value">{{element.RECEIPT_DATE}}</div>
                          </div>
                          <div class="form-group c6">
                            <div class="ctrl-label">Shipment Method</div>
                            <div class="ctrl-value">{{element.SHIPMENT_METHOD}}</div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <!-- <div class="form-group c6">
      <div class="ctrl-value">
        <app-common-file-view [headerId]="element.ASN_ID" [type]="'ASN_DETAILS'"></app-common-file-view>
      </div>
      </div> -->

                          <div class="form-group c6">
                            <div class="ctrl-label">Ship To</div>
                            <div class="ctrl-value">{{element.SHIP_TO}}</div>

                          </div>
                          <div class="menubutton">
                            <app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PO_RECEIPT'"
                              [communicationString]="element.COMMUNICATION_STRING">
                            </app-common-file-view>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="collapse{{1}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                      data-parent="#accordion">
                      <div class="card-body{{i}}">
                        <div class="table-responsive  p-3">
                          <table class="table table-flush" id="listtest{{i+(page-1)*10}}">
                            <thead class="thead-light">
                              <tr class="align">
                                <th rowspan="2">PO Number</th>
                                <th rowspan="2">Line No</th>
                                <!-- <th  >Shipment</th> -->

                                <th rowspan="2">Item</th>
                                <th colspan="2">Quantity</th>
                                <th rowspan="2">UOM</th>
                                <th rowspan="2" class="text-right">Line Amount</th>
                                <th rowspan="2" class="text-right">Tax Amount</th>
                                <th rowspan="2">Division</th>
                              </tr>
                              <tr class="align">
                                <th class="text-right"> Ordered</th>

                                <th class="text-right">Received</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let element1 of poHeadersList[i+(page-1)*10].list; let j = index">
                                <tr>
                                  <td>
                                    <span style='font-size:8px; color: blue; margin-left:0; cursor:pointer;'
                                      *ngIf="element1.action" (click)="viewTaxButton1(element1,i,j)"
                                      data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}" class="accordion-toggle"
                                      title="Hide Tax">
                                      <div style="padding-top: 4px; float:left">
                                        <span>[</span> &nbsp;<i class="fas fa-minus">&nbsp; <span>]</span></i>
                                      </div>
                                    </span>
                                    <span style='font-size:8px; color: blue; margin-left:0;cursor:pointer;'
                                      *ngIf="!element1.action" (click)="viewTaxButton2(element1,i,j)"
                                      data-toggle="collapse" attr.data-target="#demo{{i}}{{j}}" class="accordion-toggle"
                                      title="Show Tax">
                                      <div style="padding-top: 4px; float:left">
                                        <span>[</span> &nbsp;<i class="fas fa-plus">&nbsp; <span>]</span></i>
                                      </div>
                                    </span>
                                    {{element1.DOCUMENT_NO}}
                                  </td>
                                  <!-- <td >{{element1.DOCUMENT_NO}}</td> -->
                                  <td>{{element1.LINE_NO}} </td>
                                  <!-- <td >{{element1.SHIPMENT_LINE_NO}}</td> -->
                                  <td>
                                    <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION }}">
                                      {{element1.ITEM_CODE}}</div>
                                  </td>

                                  <td class="text-right">{{element1.ORDERED_QTY | number}}</td>

                                  <td class="text-primary text-right"><a href="javascript:void(0)"
                                      (click)="changeView(element1.SHIPMENT_LINE_ID)"> {{element1.DELIVERED_QTY |
                                      number}}</a> </td>
                                  <td class="text-center">{{element1.UNIT_OF_MEASURE}}</td>
                                  <td class="text-right">{{element1.LINE_AMOUNT | numberFormatting}}</td>
                                  <td class="text-right">{{element1.TAX_AMOUNT | numberFormatting}}</td>
                                  <td class="text-center"> {{element1.DIVISION }}</td>
                                </tr>
                                <tr>
                                  <td style="padding-left:30px" class="hiddenRow" colspan="12">
                                    <div class="accordian-body collapse p-3" attr.id="demo{{i}}{{j}}">
                                      <div class="dropTiles">
                                        <div class="row">
                                          <div class="col-xl-1">
                                            <strong>
                                              <p class="modal-title text-primary pl-3">Tax Lines</p>
                                            </strong>
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Customer PAN No :</strong> {{element1.taxPayerId}}
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Customer GSTIN : </strong> {{element1.taxRegNo}}
                                          </div>
                                          <div class="col-xl-3">
                                            <strong>Supplier GSTIN :</strong> {{element1.myGst}}
                                          </div>
                                          <div class="col-xl-2" data-toggle="tooltip"
                                            title="{{element1.hsnsacCodeDesc}}">
                                            <strong>HSN/SAC :</strong> {{element1.hsnsacCode}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="table table-bordered p-3">
                                          <table class="table" id="listtest">
                                            <thead class="thead-light">
                                              <tr>
                                                <th>Line number </th>
                                                <th>Tax Rate Code </th>
                                                <th class="text-right">Tax Rate</th>
                                                <th class="text-right">Taxable Amount</th>
                                                <th class="text-right">Tax Amount</th>
                                                <th>Currency </th>
                                                <th> Self Assessed</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let element2 of element1.taxData ; let i = index">
                                                <td> {{element2.TAX_LINE_NUM}}</td>
                                                <td> {{element2.TAX_TYPE_NAME}}</td>
                                                <td class="text-right"> {{element2.TAX_RATE_PERCENTAGE |
                                                  numberFormatting}}</td>
                                                <td class="text-right"> {{element2.TAXABLE_AMT | numberFormatting}}
                                                </td>
                                                <td class="text-right"> {{element2.TAX_AMT | numberFormatting}}</td>
                                                <td> {{element2.TAX_CURRENCY_CODE}}</td>
                                                <td>{{element2.SELF_ASSESSED_FLAG}} </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!viewGrid">
          <div class="col-sm-12 p-3" id="goback">
            <div class="  float-right">
              <button class="btn btn-primary btn-sm" (click)="goBack()">GO Back</button>
            </div>
          </div>
          <div class="card w-100" id="list-table">
            <div class="table-responsive  p-3">
              <table class="table align-items-center table-flush" id="Past-table">
                <thead class="thead-light">
                  <tr>
                    <!-- <th>Lot Number</th>
                    <th>Shipped Quantity</th>
                    <th>Grade</th> -->
                   <th> Receipt Number</th>
                    <th>Receipt Date</th>
                    <th>PO Number </th>
                    <th>Line No</th>
                    <th>Item</th>
                    <th>UOM</th>
                    <th>Ordered Quantity</th>
                    <th>Received Quantity</th>
                    <th>Division</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element2 of poHeadersList">

                    <td>{{element2.RECEIPT_NUM}}</td>
                    <td>{{element2.RECEIPT_DATE}}</td>
                    <td>{{element2.list[0].DOCUMENT_NO}}</td>
                    <td>{{element2.list[0].LINE_NO}}</td>
                    <td> <div data-toggle="tooltip" title="{{element2.list[0].ITEM_DESCRIPTION }}">
                      {{element2.list[0].ITEM_CODE}}</div></td>
                    <td>{{element2.list[0].UNIT_OF_MEASURE}}</td>
                    <td>{{element2.list[0].ORDERED_QTY}}</td>
                    <td>{{element2.list[0].DELIVERED_QTY}}</td>
                    <td>{{element2.list[0].DIVISION}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--Row end-->
      </div>
      <!---Container Fluid-->

      <div class="row mb-3 pl-3 pr-3" id="filter" *ngIf="viewGrid">

        <div class="col-sm-12" style="padding-bottom: 10px;">

          <div class='align-items-center justify-content-center d-flex'>
            <span> <select class="form-control" [(ngModel)]="viewCount">
                <option value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
                <option value='50'>50</option>
              </select></span> &nbsp;&nbsp;&nbsp;

            <span style="margin-top: 10px;">
              <pagination-controls class="product-pagination" maxSize="5" (pageChange)="onPageChanged($event)">
              </pagination-controls>
            </span>

          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- Footer -->
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
