.align th{
  text-align: center;
  vertical-align: middle;
  /* border-bottom: 1px grey solid; */
}

/* .aligncell td{
  border-bottom: 1px solid #e3e6f0;
} */

  .product-pagination .ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    text-align: center;
    padding: 10px 5px;
    font-size: 14px;
  }
  .product-pagination .ngx-pagination .current {
    padding: 4px 12px;
    background: grey;
    color: white;
    cursor: default;
    border-radius: 2px;
    line-height: 22px;
  }
  /* .modal{
    top:20%;
  } */

  .dropTiles{
    width: 100%;
  }
  .close{
    margin-top : -40px;
    margin-right :0;
  }

  .cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #ffffff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box;
    cursor: pointer
}

thead {
    background: #dddcdc
}

.table-elipse {
    cursor: pointer
}

#demo1 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s ease-in-out
}

.row-child {
    background-color: #000;
    color: #fff
}


  /* .table tr {
  cursor: pointer;
  } */
    .hedding h1{
  color:#fff;
  font-size:25px;
  }
  .main-section{
  margin-top: 120px;
  }
  .hiddenRow {
  padding: 0 4px !important;
  font-size: 13px;
  }
  .accordian-body span{
  color:#a2a2a2 !important;
  }
.menubutton{
  position: absolute;
  right: 0;
  top: 0px;
}


.dashboard-card p
{
     margin: 0px;
     font-size: 14px;
     color: #333;
}

.card_new span i
{
     font-size: 22px;
     color: #406bff;
}
.icons {
    background: #f0f0f3;
    width: 42px;
    text-align: center;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i {
    font-size: 16px;
    font-weight: 600;
}
.design-one h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.design-one {
    color: #3644ff;
}

.design-two h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.design-two {
    color: #1caf00;
}
.design-3 h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.design-3 {
    color: #fc5b00;
}
.design-4 h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.design-4 {
    color: #19aeff;
}
.dashboard-card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.dashboard11:before, .dashboard11:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
}
.dashboard1:before {
    content: "";
    position: absolute;
    top: -26px;
    right: -15px;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 50%;
}
.dashboard11:before, .dashboard11:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
}
.dashboard1:after {
    content: "";
    position: absolute;
    top: 20px;
    right: -47px;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 50%;
}

 .dashboard1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
 }

.dashboard1 .icons {
    margin-right: 15px;
}

.data-section h3 {
    color: #fff;
}

.data-section p {
    color: #fff;
}


.design-card {
    background: #009688;
    color: #009688;
}

.design-card {
    background: #009688;
    color: #009688;
}
.design-card-1 {
    background: #ff9800;
    color: #ff9800;
}
.design-card-2 {
    background: #f44336;
    color: #f44336;
}
.design-card-3 {
    background: #3f51b5;
    color: #3f51b5;
}
.design-card-5 {
    background: #2196f3;
    color: #2196f3;
}

.design-card-6 {
    background: #e91e63;
    color: #e91e63;
}
.readmore{
  color: #fff;
  font-size: 22px;
  position: absolute;
  right: 25px;
  top: 10px;
}
.searchbox{
  width: 40%;
  height: 0ch;

}
.ngx-pagination li {
  font-size: 20px !important;
  margin: 0px;
  border: 1px solid #ddd;
}

ul.ngx-pagination.ng-star-inserted {
  float: left;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
  padding: 0px !important;
}
.ngx-pagination .current {
  padding: 4px 8px;
  background: #6777ef;
  color: #fefefe;
  cursor: default;
  border: 1px solid #ddd;
}

span.searchbox-section input {
  height: 28px;
  background-color: #f1f1f1 !important;
  /* border-radius: 0px !important; */
  width: 100% !important;
  /* background: url(../images/search.png) no-repeat 1% white; */
  padding-left: 20px;
  padding-right: 11px;
  color: #000 !important;
  background-position: 3%;
  border-radius: 59px;
}
