<div id="wrapper">

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">

        <!--Row start-->
        <div class="row mb-3 " *ngIf = "headersLength >0">
          <div class="col-xl-6 col-lg-6 mb-4">
            <div class="card h-100 mt-5">
              <div class="card-header py-3 d-flex flex-row border-bottom align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Organization</h6>
                <div >
                  <app-common-file-view [headerId]= "headers[0].VENDOR_ID" [type]="'SQM_VENDOR_DOCUMENTS'" [attachmentString]="headers[0].ATTACH_DOCUMENT_STRING"
                  [communicationString]="headers[0].COMMUNICATION_STRING">
                  </app-common-file-view>
                </div>

                <!-- <a class="m-0 float-right btn btn-primary btn-sm " href="javascript:void(0)"
          data-toggle="modal" data-target="#myModal2">Edit <i class="ml-3 fas fa-chevron-right"></i></a> -->
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group c1">
                      <div class="ctrl-label">Legal Name</div>
                      <div class="ctrl-value">{{organization[0].LEGAL_NAME || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Company Type</div>
                      <div class="ctrl-value">{{organization[0].COMPANY_TYPE || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Chief Executive Name</div>
                      <div class="ctrl-value">{{organization[0].CEO || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Incorporation Year / Control Year</div>
                      <div class="ctrl-value">{{organization[0].INCORP_CONTROL_YEAR || '-'}}</div>
                    </div>


                  </div>

                  <div class="col-sm-6">
                    <div class="form-group c1">
                      <div class="ctrl-label">Supplier Name</div>
                      <div class="ctrl-value">{{organization[0].VENDOR_NAME || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Supplier Type</div>
                      <div class="ctrl-value">{{organization[0].SUPPLIER_TYPE || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Year Established</div>
                      <div class="ctrl-value">{{organization[0].YEAR_ESTABLISHED || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Website</div>
                      <div class="ctrl-value">{{organization[0].WEBSITE || '-' }}</div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="card-footer"></div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 mb-4">
            <!-- <div class="card h-100">
              <div class="card-header py-3 d-flex flex-row border-bottom  align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Total Employees</h6>

              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group c1">
                      <div class="ctrl-label">Corporate Total</div>
                      <div class="ctrl-value">{{employees[0].CORPORATE_TOTAL || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Corporate Total Type</div>
                      <div class="ctrl-value">{{employees[0].CORP_TOTAL_TYPE || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Organization Total</div>
                      <div class="ctrl-value">{{employees[0].ORGANIZATION_TOTAL || '-'}}</div>
                    </div>
                    <div class="form-group c1">
                      <div class="ctrl-label">Organization Total Type</div>
                      <div class="ctrl-value">{{employees[0].ORG_TOTAL_TYPE || '-'}}</div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <img src="assets/img/test.jpg" class="img-fluid" />
                  </div>
                </div>
              </div>

              <div class="card-footer"></div>
            </div> -->
            <div class="card h-100 mt-5">
              <div class="card-header py-3 d-flex flex-row border-bottom align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tax And Financial Information</h6>
                <!-- <a class="m-0 float-right btn btn-primary btn-sm " href="javascript:void(0)"
          data-toggle="modal" data-target="#myModal4">Edit <i class="ml-3 fas fa-chevron-right"></i></a> -->
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-striped mb-4 table-bordered">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Tax Payer ID</th>
                            <th>Tax Type</th>
                            <th>Tax Registration Number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of tax; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{element.TAX_PAYER_ID}}</td>
                            <td>{{element.TAX}}</td>
                            <td>{{element.REGISTRATION_NUMBER}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Currency Preference</div>
                      <div class="ctrl-value">{{finance[0].CUR_PREFERENCE || '-'}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Financial Year From</div>
                      <div class="ctrl-value">{{finance[0].FIN_YEAR_FROM || '-'}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Financial Year To</div>
                      <div class="ctrl-value">{{finance[0].FIN_YEAR_TO || '-'}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Annual Revenue</div>
                      <div class="ctrl-value">{{finance[0].ANNUAL_REVENUE | number}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
        </div>

        <div class="row mb-3  ">
          <div class="col-xl-6 col-lg-6 mb-4">
            <!-- <div class="card h-100">
              <div class="card-header py-3 d-flex flex-row border-bottom align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tax And Financial Information</h6>

              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-striped mb-4 table-bordered">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Tax Payer ID</th>
                            <th>Tax Type</th>
                            <th>Tax Registration Number</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of tax; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{element.TAX_PAYER_ID}}</td>
                            <td>{{element.TAX}}</td>
                            <td>{{element.REGISTRATION_NUMBER}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Currency Preference</div>
                      <div class="ctrl-value">{{finance[0].CUR_PREFERENCE || '-'}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Financial Year From</div>
                      <div class="ctrl-value">{{finance[0].FIN_YEAR_FROM || '-'}}</div>
                    </div>
                                    </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Financial Year To</div>
                      <div class="ctrl-value">{{finance[0].FIN_YEAR_TO || '-'}}</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group c1">
                      <div class="ctrl-label">Annual Revenue</div>
                      <div class="ctrl-value">{{finance[0].ANNUAL_REVENUE | number}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer"></div>
            </div> -->
          </div>

           <!-- <a class="m-0 float-right btn btn-primary btn-sm " href="javascript:void(0)"
          data-toggle="modal" data-target="#myModal">Upload Document <i class="ml-3 fas fa-chevron-right"></i></a> -->
          <!-- <div class="col-xl-6 col-lg-6 mb-4">
            <div class="card h-100">
              <div class="card-header py-3 d-flex flex-row border-bottom  align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Attachments</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive" style="overflow-y: auto;height: 300px;">
                      <table class="table table-striped mt-5 table-bordered ">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Document Category</th>
                            <th>File Name</th>


                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of attachments; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{item.TITLE}}</td>
                            <td><a href="javascript:void(0)" (click)="downloadfile(item)"
                                class="text-primary">{{item.FILE_NAME}}</a></td>

                          </tr>
                         <tr>
   <td>2</td>
   <td>Tax Registration</td>
   <td><a href="/assets/test.pdf" class="text-primary">Test.Pdf</a></td>

</tr>
<tr>
   <td>3</td>
   <td>Contract Agreement</td>
   <td><a href="/assets/test.pdf" class="text-primary">Test.Pdf</a></td>

</tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-sm-6">
           <img src="assets/img/test-2.jpg" class="img-fluid" />
        </div>
                </div>
              </div>

              <div class="card-footer"></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- model -->

<div class="modal fade" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Upload File</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">

        <div>
          <div class="form-group">
            <label>Document Category</label>
            <select [(ngModel)]="upload.documentCategory" name="category" class="form-control">
              <option value=''>Select</option>
              <option value="">Control Documents</option>
              <option value="Arrangements">Arrangements</option>
              <option value="System Diagrams and Data Sheets">System Diagrams and Data Sheets</option>
              <option value="Detail Drawings">Detail Drawings</option>
              <option value="Technical Specifications">Technical Specifications</option>
              <option value="Instrument and Electrical Drawings">Instrument and Electrical Drawings</option>
              <option value="Performance data">Performance data</option>
              <option value="Manufacturing and Quality Procedures">Manufacturing and Quality Procedures</option>
              <option value="Commissioning, Operating and Maintenance Information">Commissioning, Operating and
                Maintenance Information</option>
              <option value="Certification">Certification</option>
              <option value="Test and Inspection Reports">Test and Inspection Reports</option>
              <option value="Shipping Documents">Shipping Documents</option>
              <option value="Packing Documents">Packing Documents</option>
              <option value="Non-disclosure Agreement (NDA)">Non-disclosure Agreement (NDA)</option>
              <option value="Supplier Submission Form">Supplier Submission Form</option>
              <option value="Supplier Quality Manual">Supplier Quality Manual</option>
              <option value="Supply Agreement">Supply Agreement</option>
              <option value="Price Agreement">Price Agreement</option>
              <option value="Supplier Change Request">Supplier Change Request</option>

            </select>
          </div>
        </div>

        <div>
          <div class="form-group">
            <label>Description</label>
            <input [(ngModel)]="upload.description" type="text" name="description" class="form-control"
              id="exampleInputFirstName" placeholder=" ">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label>File</label>
            <input type="file" name="file" class="files" (change)="onFilesAdded($event)" #myFileInput
              accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="fileUpload()">Upload</button> &nbsp; -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- model2 -->

<div class="modal fade" id="myModal2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <!-- <h4 class="modal-title">Edit</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Company Type</label>
              <input type="text" [(ngModel)]="organization.COMPANY_TYPE" name='company type' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Supplier Type</label>
              <input type="text" [(ngModel)]="organization.SUPPLIER_TYPE" name="supplier type" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>CEO Name</label>
              <input type="text" [(ngModel)]="organization.CEO" name="ceo name" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Year Established</label>
              <input type="text" [(ngModel)]="organization.YEAR_ESTABLISHED" name='year' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Incorporation Year</label>
              <input type="text" [(ngModel)]="organization.INCORP_CONTROL_YEAR" name="incorp year" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Website</label>
              <input type="text" [(ngModel)]="organization.WEBSITE" name="website" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="updateOrganization()">Update</button> &nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel2()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- model3 -->

<div class="modal fade" id="myModal3">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header">
        <!-- <h4 class="modal-title">Edit</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Corporate Total</label>
              <input type="text" [(ngModel)]="employees.CORPORATE_TOTAL" name='total' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Corporate Total Type</label>
              <input type="text" [(ngModel)]="employees.CORP_TOTAL_TYPE" name="type" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Organization Total</label>
              <input type="text" [(ngModel)]="employees.ORGANIZATION_TOTAL" name='orgtotal' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Organization Total Type</label>
              <input type="text" [(ngModel)]="employees.ORG_TOTAL_TYPE" name="orgtype" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateEmployee()">Update</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel3()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- model4 -->

<div class="modal fade" id="myModal4">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header">
        <!-- <h4 class="modal-title">Edit</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body reg-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Currency Preference</label>
              <input type="text" [(ngModel)]="finance.CUR_PREFERENCE" name='currency' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Financial Year From</label>
              <input type="text" [(ngModel)]="finance.FIN_YEAR_FROM" name="fromyear" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Financial Year To</label>
              <input type="text" [(ngModel)]="finance.FIN_YEAR_TO" name='toyear' class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Annual Revenue</label>
              <input type="text" [(ngModel)]="finance.ANNUAL_REVENUE" name="revenue" class="form-control"
                id="exampleInputFirstName" placeholder=" ">
            </div>
          </div>
        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateFinance()">Update</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel4()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
