/* You can add global styles to this file, and also import other style files */

@import "~angular-notifier/styles";


.goog-logo-link {
    display:none !important;
 }
 
 .goog-te-gadget {
    color: transparent !important;
 }
 
 .goog-te-gadget .goog-te-combo {
    color: blue !important;
 }

 .goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

    .goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.goog-te-gadget-icon{
    display: none !important;
}

.menubutton{
    position: absolute;
    right: 0;
    top: 0px;
  }

  .design-card {
    background: #009688;
    color: #009688;
}
.design-card-1 {
    background: #ff9800;
    color: #ff9800;
}
.design-card-2 {
    background: #f44336;
    color: #f44336;
}
.design-card-3 {
    background: #3f51b5;
    color: #3f51b5;
}
.design-card-5 {
    background: #2196f3;
    color: #2196f3;
}

.design-card-6 {
    background: #e91e63;
    color: #e91e63;
}

/* .dashboard11:before, .dashboard11:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
} */
.dashboard1:before {
    content: "";
    position: absolute;
    top: -26px;
    right: -15px;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 50%;
}
/* .dashboard11:before, .dashboard11:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
} */
.dashboard1:after {
    content: "";
    position: absolute;
    top: 20px;
    right: -47px;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 50%;
}

 .dashboard1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
 }

.dashboard1 .icons {
    margin-right: 15px;
}

.icons {
    background: #f0f0f3;
    width: 42px;
    text-align: center;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i {
    font-size: 16px;
    font-weight: 600;
}

.data-section h3 {
    color: #fff;
}

.data-section p {
    color: #fff;
}

.readmore{
    color: #fff;
    font-size: 22px;
    position: absolute;
    right: 25px;
    top: 10px;
  }

  .searchbox{
    width: 60%;
    height: 0ch;
  
  }
  
  span.searchbox-section input {
    height: 28px;
    background-color: #f1f1f1 !important;
    /* border-radius: 0px !important; */
    width: 100% !important;
    /* background: url(../images/search.png) no-repeat 1% white; */
    padding-left: 20px;
    padding-right: 11px;
    color: #000 !important;
    background-position: 3%;
    border-radius: 59px;
  }