<div *ngIf = "active">
    <div class="row">
    <div  class="col-lg-2"></div>
    <div class="col-lg-8">
    <h3>We have sent an email with a confirmation link to your email address.
    Please click on the link to continue the one time registration process.
    Thank you.</h3>
    </div>
    <div class="col-lg-2"></div>
</div>
</div>

<div *ngIf = "forget">
    <div class="row">
        <div  class="col-lg-2"></div>
        <div class="col-lg-8">
    <h2>We received a request to change the password to your supplier portal
account. You can do so by clicking the link and reset your password.
Thank you.</h2>
</div>
<div class="col-lg-2"></div>
</div>
</div>

<div *ngIf = "active1">
    <div class="row">
        <div  class="col-lg-2"></div>
        <div class="col-lg-8">
    <h2>Congratulations! Your Supplier Portal account has been successfully
activated. Login to <a [routerLink]="['/auth/login']">your page</a> and access the self-service portal. </h2>
</div>
<div class="col-lg-2"></div>
</div>
</div>

<div *ngIf = "forget1">
    <div class="row">
        <div  class="col-lg-2"></div>
        <div class="col-lg-8">
    <h2>Your new Supplier Portal password for your account has been set.
        Login to <a [routerLink]="['/auth/login']">your page</a> and access the self-service portal.</h2>
    </div>
    <div class="col-lg-2"></div>
</div>
</div>