 <div id="wrapper">

    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
             <!-- <div class="d-sm-flex align-items-center justify-content-between mt-3 ">
                <div class="headers">
                   <h1 class="h3 mb-0  page-title">My Infolets</h1>
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="./">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">My Infolets</li>
                   </ol>
                </div>
                <h5>
                   <select class="form-control">
                      <option>SELANGOR</option>
                   </select>
                </h5>
             </div> -->
             <div class="row mb-3">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card h-100">
                      <div class="card-body">
                         <div class="row align-items-center">
                            <div class="col mr-2">
                               <div class="text-xs font-weight-bold text-uppercase mb-1">Pending for PO Acceptance</div>
                               <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="!loader1">{{poCount1}}</div>
                               <div class="spinner-grow text-primary" role="status" *ngIf="loader1">
                                 <span class="sr-only">Loading...</span>
                               </div>
                               <div class="mt-2 mb-0 text-muted text-xs">
                                  <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{number}}%</span> -->
                                  <span>Since Last 30 Days</span>
                               </div>
                            </div>
                            <div class="col-auto">
                               <i class="fas fa-calendar fa-2x text-primary"></i>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Earnings (Annual) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card h-100">
                      <div class="card-body">
                         <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                               <div class="text-xs font-weight-bold text-uppercase mb-1">Pending for PO approval</div>
                               <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="!loader2">{{poCountApprove}}</div>
                               <div class="spinner-grow text-primary" role="status" *ngIf="loader2">
                                 <span class="sr-only">Loading...</span>
                               </div>
                               <div class="mt-2 mb-0 text-muted text-xs">
                                  <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span> -->
                                  <span>Since Last 90 Days</span>
                               </div>
                            </div>
                            <div class="col-auto">
                               <i class="fas fa-shopping-cart fa-2x text-success"></i>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- New User Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card h-100">
                      <div class="card-body">
                         <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                               <div class="text-xs font-weight-bold text-uppercase mb-1">Lead Time</div>
                               <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" *ngIf="!loader3">{{leadTimeCount}} Days</div>
                               <div class="spinner-grow text-primary" role="status" *ngIf="loader3">
                                 <span class="sr-only">Loading...</span>
                               </div>
                               <div class="mt-2 mb-0 text-muted text-xs">
                                  <!-- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span> -->
                                  <span>Since Last 6 Months</span>
                               </div>
                            </div>
                            <div class="col-auto">
                               <i class="fas fa-users fa-2x text-info"></i>
                            </div>
                         </div>
                      </div>

                   </div>
                </div>
                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                   <div class="card h-100">
                      <div class="card-body">
                         <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                               <div class="text-xs font-weight-bold text-uppercase mb-1"> Defect Rate</div>
                               <div class="h5 mb-0 font-weight-bold text-gray-800" *ngIf="!loader4">{{defectRateCount}}%</div>
                               <div class="spinner-grow text-primary" role="status" *ngIf="loader4">
                                 <span class="sr-only">Loading...</span>
                               </div>
                               <div class="mt-2 mb-0 text-muted text-xs">
                                  <!-- <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span> -->
                                  <span>Since Last 6 Months</span>
                               </div>
                            </div>
                            <div class="col-auto">
                               <i class="fas fa-comments fa-2x text-warning"></i>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Area Chart -->
                <!-- For demo purpose -->
                <!-- END -->
                <div class="col-xl-3 col-lg-6 mb-4 test" >
                   <div class="bg-white rounded-lg p-3 shadow">
                      <h2 class="h6 font-weight-bold text-center mb-3">Pending for Invoice</h2>
                      <!-- Progress bar 1 -->
                      <div class="mb-4" style="text-align: center;" *ngIf="!loader5">
                        <circle-progress
                        [percent]="pendingInoiceCount"
                        [titleFontSize]="25"
                        [titleFontWeight]="600"
                        [title]="pendingInoiceCount"
                        [outerStrokeGradient]="'false'"
                        [outerStrokeColor]="'#6777ef'"
                       [outerStrokeGradientStopColor]="'#6777ef'"
                        [unitsFontSize]="22"
                        >
                       </circle-progress>
                     </div>
                     <div class="text-center" *ngIf="loader5">
                     <div class="spinner-border m-5 text-primary" role="status" >
                        <span style="text-align: center;" class="sr-only">Loading...</span>
                      </div>
                      </div>
                      <!-- END -->
                      <!-- Demo info -->
                      <!-- <div class="row text-center mt-4">
                         <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">30%</div>
                            <span class="small text-gray">Last week</span>
                         </div>
                         <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div>
                            <span class="small text-gray">Last month</span>
                         </div>
                      </div> -->
                      <!-- END -->
                   </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4 test">
                   <div class="bg-white rounded-lg p-3 shadow">
                      <h2 class="h6 font-weight-bold text-center mb-3">Pending for Payments</h2>
                      <!-- Progress bar 2 -->
                      <div class="mb-4" style="text-align: center;" *ngIf ="!loader6">
                        <circle-progress
                        [percent]="pendingForPaymentsCount"
                        [titleFontSize]="25"
                        [titleFontWeight]="600"
                        [title]="pendingForPaymentsCount"
                        [outerStrokeGradient]="'false'"
                        [outerStrokeColor]="'#fc544b'"
                       [outerStrokeGradientStopColor]="'#fc544b'"

                        [unitsFontSize]="22"
                        >
                       </circle-progress>
                     </div>
                     <div class="text-center" *ngIf="loader6">
                        <div class="spinner-border m-5 text-primary" role="status" >
                           <span style="text-align: center;" class="sr-only">Loading...</span>
                         </div>
                         </div>
                      <!-- END -->
                      <!-- Demo info-->
                      <!-- <div class="row text-center mt-4">
                         <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div>
                            <span class="small text-gray">Last week</span>
                         </div>
                         <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div>
                            <span class="small text-gray">Last month</span>
                         </div>
                      </div> -->
                      <!-- END -->
                   </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4 test">
                   <div class="bg-white rounded-lg p-3 shadow">
                      <h2 class="h6 font-weight-bold text-center mb-3">Immediate Attention Required</h2>
                      <!-- Progress bar 3 -->
                      <div class="mb-4" style="text-align: center; padding-top: 15px;" *ngIf="!loader7">
                        <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [options]='chartOptions'
                        >
                        </canvas>

                     </div>
                     <div class="text-center" *ngIf="loader7">
                        <div class="spinner-border m-4 text-primary" role="status" >
                           <span style="text-align: center;" class="sr-only">Loading...</span>
                         </div>
                         </div>

                      <!-- END -->
                      <!-- Demo info -->
                      <!-- <div class="row text-center mt-4" style="padding-top: 10px;">
                         <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div>
                            <span class="small text-gray">Last week</span>
                         </div>
                         <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div>
                            <span class="small text-gray">Last month</span>
                         </div>
                      </div> -->
                      <!-- END -->
                   </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4 test">
                   <div class="bg-white rounded-lg p-3 shadow">
                      <h2 class="h6 font-weight-bold text-center mb-3">Supplier Communications</h2>
                      <!-- Progress bar 4 -->
                      <div class="mb-4" style="text-align: center;">
                        <circle-progress
                        [percent]="number"
                        [titleFontSize]="25"
                        [titleFontWeight]="600"
                        [title]="number"
                        [outerStrokeGradient]="'false'"
                        [outerStrokeColor]="'#ffa426'"
                       [outerStrokeGradientStopColor]="'#ffa426'"

                        [unitsFontSize]="22"

                        >
                       </circle-progress>
                     </div>
                      <!-- END -->
                      <!-- Demo info -->
                      <!-- <div class="row text-center mt-4">
                         <div class="col-6 border-right">
                            <div class="h4 font-weight-bold mb-0">28%</div>
                            <span class="small text-gray">Last week</span>
                         </div>
                         <div class="col-6">
                            <div class="h4 font-weight-bold mb-0">60%</div>
                            <span class="small text-gray">Last month</span>
                         </div>
                      </div> -->
                      <!-- END -->
                   </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                   <div class="card mb-4">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                         <h6 class="m-0 font-weight-bold text-primary">Earnings</h6>
                         <!-- <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                               aria-labelledby="dropdownMenuLink">
                               <div class="dropdown-header">Dropdown Header:</div>
                               <a class="dropdown-item" href="#">Action</a>
                               <a class="dropdown-item" href="#">Another action</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item" href="#">Something else</a>
                            </div>
                         </div> -->
                      </div>
                      <div class="card-body">
                         <div class="chart-area" *ngIf="!graphload && flag">
                            <canvas id="myAreaChart"
                            baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
                            ></canvas>
                         </div>
                         <div class="text-center" *ngIf="graphload">
                           <div class="spinner-border m-3 text-primary" role="status" >
                              <span style="text-align: center;" class="sr-only">Loading...</span>
                            </div>
                            </div>
                      </div>
                   </div>
                </div>
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                   <div class="card mb-4">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                         <h6 class="m-0 font-weight-bold text-primary">Products Sold</h6>
                         <div class="dropdown no-arrow">
                            <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{selectedLineType}} <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                               aria-labelledby="dropdownMenuLink">
                               <div class="dropdown-header">Select Period</div>
                               <a class="dropdown-item" [class.active]="selectedLineType ==='Today'" href="javascript:void(0)" (click)="selectLineType('Today')">Today</a>
                               <a class="dropdown-item" [class.active]="selectedLineType ==='Week'" href="javascript:void(0)" (click)="selectLineType('Week')">Week</a>
                               <a class="dropdown-item" [class.active]="selectedLineType ==='Month'" href="javascript:void(0)" (click)="selectLineType('Month')">Month</a>
                               <!-- <a class="dropdown-item" [class.active]="selectedLineType ==='Year'" href="javascript:void(0)" (click)="selectLineType('Year')">Year</a> -->
                               <!-- <a class="dropdown-item" href="#">This Year</a> -->
                            </div>
                         </div>
                      </div>
                      <div class="card-body" *ngIf="!lineload">
                        <div *ngIf="showLineData.length === 0" style="align-self: center;">
                           <p class="text-gray mr-2 text-center" >No Products Sold</p>
                        </div>
                          <div class="mb-3" *ngFor="let item of showLineData;let in=index;">
                            <div class="small text-gray-500">
                               {{item.ITEM}}
                               <div *ngIf="selectedLineType ==='Today'" class="small float-right"><b>{{item.DAY_SALE}}</b></div>
                               <div *ngIf="selectedLineType ==='Week'" class="small float-right"><b>{{item.WEEK_SALE}}</b></div>
                               <div *ngIf="selectedLineType ==='Month'" class="small float-right"><b>{{item.MONTH_SALE}}</b></div>
                               <div *ngIf="selectedLineType ==='Year'" class="small float-right"><b>{{item.YEAR_SALE}}</b></div>
                            </div>
                            <div class="progress" *ngIf="selectedLineType ==='Year'" style="height: 12px;">
                               <div class="progress-bar" [ngClass]="classes[in]" role="progressbar" [style.width]="((item.YEAR_SALE)*100/maxProValue) + '%'" aria-valuenow="percent"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress" *ngIf="selectedLineType ==='Month'" style="height: 12px;">
                              <div class="progress-bar" [ngClass]="classes[in]" role="progressbar" [style.width]="((item.MONTH_SALE)*100/maxProValue) + '%'" aria-valuenow="percent"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                           <div class="progress" *ngIf="selectedLineType ==='Week'" style="height: 12px;">
                              <div class="progress-bar" [ngClass]="classes[in]" role="progressbar" [style.width]="((item.WEEK_SALE)*100/maxProValue) + '%'" aria-valuenow="percent"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                           <div class="progress" *ngIf="selectedLineType ==='Today'" style="height: 12px;">
                              <div class="progress-bar" [ngClass]="classes[in]" role="progressbar" [style.width]="((item.DAY_SALE)*100/maxProValue) + '%'" aria-valuenow="percent"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </div>
                         <!-- <div class="mb-3">
                            <div class="small text-gray-500">
                               Immediate Attention Required
                               <div class="small float-right"><b>600 of 800 Items</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                               <div class="progress-bar bg-warning" role="progressbar" [style.width]="number + '%'" aria-valuenow="percent"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                         </div> -->
                         <!-- <div class="mb-3">
                            <div class="small text-gray-500">
                               Supplier Communications
                               <div class="small float-right"><b>500 of 800 Items</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                               <div class="progress-bar bg-success" role="progressbar" [style.width]="number + '%'"  aria-valuenow="70"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                         </div>
                         <div class="mb-3">
                            <div class="small text-gray-500">
                               Recent Activity (Last 10 Days)
                               <div class="small float-right"><b>455 of 800 Items</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                               <div class="progress-bar bg-danger" role="progressbar" [style.width]="number + '%'"  aria-valuenow="55"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                         </div>
                         <div class="mb-3">
                            <div class="small text-gray-500">
                               Transaction Reports (Last 10 Days)
                               <div class="small float-right"><b>400 of 800 Items</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                               <div class="progress-bar bg-info" role="progressbar" [style.width]="number + '%'"  aria-valuenow="50"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                         </div>
                         <div class="mb-3">
                            <div class="small text-gray-500">
                               Transaction Reports (Last 10 Days)
                               <div class="small float-right"><b>200 of 800 Items</b></div>
                            </div>
                            <div class="progress" style="height: 12px;">
                               <div class="progress-bar bg-success" role="progressbar" [style.width]="number + '%'"  aria-valuenow="30"
                                  aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                         </div> -->
                      </div>
                      <div class="card-body" *ngIf="lineload" style="align-content: center;align-items: center;align-self: center;">
                        <div class="spinner-border m-5  text-primary" role="status" >
                           <span style="text-align: center;" class="sr-only">Loading...</span>
                         </div>
                      </div>

                      <!-- <div class="card-footer text-center">
                         <a class="m-0 small text-primary card-link" href="#">View More <i
                            class="fas fa-chevron-right"></i></a>
                      </div> -->
                   </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->

                <!-- Invoice Example -->
                <div class="col-xl-12 col-lg-12 mb-4" *ngIf="showHide">
                   <div class="card">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                         <h6 class="m-0 font-weight-bold text-primary">Recent Payments</h6>
                         <!-- <a class="m-0 float-right btn btn-danger btn-sm" href="#">View More <i
                            class="fas fa-chevron-right"></i></a> -->
                      </div>
                      <div class="table-responsive">
                         <table class="table align-items-center table-flush" id="recent" >
                            <thead class="thead-light">
                               <tr>
                                  <th>Invoice No</th>
                                  <th>Invoice Date</th>
                                  <th>Payment Reference No</th>
                                  <th>Payment Date</th>
                                  <th>Payment Method</th>
                                  <th>Currency</th>
                                  <th class="text-right">Amount Paid</th>
                                  <th>UTR No.</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let item of recentPurchase.slice(0, 5)">
                                  <td>{{item.INVOICE_NUM}}</td>
                                  <td>{{item.INVOICE_DATE}}</td>
                                  <td>{{item.PAYMENT_REF_NUMBER}}</td>
                                  <td>{{item.PAYMENT_DATE}}</td>
                                  <td>{{item.PAYMENT_METHOD}}</td>
                                  <td>{{item.CURRENCY}}</td>
                                  <td class="text-right">{{item.AMOUNT_PAID | numberFormatting }}</td>
                                  <td>{{item.UTR_NUMBER}}</td>
                                  <!-- <td><a href="javascript:void(0)" class="btn btn-sm btn-primary">Detail</a></td> -->
                               </tr>
                            </tbody>
                         </table>
                      </div>
                      <div class="card-footer"></div>
                   </div>
                </div>
                <!-- Message From Customer-->

             </div>
             <!--Row-->
          </div>
          <!---Container Fluid-->
       </div>

    </div>
 </div>
<!-- Scroll to top -->
 <a class="scroll-to-top rounded" (click)="gotoTop()" href="#page-top">
    <i class="fas fa-angle-up"></i>
    </a>
