<div id="content-wrapper"  >
   <div id="content"  >
      <div class="container-fluid" id="container-wrapper"  >
         <div class="d-sm-flex align-items-center justify-content-between  ">
            <div class="headers">
               <h1 class="h3 mb-0  page-title">{{title}}</h1>
               <ol class="breadcrumb">
                <!-- [routerLink]="'/craftsmanautomation/dashboard'" -->
                  <li class="breadcrumb-item"><a (click)="clickBreadcrumbs()">Home</a></li>
                  <li class="breadcrumb-item" *ngIf="breadcrumbs?.parentBreadcrumb">{{breadcrumbs?.parentBreadcrumb}}
                  </li>
                  <li class="breadcrumb-item active" *ngIf="breadcrumbs?.childBreadcrumb">
                     {{breadcrumbs?.childBreadcrumb}}
                  </li>
               </ol>
            </div>
            <div class="row d-none d-sm-flex" style="width: 60%;">
               <h5  class="col-lg-4"></h5>
               <h5 class="col-lg-4 ">
                  <select class="form-control" [(ngModel)]="breadCrumService.select1" (change)="onFirstSelect(breadCrumService.select1)">
                     <option value='All' selected >All Buyer Units</option>
                     <!-- *ngIf="buyerList.length > 1 " -->
                     <!-- <option *ngFor="let item of breadCrumService.selectValues" [value]="item.ERP_ORGANIZATION_NAME">{{item.ERP_ORGANIZATION_NAME}}</option> -->
                     <option *ngFor="let item of buyerList" [value]="item">{{item}}</option>
                  </select>
                  <!-- <label>Buyer Units</label>
                  <input class="form-control" list="select1" [value]="breadCrumService.select1"
                     (keyup)="onFirstSelect($event)">
                  <datalist id="select1">
                     <select>
                        <option value='All'>All</option>
                        <option *ngFor="let item of breadCrumService.selectValues"
                           [ngValue]="item.ERP_ORGANIZATION_NAME">{{item.ERP_ORGANIZATION_NAME}}</option>
                     </select>
                  </datalist> -->



               </h5>

               <!-- <h5 *ngIf = "accountType==='SUPPLIER'" class="col-lg-4 form-group">
                  <label>Suppliers</label>
                  <input class="form-control" list="select2" [value]="breadCrumService.select2"
                     (keyup)="onSecondSelect($event)">
                  <datalist id="select2">
                     <select>
                        <option value='All'>All</option>
                        <option *ngFor="let item of selectTwoValues" [ngValue]="item">{{item}}</option>
                     </select>
                  </datalist>
                  <select class="form-control" [(ngModel)]="breadCrumService.select2" (change)="onSecondSelect(breadCrumService.select2)">
                     <option value='All'>All Suppliers</option>
                     <option *ngFor="let item of selectTwoValues" [value]="item">{{item}}</option>
                  </select>
               </h5> -->
               <div class="col-lg-4 ">

                  <!-- <label>Locations</label>
                  <input class="form-control" list="select3" [value]="breadCrumService.select3"
                     (keyup)="onThirdSelect($event)">
                  <datalist id="select3">
                     <select>
                        <option value='All'>All</option>
                        <option *ngFor="let item of selectThreeValues" [ngValue]="item">{{item}}</option>
                     </select>
                  </datalist> -->

                  <select class="form-control" [(ngModel)]="breadCrumService.select3" (change)="onThirdSelect(breadCrumService.select3)"
                  [disabled] ="breadCrumService.select1 ==='All'">
                     <option value='All' selected>All Locations</option>
                     <option *ngFor="let item of selectThreeValues" [value]="item">{{item}}</option>
                  </select>
               </div>
            </div>
            <div class="row d-sm-none justify-content-center">
               <h5 class="col-lg-4" style="width: 80%;">
               </h5>
               <h5 class="col-lg-4" style="width: 80%;">
                  <!-- <label>Buyer Units</label>
                  <input class="form-control" list="select1" [value]="breadCrumService.select1"
                     (keyup)="onFirstSelect($event)">
                  <datalist id="select1">
                     <select>
                        <option value='All'>All</option>
                        <option *ngFor="let item of breadCrumService.selectValues"
                           [ngValue]="item.ERP_ORGANIZATION_NAME">{{item.ERP_ORGANIZATION_NAME}}</option>
                     </select>
                  </datalist> -->
                  <select class="form-control" [(ngModel)]="breadCrumService.select1" (change)="onFirstSelect(breadCrumService.select1)">
                     <option value='All' selected>All Buyer Units</option>
                     <option *ngFor="let item of breadCrumService.selectValues" [value]="item.ERP_ORGANIZATION_NAME">{{item.ERP_ORGANIZATION_NAME}}</option>

                  </select>
               </h5>
               <!-- <h5  class="col-lg-4" style="width: 80%;">
                  <label>Suppliers</label>
                  <input class="form-control" list="select2" [value]="breadCrumService.select2"
                     (keyup)="onSecondSelect($event)">
                  <datalist id="select2">
                     <select>
                        <option value='All'>All</option>
                        <option *ngFor="let item of selectTwoValues" [ngValue]="item">{{item}}</option>
                     </select>
                  </datalist>
                  <select class="form-control" [(ngModel)]="breadCrumService.select2" (change)="onSecondSelect(breadCrumService.select2)">
                     <option value='All'>All Suppliers</option>
                     <option *ngFor="let item of selectTwoValues" [value]="item">{{item}}</option>
                  </select>
               </h5> -->
               <h5 class="col-lg-4" style="width: 80%;">
                  <!-- <label>Locations</label>
                  <input class="form-control" list="select3" [value]="breadCrumService.select3"
                     (keyup)="onThirdSelect($event)">
                  <datalist id="select3">
                     <select>
                        <option value='All'>All</option>
                        <option *ngFor="let item of selectThreeValues" [ngValue]="item">{{item}}</option>
                     </select>
                  </datalist> -->
                  <select class="form-control" [(ngModel)]="breadCrumService.select3" (change)="onThirdSelect(breadCrumService.select3)">
                     <option value='All'>All Locations</option>
                     <option *ngFor="let item of selectThreeValues" [value]="item">{{item}}</option>
                  </select>
               </h5>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- <div class="d-block d-sm-none" style="margin-top: 5rem;"></div> -->
