
.wizard.card {
    padding: 30px;
}

.wizard > div.wizard-inner {
    position: relative;
    text-align: center;
}


.card .card-body {
    padding: 1.875rem 1.875rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}
.tab-content {
    border: 1px solid #f1f6f8;
    border-top: 0;
    padding: 2rem 1rem;
    text-align: justify;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}
.tab-content > .active {
    display: block;
}

.tab-content > .tab-pane {
    display: none;
}


.form-group {
    margin-bottom: 1.5rem;
}
.form-group {
    margin-bottom: 1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 63%;
    margin: 0 auto;
    left: 25px;
    right: 0;
    top: 45px;
    z-index: 1;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: 1px solid #ebedf2;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.wizard .nav-tabs > li {
    width: 33%;
}

.pull-right {
    float: right;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}


.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
.wizard .nav-tabs > li a:hover {
    background: transparent;
}
.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
a:hover {
    text-decoration: none;
}

.wizard li.active span.round-tab {
    background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}
span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
.wizard .nav-tabs > li.active > a i {
    color: #0db02b;
}
.wizard .nav-tabs > li a i {
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}


.form-group label {
    font-size: 1rem;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: .5rem;
}
label {
    display: inline-block;
}
form {
    display: block;
    margin-top: 0em;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}
.tab-content > .active {
    display: block;
}


button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.next-step {
    background-color: #005baa;
    color: #ffff;
}
.prev-step, .next-step {
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.card-headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #eaecf4;
}

.pull-right {
    float: right;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.list-inline li {
    display: inline-block;
}