<div id="wrapper">
    <!-- Sidebar -->
 
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
       <div id="content">
        <div class="container-fluid" id="container-wrapper">

<div class="row d-flex justify-content-center">

    <div class="col-md-12">

        <div class="wizard card">

            <div class="wizard-inner card-body">

                <div class="connecting-line"></div>

                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active"> <a href="#step1" data-toggle="tab" aria-controls="step1"
                            role="tab" aria-expanded="true"><span class="round-tab">1 </span> <i>Select Purchase
                                Orders</i></a>
                    </li>

                    <li role="presentation" class="disabled"> <a href="#step2" data-toggle="tab" aria-controls="step2"
                            role="tab" aria-expanded="false"><span class="round-tab">2</span> <i>Enter Invoice
                                Details</i></a>
                    </li>

                    <!-- <li role="presentation" class="disabled"> <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"><span class="round-tab">3</span> <i>Ordered Items</i></a> </li> -->

                    <li role="presentation" class="disabled"> <a href="#step3" data-toggle="tab" aria-controls="step3"
                            role="tab"><span class="round-tab">3</span> <i>Review Invoice Details</i></a> </li>

                </ul>

            </div>

            <form role="form" action="index.html" class="login-box">

                <div class="tab-content" id="main_form">

                    <div class="tab-pane active" role="tabpanel" id="step1">

                        <div class="row mt-3 ">
                            <div class="pl-3 pr-3 w-100">
                            <h5 class="text-primary">Added Purchase Lines  <button class="float-right btn btn-primary  btn-sm" data-toggle="modal" data-target="#myModal1" data-backdrop="static" type="submit" value="Add Location" (click)="AddLineCalled()">Add Purchase Order</button> 
                            </h5>
                      
                            
                          </div>
      
                          <div class="table-responsive p-3">
                             <table class="table table-bordered" id="listtest">
      <thead class="thead-light">
      <tr>
       <th>Purchase Order No</th>
       <th>Line No</th>
       <th>Shipment No</th>    
       <th>Item</th>
       <th>Price</th>
       <th>PO Quantity</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">DO Number</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivery Number</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivery Date</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivered Quantity</th>
       <th>Quantity Billed</th>
       <th>Invoice Quantity</th>
       <th>Action</th>

      </tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let item of invoiceLines ">
          <td>{{item.DOCUMENT_NO}}</td>
          <td>{{item.PO_LINE_NUMBER}} </td>
          <td>{{item.PO_SHIPMENT_NUMBER}}</td>
          <td>{{item.PO_LINE_ITEM}}</td>
          <td>{{item.PRICE | number}}</td>
          <td>{{item.ORDERED_QTY | number}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DO_NUMBER}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERY_ORDER_NO}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERY_ORDER_DATE}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERED_QTY | number}}</td>
          <td>{{item.BILLED_QUANTITY | number}}</td>
        
          <td>{{item.QUANTITY | number}}</td>
          <!-- <td> <img src="assets/img/track.png" class="img-print" data-toggle="tooltip" title="" data-original-title="Download "></td> -->
          <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal1" data-backdrop="static" (click)="editLine(item)"><i class="fas fa-pen  text-grey"></i></a> &nbsp; &nbsp; &nbsp;<a href="javascript:void(0)" (click)="deleteLine(item)"> <i class="fas fa-trash   text-red"> </i> </a></td>
         </tr>
      <!-- <tr>
       <td>142021470</td>
       <td>2 </td>
       <td>1</td>
       <td>B0824-02-03-SE-US</td>
       <td>10655</td>
       <td>Pieces</td>
       <td>7000</td>
       <td>Sitiwan,Malaysia</td>
       <td>5000</td>
       <td> <img src="assets/img/track.png" class="img-print" data-toggle="tooltip" title="" data-original-title="Download "></td>
       <td><i class="fas fa-pen  text-grey"></i> &nbsp; &nbsp; &nbsp; <i class="fas fa-trash   text-red"></i></td>
      </tr>
      <tr>
       <td>142021470</td>
       <td>4 </td>
       <td>1</td>
       <td>B0824-02-01-SE-US</td>
       <td>7605</td>
       <td>Pieces</td>
       <td>0</td>
       <td>Sitiwan,Malaysia</td>
       <td>1000</td>
       <td> <img src="img/track.png" class="img-print" data-toggle="tooltip" title="" data-original-title="Download "></td>
       <td><i class="fas fa-pen  text-grey"></i> &nbsp; &nbsp; &nbsp; <i class="fas fa-trash   text-red"></i></td>
      </tr> -->
      </tbody>
      </table>
                          </div>
      
      
      
      
                      </div>

                        <div class="form-group row">
                            <!-- <div class="col-sm-4">

                                <label>Remarks <span class="mandatory">*</span> </label>

                                <div id="bloodhound">

                                    <input class="typeahead" type="text" name="ref" placeholder="Remarks"
                                        id="txt_remarks" [(ngModel)]="remarks" /> </div>

                            </div> -->

                        </div>

                        <ul class="list-inline pull-right">

                            <li>

                                <button type="button" [disabled]="!(invoiceLines.length>0)" class="default-btn next-step">Continue </button>

                            </li>

                        </ul>

                    </div>

                    <div class="tab-pane" role="tabpanel" id="step2">
                        <div class='card' style="padding: 10px;">
                          <form #invoiceForm="ngForm">
                            <div class="row m-2">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Invoice Number</label>
                                        <input  type="text" class="form-control ud" [(ngModel)]="createInv.INVOICE_NUMBER" name="invno" id="exampleInputFirstName" placeholder="Invoice Number "  required>
        
                                    
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Invoice Date</label>
                                             <div class='input-group date' id='datetimepicker1'>
                                       <input id="datepicker2" name="date" [(ngModel)]="createInv.INVOICE_DATE" width="276" required/>
                                    </div>
                                </div>
                                    </div>
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <input  type="text" class="form-control ud" [(ngModel)]="createInv.CURRENCY" name="currency" id="exampleInputFirstName" placeholder="Currency " readonly required>
                                        
                                        </div>
                                    </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                        <label>Invoice Amount</label>
                                        <input type="number" class="form-control ud" [(ngModel)]="createInv.INVOICE_AMOUNT" name="amount" id="exampleInputFirstName" placeholder="Enter Amount " required>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" class="form-control ud" [(ngModel)]="createInv.DESCRIPTION" id="exampleInputFirstName" placeholder=" " name="description" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                      <label>Additional Notes</label>
                                      <input type="text" class="form-control ud" [(ngModel)]="createInv.ADDITIONAL_NOTES" id="exampleInputFirstName" placeholder=" " name="ADDITIONAL_NOTES">
                                    </div>
                                </div>
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                      <label>File</label>
                                  <input type="file" name="file" class="files" (change)="onFilesAdded($event)"
                                  #myFileInput accept="image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                                </div>
                              </div>          
                         
                                


                                <!-- <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Item</label>
                                        <input class="form-control js-example-basic-single" list="selectPO"
                                            [value]='currentpurchaseList.CUSTOMER_ITEM_NUMBER' (keyup)="setItem($event.target.value)"
                                            id="documentNo">
                                        <datalist id="selectPO">
                                            <select>
                                                <option *ngFor="let item of itemList" [value]='item.CUSTOMER_ITEM_NUMBER'>{{item.CUSTOMER_ITEM_DESC}}
                                                </option>
                                            </select>
                                        </datalist>
                                    </div>
                                </div> -->

                                <!-- <div class="col-sm-1">
                                    <div class="form-group">
                                        <label>UOM</label>
                                        <input class="form-control" placeholder="UOM" name='uom'
                                        [(ngModel)]='currentpurchaseList.UOM' readonly>
                                     
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-1">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input class="form-control" placeholder="Quantity" name='qty'
                                            [(ngModel)]='currentpurchaseList.QUANTITY'>
                                    </div>
                                </div> -->

                                <!-- <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Pack Size</label>
                                        <input class="form-control" placeholder="Pack Size" name="pac"
                                            [(ngModel)]='currentpurchaseList.PACK_SIZE'>
                                    </div>
                                </div> -->

                                <!-- <div class='col-md-2'>
                                    <div class="form-group">
                                        <label class="control-label">Need By Date</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input id="datepicker1" width="276" />
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-1">
                                    <div class="form-group">
                                        <label class="control-label" style="text-align: right;">Actions</label>
                                        <div>
                                    <a href="javascript:void(0)"class="text-primary" (click)="addPurchanseList()">
                                    <i style = "font-size: 25px;padding-left: 10px;" class='mdi mdi-cart' data-toggle="tooltip" title="Add to Cart"></i>
                                    </a>
                                    </div>
                                    </div>
                                  
                                </div> -->

                            </div>
                            </form>

                        </div>


                      

                        <ul class="list-inline pull-right">

                            <li>

                                <button type="button" class="default-btn prev-step">Back</button>

                            </li>

                            &nbsp; &nbsp;

                            <li>

                                <button type="button" class="default-btn next-step" [disabled]="!invoiceForm.valid || !(createInv.FILE_NAME.length>0)">Continue</button>

                            </li>

                        </ul>

                    </div>

                    <!-- <div class="tab-pane" role="tabpanel" id="step3">

              <div class="table-responsive">

                <table class="table table-bordered header-grey mt-2 order-table" id="Tbl_OrderItemDet">

                  <thead>

                    <tr>

                      <th>Line No</th>

                      <th>Product Group</th>

                      <th>Item</th>

                      <th>UOM</th>

                      <th style="text-align: right; width: 100px;">Qty</th>

                      <th>Need By Date</th>

                      <th>Actions</th>

                    </tr>

                  </thead>

                  <tbody>

                    <tr>

                      <td colspan="7">No Records Found</td>

                    </tr>

                  </tbody>

                </table>

              </div>

              <ul class="list-inline pull-right">

                <li>

                  <button type="button" class="default-btn prev-step">Back</button>

                </li>

                 

                <li>

                  <button type="button" class="default-btn next-step">Continue</button>

                </li>

              </ul>

            </div> -->

                    <div class="tab-pane" role="tabpanel" id="step3">

                        <div class="row">

                            <div class="card-headers m-2">

                                 <div class="invoice-status">

                                    <div class="invoice-Date mb-2"><span class="font-1 color-1 min-w-50 mb-2">Invoice
                                            No :</span><span class="font-2 color-2 capitalize"
                                            id="Sp_CustPoRefNo">{{createInv.INVOICE_NUMBER}}</span> </div>

                                            <span class="font-1 color-1 min-w-50">Invoice Date :</span><span
                                            class="font-2 color-2 font-weight" id="Sp_OrderDt">{{createInv.INVOICE_DATE}}</span>

                                </div> 

                                 <div class="invoice-status min-w-50 ">

                                    <div class="invoice-Date mb-2"><span class="font-1 color-1 min-w-50 mb-2">Invoice Amount :</span><span
                                            class="font-2 color-2" id="Sp_ShipTo">{{createInv.INVOICE_AMOUNT}} </span> </div>



                                    <span class="font-1 color-1 min-w-50">Currency :</span><span
                                        class="font-2 color-2 font-weight" id="Sp_OrderDt">{{createInv.CURRENCY}}</span>

                                </div> 

                                 <div class="invoice-status">

                                    <div class="invoice-Date mb-2"><span class="font-1 color-1 min-w-50 mb-2">Description :</span><span
                                            class="font-2 color-2" id="Sp_BillTo">{{
                                                createInv.DESCRIPTION
                                            }}</span></div> 
                                            <!-- <span
                                        class="font-1 color-1 min-w-50">Remarks </span><span class="font-2 color-2"
                                        id="Sp_Remarks">{{''}}</span> -->
                                </div> 

                            </div>

                        </div>

                        <div class="table-responsive p-3">
                            <table class="table table-bordered" id="listtest">
     <thead class="thead-light">
     <tr>
      <th>Purchase Order No</th>
      <th>Line No</th>
      <th>Shipment No</th>    
      <th>Item</th>
      <th>Price</th>
      <th>PO Quantity</th>
      <th *ngIf= "invoiceMode === 'PO-GR-INV'">DO Number</th>
      <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivery Number</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivery Date</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivered Quantity</th>
      <th>Quantity Billed</th>
      <th>Invoice Quantity</th>

     </tr>
     </thead>
     <tbody>
     
       <tr *ngFor="let item of invoiceLines ">
         <td>{{item.DOCUMENT_NO}}</td>
         <td>{{item.PO_LINE_NUMBER}} </td>
         <td>{{item.PO_SHIPMENT_NUMBER}}</td>
         <td>{{item.PO_LINE_ITEM}}</td>
         <td>{{item.PRICE | number}}</td>
         <td>{{item.ORDERED_QTY | number}}</td>
         <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DO_NUMBER}}</td>
         <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERY_ORDER_NO}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERY_ORDER_DATE}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERED_QTY | number}}</td>
         <td>{{item.BILLED_QUANTITY | number}}</td>
       
         <td>{{item.QUANTITY | number}}</td>
         <!-- <td> <img src="assets/img/track.png" class="img-print" data-toggle="tooltip" title="" data-original-title="Download "></td> -->
        </tr>
     <!-- <tr>
      <td>142021470</td>
      <td>2 </td>
      <td>1</td>
      <td>B0824-02-03-SE-US</td>
      <td>10655</td>
      <td>Pieces</td>
      <td>7000</td>
      <td>Sitiwan,Malaysia</td>
      <td>5000</td>
      <td> <img src="assets/img/track.png" class="img-print" data-toggle="tooltip" title="" data-original-title="Download "></td>
      <td><i class="fas fa-pen  text-grey"></i> &nbsp; &nbsp; &nbsp; <i class="fas fa-trash   text-red"></i></td>
     </tr>
     <tr>
      <td>142021470</td>
      <td>4 </td>
      <td>1</td>
      <td>B0824-02-01-SE-US</td>
      <td>7605</td>
      <td>Pieces</td>
      <td>0</td>
      <td>Sitiwan,Malaysia</td>
      <td>1000</td>
      <td> <img src="img/track.png" class="img-print" data-toggle="tooltip" title="" data-original-title="Download "></td>
      <td><i class="fas fa-pen  text-grey"></i> &nbsp; &nbsp; &nbsp; <i class="fas fa-trash   text-red"></i></td>
     </tr> -->
     </tbody>
     </table>
                         </div>
     

                        <div class="col-sm-12">

                            <div class="checkbox">

                                <!-- <label>

                                    <input type="checkbox" title="I hereby Confirm the text" id="Chk_Confirm"  name="check" [(ngModel)]='checkValue' />  I hereby
                                    confirm the following order has to be made</label> -->

                            </div>

                        </div>

                        <ul class="list-inline pull-right">

                            <li>

                                <button type="button" class="default-btn prev-step">Back</button>

                            </li>
                            &nbsp; &nbsp;

                            <li>

                                <button type="button" name="submmit" [disabled]="!(invoiceLines.length>0)" (click)="saveInvoice()"
                                    class="default-btn next-step submitBut">Submit</button>

                            </li>

                        </ul>

                    </div>

                    <div class="clearfix"></div>

                </div>

            </form>

        </div>

    </div>

</div>


<div class="modal fade" id="myModal1">
    <div class="modal-dialog  modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-primary">Invoice Line Details</h4>
          <button type="button" class="close" (click)="onModelClose()" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body reg-form">
          <div class="row">

              <div class="col-sm-4">
                      <div class="form-group">
                      <label>Purchase Order No</label>
                      <input  class="form-control js-example-basic-single" list="selectPO" [value]='selectedPO' [disabled]="edit" (keyup)="setPo($event.target.value)" id="documentNo">
                      <datalist id="selectPO" >
                      <select>
<option  *ngFor="let item of uniquePOs" [value]='item'>{{item}}</option>                          
                      </select>
                      </datalist>
                    </div>
               </div>

               <div class="col-sm-12">
                 <div class="table-responsive">
                  
                   <table class="table table-bordered" >
                      <thead class="thead-light">
      <tr>
         <th>Select</th>
         <th>Line No</th>
         <th>Shipment No</th>
         <th>Item</th>
         <th>Price</th>
         <th>PO Quantity</th>
         <th *ngIf= "invoiceMode === 'PO-GR-INV'">DO Number</th>
         <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivery Number</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivery Date</th>
       <th *ngIf= "invoiceMode === 'PO-GR-INV'">Delivered Quantity</th>
         <th>Quantity Billled</th>
         <th>Invoice Quantity</th>
      

      
    
      </tr>
   </thead>
  
<tbody>
  <tr *ngFor="let item of currPOlines;let i =index;">
    <td>   <div class=" ">
                        <input type="checkbox" class="form-controls" id="ibaccount" [(ngModel)]="item.selected" (change)="checkValue(item.selected,i)">
                        
                      </div></td>
    <td>{{item.PO_LINE_NUMBER}} </td>
    <td>{{item.PO_SHIPMENT_NUMBER}} </td>
    <td>{{item.PO_LINE_ITEM}} </td>
    <td>{{item.PRICE | number}} </td>
    <td>{{item.ORDERED_QTY | number}}</td>
    <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DO_NUMBER}}</td>
    <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERY_ORDER_NO}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERY_ORDER_DATE}}</td>
          <td *ngIf= "invoiceMode === 'PO-GR-INV'">{{item.DELIVERED_QTY | number}}</td>
    <td>{{item.BILLED_QUANTITY | number}} </td>
  
    <td> <input type="text" [disabled]='!item.selected' class="form-control" [(ngModel)]="item.QUANTITY" (ngModelChange)="checkQuantityAndUpdate(i)" /></td>


  </tr>

</tbody>



                   </table>
                 </div>
               </div>

                 
               
          </div>
          
            


 




           

 
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onModelClose()">Close</button> &nbsp; <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddButtonClicked()">Add</button>
        </div>
        
      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<!-- Footer -->
</div>
</div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>