<div class="row mb-3 pl-3 pr-3" id="grid-sections" *ngIf="viewGrid">
    <div class="col-sm-12 p-3"  id="goback">
      <div class="d-inline-flex p-2 text-center" style="margin-left: 40%;"><b><h5>Purchase Order Details</h5></b></div>
        <div class="  float-right">
           <button class="btn btn-primary btn-sm" (click)="goBackFromShip()">GO Back</button>
        </div>
     </div>
     <div class="col-sm-12">
        <div class='row'>
           <div class="col-sm-7"
           ></div>
         <div class='col-sm-1'  style="padding-top: 25px;">
            <select class="form-control" [(ngModel)]="viewCount">
               <option value='10'>10</option>
               <option value='20'>20</option>
               <option value='30'>30</option>
               <option value='40'>40</option>
               <option value='50'>50</option>
            </select>

         </div>
         <div class='col-sm-4'  style="padding-top: 30px;">
            <pagination-controls class="product-pagination" maxSize="5"
               (pageChange)="onPageChanged($event)"></pagination-controls>
         </div>
        </div>

</div>
      <div class="col-sm-12">
         <div class="row">
            <div id="accordion" class="myaccordion w-100">
               <!-- Here Starting For 1 -->

               <div class="card c1"
                  *ngFor="let element of poHeadersList | paginate: { itemsPerPage: viewCount, currentPage: page };let i=index;">
                  <div class="card-header" id="heading{{i}}">
                     <div class="mb-0">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="form-group c1">
                                 <div class="ctrl-label">Buyer Organization</div>
                                 <div class="ctrl-value">{{element.BUYER_ORGANIZATION }}</div>
                              </div>
                              <div class="form-group c4">
                                 <div class="ctrl-label">PO Number</div>
                                 <div class="ctrl-value">{{element.PO_NO }}</div>
                              </div>

                           </div>
                           <div class="col-sm-2">
                              <div class="form-group c3">
                                 <div class="ctrl-label">Buyer Unit</div>
                                 <div class="ctrl-value">{{element.BUYER_UNIT }}</div>
                              </div>

                              <div class="form-group c5">

                                 <div class="ctrl-label">PO Date</div>
                                 <div class="ctrl-value">{{element.PO_DATE }}</div>
                              </div>


                           </div>
                           <div class="col-sm-3">
                              <div class="form-group c2">
                                 <div class="ctrl-label">Buyer</div>
                                 <div class="ctrl-value">{{element.BUYER }}</div>
                              </div>
                              <div class="form-group c8">
                                 <div class="ctrl-label">Revision No</div>
                                 <div class="ctrl-value">{{element.PO_REVISION}}
                                 </div>
                              </div>


                           </div>
                           <div class="col-sm-2">
                              <div class="form-group c7">
                                 <div class="ctrl-label">Currency</div>
                                 <div class="ctrl-value">{{element.PO_CURRENCY}}
                                 </div>
                              </div>
                              <div class="form-group c6">
                                 <div class="ctrl-label">Bill to</div>
                                 <div class="ctrl-value">{{element.BILL_TO_LOCATION }}</div>
                              </div>

                           </div>
                           <div class="col-sm-2">
                              <!-- <div class="form-group c6">
                                 <div class="ctrl-label">Attachments</div>
                                 <div class="ctrl-value"><app-common-file-view [headerId]="element.PO_HEADER_ID" [type]="'PAST_PO'"></app-common-file-view></div>
                              </div> -->

                              <div class="row">
                                 <div class="col-sm-8">
                                 <div class="ctrl-label">PO Amount</div>
                                 <div class="ctrl-value">{{element.PO_AMOUNT | number}}</div>
                                 </div>
                                 <!-- <div class="col-sm-4">

                                 </div>          -->

                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="collapse{{i}}" class="bodysection border-top" attr.aria-labelledby="heading{{i}}"
                        data-parent="#accordion">
                        <div class="card-body{{i}}">
                           <div class="table-responsive  p-3">
                              <table class="table align-items-center table-flush" id="testvi{{i}}">
                                 <thead class="thead-light">
                                    <tr>
                                       <th>Line No</th>
                                       <th>Shipment No</th>
                                       <th>Item</th>

                                       <th>UOM</th>
                                       <th>Quantity Ordered</th>
                                       <th>Price</th>
                                       <th>Need By Date</th>
                                       <th>Promised Date</th>
                                       <th>Quantity Delivered/th>
                                       <th>Balance Quantity</th>
                                       <th>Delay In Days</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr *ngFor="let element1 of poHeadersList[i].list">


                                       <td>{{element1.PO_LINE_NUMBER }}</td>

                                       <td>{{element1.PO_SHIPMENT_NUMBER}} </td>

                                       <td>
                                          <div data-toggle="tooltip" title="{{element1.ITEM_DESCRIPTION }}">
                                             {{element1.PO_LINE_ITEM }}</div>
                                       </td>

                                       <td>{{element1.UOM }}</td>
                                       <td>{{element1.ORDERED_QTY | number}}</td>

                                       <td style="text-align:right">{{element1.PRICE | number}}</td>
                                       <td>{{element1.NEED_BY_DATE }}</td>
                                       <td> {{element1.PROMISED_DATE }}</td>
                                       <td> <span *ngIf="element1.RECEIVED_QTY === '0'"> {{ element1.RECEIVED_QTY | number}} </span><a *ngIf="element1.RECEIVED_QTY !== '0'" href="javascript:void(0)" (click)="clickedLineId(element1.LINE_LOCATION_ID)">{{element1.RECEIVED_QTY | number}}</a></td>
                                       <td> {{element1.BALANCE_QTY | number}}</td>
                                       <td class="text-danger"> {{element1.DELAYED_DAYS }}</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div style="align-self: center;" *ngIf="poHeadersList.length === 0">
                  <h5 class="text-gray text-center">No Purchase Order Details</h5>
               </div>
            </div>
         </div>
      </div>

      <!--Row end-->

 </div>
    <!-- <div class="row mb-3 pl-3 pr-3" id="list-sections" *ngIf="!viewGrid">
    <div class="col-sm-12 p-3"  id="goback">
      <div class="d-inline-flex p-2 text-center" style="margin-left: 40%;"><b><h5>Shippment Lot Details </h5></b></div>
       <div class="  float-right">
          <button class="btn btn-primary btn-sm" (click)="goBack()">GO Back</button>
       </div>
    </div>
    <div class="card w-100" id="list-table">
       <div class="table-responsive  p-3">
           <table class="table align-items-center table-flush" id="listtest">
           <thead class="thead-light">
           <tr>
             <th >Lot Number</th>
             <th  >Shipped Quantity</th>
              <th  >Grade</th>
                 </tr>
              </thead>
              <tbody>
               <tr  *ngFor="let element2 of viewShipmenList">

             <td>{{element2.LOT_NUMBER}}</td>
             <td>{{element2.LOT_QTY}}</td>
             <td>{{element2.QUALITY}}</td>

                 </tr>
             </tbody>
          </table>
        </div>
    </div>
</div> -->
