.background {
    /* background: url(src/assets/img/testcopy.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}
    .login-22 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

/* .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}*/

.justify-content-center {
    /* -ms-flex-pack: center !important; */
    justify-content: center !important
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}


  .bg-1 {
    background: #07315f;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 2px 0 5px -2px #888;
}



.head-login span a {
    color: #fff;
}

.login-22 .bg-img {
    /* background: rgba(0, 0, 0, 0.04) url(src/assets/img/bg-image-8.jpg) top left repeat; */
     background-size: cover;
     top: 0;
     width: 100%;
     bottom: 0;
     opacity: 1;
     z-index: 999;
  height: 400px !important;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0px;
     background-position: right;
     background-repeat: no-repeat;
     min-height: unset !important;
 }

 .row {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

 .login-22 .bg-color-13 {
    height: 400px !important;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 2px 0 5px -2px #888;
    min-height: unset !important;
   }

   .bg-2 {
    background: #1e79d7;
    padding: 15px;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 0 5px -2px #888;
}


   .login-22 .form-section{
    max-width: 400px;
    margin: 0 auto;

    width: 100%;
}
