<!-- <div class="login-22">

        <div class="row">
            <div class="col-lg-6 col-md-12 bg-img none-992">
                <div class="info">
                    <h1>Welcome to craftsman</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 bg-color-13">
                <div class="form-section">
                    <div class="logo clearfix">
                        <a href="login.html">
                            <img src="assets/img/supplierLogo.jpg" alt="logo">
                        </a>
                    </div>
                    <h3>Recover your password</h3>
                    <div class="login-inner-form">
                        <form action="#" method="GET" *ngIf="text">
                            <div class="form-group form-box">
                                <input type="email" name="email" class="input-text" placeholder="Email Address"
                                [(ngModel)]="email">

                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" (click)="resetPassword()" class="btn-md btn-theme btn-block">Send Me Email</button>
                            </div>
                        </form>
                        <form *ngIf="!text">
                            <h3>We received a request to change the password to your supplier portal
                                account. You can do so by clicking the link and reset your password.
                                Thank you.</h3>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container> -->

<div>
    <div class="page_loader"></div>
    <div class="login-22">
        <div class="container-fluid h-100">
            <div class="row  justify-content-center align-items-center h-100">
                <div class="col-sm-8 bg-1">
                    <div class="head-login">Recover your password</div>
                </div>
            </div>

             <div class="row  justify-content-center align-items-center h-100">
                <div class="col-lg-4 col-md-12 bg-img none-992">
                  <img class = "bg-img" src="{{image}}" alt="logo">
                </div>
                <div class="col-lg-4 col-md-12 bg-color-13" >
                   <div class="form-section">
                    <div class="logo clearfix">
                      <a href="login.html">
                        <img src="{{logo}}" alt="logo">
                      </a>
                    </div>
                        <h3>Recover your password
                        </h3>
                        <div class="login-inner-form user">
                            <form action="#" method="GET" *ngIf="text">
                                <div class="form-group form-box">
                                    <input type="email" name="email" class="input-text" placeholder="Email Address"
                                    [(ngModel)]="email">

                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" (click)="resetPassword()" class="btn-md btn-theme btn-block">Send Me Email</button>
                                </div>
                            </form>
                            <form *ngIf="!text">
                                <h3>We received a request to change the password to your supplier portal
                                    account. You can do so by clicking the link and reset your password.
                                    Thank you.</h3>
                            </form>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row  justify-content-center align-items-center h-100">
                <div class="col-md-8 bg-2">
                    <div class="head-login"><span class="d-block text-center text-sm-left d-sm-inline-block">© 2021 <a
                                href="{{website}}" target="_blank"> {{copyright}}</a> All Rights
                            Reserved.</span></div>
                </div>
            </div>

        </div>

    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#1459cd" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<notifier-container></notifier-container>
